openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: hourlyprelimreserveprice
  description: 7 path template(s) under /hourlyprelimreserveprice in the published ISO New England Web Services API v1.1 documentation.
paths:
  /hourlyprelimreserveprice:
    get:
      operationId: getHourlyprelimreserveprice
      summary: Default resource
      description: Default resource. Redirects to Hourly Prelim Reserve Price.
      tags:
      - hourlyprelimreserveprice
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyprelimreserveprice.html
        harvested: '2026-07-27'
  /hourlyprelimreserveprice/current:
    get:
      operationId: getHourlyprelimreservepriceCurrent
      summary: Get the current Hourly Prelim Reserve Prices for all locations
      description: Get the current Hourly Prelim Reserve Prices for all locations.
      tags:
      - hourlyprelimreserveprice
      responses:
        '200':
          description: a PrelimHourlyReservePricesElement containing the current Hourly Prelim Reserve Prices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PrelimHourlyReservePrices'
            application/json:
              schema:
                $ref: '#/components/schemas/PrelimHourlyReservePrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyprelimreserveprice.current.html
        harvested: '2026-07-27'
      x-xml-element: PrelimHourlyReservePrices
  /hourlyprelimreserveprice/current/locationType/{locationType}:
    get:
      operationId: getHourlyprelimreservepriceCurrentLocationTypeByLocationType
      summary: Get the current Hourly Prelim Reserve Prices for a given location type
      description: Get the current Hourly Prelim Reserve Prices for a given location type.
      tags:
      - hourlyprelimreserveprice
      responses:
        '200':
          description: a PrelimHourlyReservePricesElement containing the current Hourly Prelim Reserve Prices for the given location.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PrelimHourlyReservePrices'
            application/json:
              schema:
                $ref: '#/components/schemas/PrelimHourlyReservePrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyprelimreserveprice.current.locationType.locationType.html
        harvested: '2026-07-27'
      x-xml-element: PrelimHourlyReservePrices
      parameters:
      - name: locationType
        in: path
        required: true
        schema:
          type: string
        description: The locationType
  /hourlyprelimreserveprice/current/reserveZone/{reserveZoneId}:
    get:
      operationId: getHourlyprelimreservepriceCurrentReserveZoneByReserveZoneId
      summary: Get the current Hourly Prelim Reserve Prices for a given location
      description: Get the current Hourly Prelim Reserve Prices for a given location.
      tags:
      - hourlyprelimreserveprice
      responses:
        '200':
          description: a PrelimHourlyReservePriceElement containing the current Hourly Prelim Reserve Price for the given ReserveZoneId.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PrelimHourlyReservePrice'
            application/json:
              schema:
                $ref: '#/components/schemas/PrelimHourlyReservePrice'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyprelimreserveprice.current.reserveZone.reserveZoneId.html
        harvested: '2026-07-27'
      x-xml-element: PrelimHourlyReservePrice
      parameters:
      - name: reserveZoneId
        in: path
        required: true
        schema:
          type: string
  /hourlyprelimreserveprice/day/{day}:
    get:
      operationId: getHourlyprelimreservepriceDayByDay
      summary: Get an entire days Hourly Prelim Reserve Prices for a given Date
      description: Get an entire days Hourly Prelim Reserve Prices for a given Date. Only the past [?] days are supported.
      tags:
      - hourlyprelimreserveprice
      responses:
        '200':
          description: a PrelimHourlyReservePricesElement containing the Hourly Prelim Reserve Prices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PrelimHourlyReservePrices'
            application/json:
              schema:
                $ref: '#/components/schemas/PrelimHourlyReservePrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyprelimreserveprice.day.day.html
        harvested: '2026-07-27'
      x-xml-element: PrelimHourlyReservePrices
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /hourlyprelimreserveprice/day/{day}/reserveZone/{reserveZoneId}:
    get:
      operationId: getHourlyprelimreservepriceDayByDayReserveZoneByReserveZoneId
      summary: Get an entire days Hourly Prelim Reserve Prices for a given Reserve Zone
      description: Get an entire days Hourly Prelim Reserve Prices for a given Reserve Zone. Only the past [?] days are supported.
      tags:
      - hourlyprelimreserveprice
      responses:
        '200':
          description: a PrelimHourlyReservePricesElement containing the Hourly Prelim Reserve Prices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PrelimHourlyReservePrices'
            application/json:
              schema:
                $ref: '#/components/schemas/PrelimHourlyReservePrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyprelimreserveprice.day.day.reserveZone.reserveZoneId.html
        harvested: '2026-07-27'
      x-xml-element: PrelimHourlyReservePrices
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: reserveZoneId
        in: path
        required: true
        schema:
          type: string
        description: The reserve Zone Id
  /hourlyprelimreserveprice/info:
    get:
      operationId: getHourlyprelimreservepriceInfo
      summary: Get the Service Info for Hourly Prelim Reserve Price
      description: Get the Service Info for Hourly Prelim Reserve Price.
      tags:
      - hourlyprelimreserveprice
      responses:
        '200':
          description: the ServiceInfoElement for Hourly Prelim Reserve Price.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyprelimreserveprice.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    PrelimHourlyReservePrice:
      $ref: '#/components/schemas/ReservePrice'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_PrelimHourlyReservePrice
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    PrelimHourlyReservePrices:
      type: object
      properties:
        PrelimHourlyReservePrice:
          type: array
          items:
            $ref: '#/components/schemas/PrelimHourlyReservePrice'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_PrelimHourlyReservePrices
    ReservePrice:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        ReserveZoneId:
          type: integer
        ReserveZoneName:
          type: string
        TenMinSpinRequirement:
          type: number
        Total10MinRequirement:
          type: number
        Total30MinRequirement:
          type: number
        TmsrDesignatedMw:
          type: number
        TmnsrDesignatedMw:
          type: number
        TmorDesignatedMw:
          type: number
        TmsrClearingPrice:
          type: number
        TmnsrClearingPrice:
          type: number
        TmorClearingPrice:
          type: number
        IntervalBeginDate:
          type: string
          format: date-time
      required:
      - BeginDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ReservePrice
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
