openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Pricerespevent API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: pricerespevent
  description: 5 path template(s) under /pricerespevent in the published ISO New England Web Services API v1.1 documentation.
paths:
  /pricerespevent:
    get:
      operationId: getPricerespevent
      summary: Default resource
      description: Default resource. Redirects to Price Resp Event Info.
      tags:
      - pricerespevent
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.pricerespevent.html
        harvested: '2026-07-27'
  /pricerespevent/current:
    get:
      operationId: getPricerespeventCurrent
      summary: Get the current Price Resp Events for Hub, Load Zones, and External Nodes
      description: Get the current Price Resp Events for Hub, Load Zones, and External Nodes.
      tags:
      - pricerespevent
      responses:
        '200':
          description: a PriceRespEventsElement containing the current Price Resp Events.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceRespEvents'
            application/json:
              schema:
                $ref: '#/components/schemas/PriceRespEvents'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.pricerespevent.current.html
        harvested: '2026-07-27'
      x-xml-element: PriceRespEvents
  /pricerespevent/info:
    get:
      operationId: getPricerespeventInfo
      summary: Get the Service Info for Price Resp Events
      description: Get the Service Info for Price Resp Events.
      tags:
      - pricerespevent
      responses:
        '200':
          description: the ServiceInfoElement for Price Resp Events.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.pricerespevent.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /pricerespevent/month/{month}:
    get:
      operationId: getPricerespeventMonthByMonth
      summary: Get an entire days Price Resp Events for a date range
      description: Get an entire days Price Resp Events for a date range. Only the past [?] days are supported.
      tags:
      - pricerespevent
      responses:
        '200':
          description: a PriceRespEventsElement containing the Price Resp Events.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceRespEvents'
            application/json:
              schema:
                $ref: '#/components/schemas/PriceRespEvents'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.pricerespevent.month.month.html
        harvested: '2026-07-27'
      x-xml-element: PriceRespEvents
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
  /pricerespevent/month/{month}/location/{location}:
    get:
      operationId: getPricerespeventMonthByMonthLocationByLocation
      summary: Get an entire days Price Resp Events for a given location
      description: Get an entire days Price Resp Events for a given location. Only the past [?] days are supported.
      tags:
      - pricerespevent
      responses:
        '200':
          description: a PriceRespEventsElement containing the Price Resp Events.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceRespEvents'
            application/json:
              schema:
                $ref: '#/components/schemas/PriceRespEvents'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.pricerespevent.month.month.location.location.html
        harvested: '2026-07-27'
      x-xml-element: PriceRespEvents
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
        description: The location id
components:
  schemas:
    PriceRespEvents:
      type: object
      properties:
        PriceRespEvent:
          type: array
          items:
            $ref: '#/components/schemas/PriceRespEvent'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_PriceRespEvents
    PriceRespEvent:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Program:
          type: string
        EventId:
          type: number
        Location:
          $ref: '#/components/schemas/LocationRef'
        RegionId:
          type: integer
        StartTime:
          type: string
          format: date-time
        RestoreTime:
          type: string
          format: date-time
      required:
      - BeginDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_PriceRespEvent
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
