openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Hbimportexport API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: hbimportexport
  description: 4 path template(s) under /hbimportexport in the published ISO New England Web Services API v1.1 documentation.
paths:
  /hbimportexport:
    get:
      operationId: getHbimportexport
      summary: Default resource
      description: Default resource. Redirects to HbImportExport Info.
      tags:
      - hbimportexport
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbimportexport.html
        harvested: '2026-07-27'
  /hbimportexport/info:
    get:
      operationId: getHbimportexportInfo
      summary: Get the Service Info for HbImportExport
      description: Get the Service Info for HbImportExport.
      tags:
      - hbimportexport
      responses:
        '200':
          description: the ServiceInfoElement for HbImportExports.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbimportexport.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /hbimportexport/marketType/{marketType}/current:
    get:
      operationId: getHbimportexportMarketTypeByMarketTypeCurrent
      summary: Get current HbImportExports
      description: Get current HbImportExports.
      tags:
      - hbimportexport
      responses:
        '200':
          description: a HbImportExportsElement containing the current HbImportExports.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HbImportExports'
            application/json:
              schema:
                $ref: '#/components/schemas/HbImportExports'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbimportexport.marketType.marketType.current.html
        harvested: '2026-07-27'
      x-xml-element: HbImportExports
      parameters:
      - name: marketType
        in: path
        required: true
        schema:
          type: string
  /hbimportexport/marketType/{marketType}/day/{day}:
    get:
      operationId: getHbimportexportMarketTypeByMarketTypeDayByDay
      summary: Get an entire days HbImportExports
      description: Get an entire days HbImportExports.
      tags:
      - hbimportexport
      responses:
        '200':
          description: a HbImportExportsElement containing the HbImportExports.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HbImportExports'
            application/json:
              schema:
                $ref: '#/components/schemas/HbImportExports'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbimportexport.marketType.marketType.day.day.html
        harvested: '2026-07-27'
      x-xml-element: HbImportExports
      parameters:
      - name: marketType
        in: path
        required: true
        schema:
          type: string
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
components:
  schemas:
    HbImportExports:
      type: object
      properties:
        HbImportExport:
          type: array
          items:
            $ref: '#/components/schemas/HbImportExport'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HbImportExports
    HbImportExport:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        MarketType:
          type: string
        MaskedCustomerId:
          type: integer
        MaskedSourceId:
          type: integer
        MaskedSinkId:
          type: integer
        EmergencyFlag:
          type: string
          enum:
          - Y
          - N
          - '-'
        Direction:
          type: string
        TransactionType:
          type: string
        Price:
          type: number
        Mw:
          type: number
      required:
      - BeginDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HbImportExport
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
