openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Hbfcmmra API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: hbfcmmra
  description: 4 path template(s) under /hbfcmmra in the published ISO New England Web Services API v1.1 documentation.
paths:
  /hbfcmmra:
    get:
      operationId: getHbfcmmra
      summary: Default resource
      description: Default resource. Redirects to FCM Monthly Reconfiguration Auction Historical Bids Info.
      tags:
      - hbfcmmra
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbfcmmra.html
        harvested: '2026-07-27'
  /hbfcmmra/current:
    get:
      operationId: getHbfcmmraCurrent
      summary: Get the current Monthly Reconfiguration Auction Historical Bids
      description: Get the current Monthly Reconfiguration Auction Historical Bids.
      tags:
      - hbfcmmra
      responses:
        '200':
          description: a HbfcmmrasElement containing the current Monthly Reconfiguration Auction Historical Bids.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Hbfcmmras'
            application/json:
              schema:
                $ref: '#/components/schemas/Hbfcmmras'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbfcmmra.current.html
        harvested: '2026-07-27'
      x-xml-element: Hbfcmmras
  /hbfcmmra/info:
    get:
      operationId: getHbfcmmraInfo
      summary: Get the Service Info for Monthly Reconfiguration Auction Historical Bids
      description: Get the Service Info for Monthly Reconfiguration Auction Historical Bids.
      tags:
      - hbfcmmra
      responses:
        '200':
          description: the ServiceInfoElement for FCM Monthly Reconfiguration Auction Historical Bids.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbfcmmra.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /hbfcmmra/month/{month}:
    get:
      operationId: getHbfcmmraMonthByMonth
      summary: Get Monthly Reconfiguration Auction Historical Bids for a given month
      description: Get Monthly Reconfiguration Auction Historical Bids for a given month.
      tags:
      - hbfcmmra
      responses:
        '200':
          description: a HbfcmmrasElement containing the Monthly Reconfiguration Auction Historical Bids.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Hbfcmmras'
            application/json:
              schema:
                $ref: '#/components/schemas/Hbfcmmras'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbfcmmra.month.month.html
        harvested: '2026-07-27'
      x-xml-element: Hbfcmmras
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
        description: The month to retrieve data for (YYYYMM)
components:
  schemas:
    Hbfcmmra:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        AucType:
          type: string
        MaskResID:
          type: number
        MaskLPID:
          type: number
        MaskCZID:
          type: number
        ResType:
          type: string
        MaskIntfcID:
          type: number
        BidType:
          type: string
        Seg1Mw:
          type: number
        Seg1Price:
          type: number
        Seg2Mw:
          type: number
        Seg2Price:
          type: number
        Seg3Mw:
          type: number
        Seg3Price:
          type: number
        Seg4Mw:
          type: number
        Seg4Price:
          type: number
        Seg5Mw:
          type: number
        Seg5Price:
          type: number
      required:
      - BeginDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Hbfcmmra
    Hbfcmmras:
      type: object
      properties:
        Hbfcmmra:
          type: array
          items:
            $ref: '#/components/schemas/Hbfcmmra'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Hbfcmmras
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
