openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Hbdayaheadardbid API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: hbdayaheadardbid
  description: 4 path template(s) under /hbdayaheadardbid in the published ISO New England Web Services API v1.1 documentation.
paths:
  /hbdayaheadardbid:
    get:
      operationId: getHbdayaheadardbid
      summary: Default resource
      description: Default resource. Redirects to HbDayAheadArdBidAccessor Info.
      tags:
      - hbdayaheadardbid
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbdayaheadardbid.html
        harvested: '2026-07-27'
  /hbdayaheadardbid/current:
    get:
      operationId: getHbdayaheadardbidCurrent
      summary: GET /hbdayaheadardbid/current
      description: (no documentation provided)
      tags:
      - hbdayaheadardbid
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HbDayAheadArdBids'
            application/json:
              schema:
                $ref: '#/components/schemas/HbDayAheadArdBids'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbdayaheadardbid.current.html
        harvested: '2026-07-27'
      x-xml-element: HbDayAheadArdBids
  /hbdayaheadardbid/day/{day}:
    get:
      operationId: getHbdayaheadardbidDayByDay
      summary: Get an entire days HbDayAheadEnergyOffers
      description: Get an entire days HbDayAheadEnergyOffers.
      tags:
      - hbdayaheadardbid
      responses:
        '200':
          description: a HbDayAheadEnergyOfferElement containing the HbDayAheadEnergyOffers.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HbDayAheadArdBids'
            application/json:
              schema:
                $ref: '#/components/schemas/HbDayAheadArdBids'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbdayaheadardbid.day.day.html
        harvested: '2026-07-27'
      x-xml-element: HbDayAheadArdBids
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /hbdayaheadardbid/info:
    get:
      operationId: getHbdayaheadardbidInfo
      summary: Get the Service Info for HbDayAheadArdBid
      description: Get the Service Info for HbDayAheadArdBid.
      tags:
      - hbdayaheadardbid
      responses:
        '200':
          description: the ServiceInfoElement for HbDayAheadArdBids.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbdayaheadardbid.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    HbDayAheadArdBids:
      type: object
      properties:
        HbDayAheadArdBid:
          type: array
          items:
            $ref: '#/components/schemas/HbArdBid'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HbDayAheadArdBids
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    HbArdBid:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        MaskedParticipantId:
          type: integer
        MaskedAssetId:
          type: integer
        Claim10Mw:
          type: number
        Claim30Mw:
          type: number
        MinimumConsumption:
          type: number
        MaximumConsumption:
          type: number
        Segments:
          $ref: '#/components/schemas/Segments'
        UnitStatus:
          type: string
          enum:
          - MUST_RUN
          - ECONOMIC
          - UNAVAILABLE
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HbArdBid
    Segment:
      type: object
      properties:
        Price:
          type: number
        Mw:
          type: number
        '@Number':
          type: integer
      required:
      - '@Number'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Segment
    Segments:
      type: object
      properties:
        Segment:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Segments
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
