openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Hbfcmara API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: hbfcmara
  description: 5 path template(s) under /hbfcmara in the published ISO New England Web Services API v1.1 documentation.
paths:
  /hbfcmara:
    get:
      operationId: getHbfcmara
      summary: Default resource
      description: Default resource. Redirects to FCM Annual Reconfiguration Auction Historical Bids Info.
      tags:
      - hbfcmara
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbfcmara.html
        harvested: '2026-07-27'
  /hbfcmara/cp/{cp}:
    get:
      operationId: getHbfcmaraCpByCp
      summary: Get an entire days Annual Reconfiguration Auction Historical Bids for a given cp
      description: Get an entire days Annual Reconfiguration Auction Historical Bids for a given cp.
      tags:
      - hbfcmara
      responses:
        '200':
          description: a HbfcmarasElement containing the Annual Reconfiguration Auction Historical Bids.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Hbfcmaras'
            application/json:
              schema:
                $ref: '#/components/schemas/Hbfcmaras'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbfcmara.cp.cp.html
        harvested: '2026-07-27'
      x-xml-element: Hbfcmaras
      parameters:
      - name: cp
        in: path
        required: true
        schema:
          type: string
        description: The cp to retrieve data for (YYYY-YY)
  /hbfcmara/cp/{cp}/ara/{ara}:
    get:
      operationId: getHbfcmaraCpByCpAraByAra
      summary: Get an entire days Annual Reconfiguration Auction Historical Bids for a given…
      description: Get an entire days Annual Reconfiguration Auction Historical Bids for a given cp and ara.
      tags:
      - hbfcmara
      responses:
        '200':
          description: a HbfcmarasElement containing the Annual Reconfiguration Auction Historical Bids.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Hbfcmaras'
            application/json:
              schema:
                $ref: '#/components/schemas/Hbfcmaras'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbfcmara.cp.cp.ara.ara.html
        harvested: '2026-07-27'
      x-xml-element: Hbfcmaras
      parameters:
      - name: cp
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYY-YY)
      - name: ara
        in: path
        required: true
        schema:
          type: string
        description: The ara
  /hbfcmara/current:
    get:
      operationId: getHbfcmaraCurrent
      summary: Get the current Annual Reconfiguration Auction Historical Bids for Hub, Load…
      description: Get the current Annual Reconfiguration Auction Historical Bids for Hub, Load Zones, and External Nodes.
      tags:
      - hbfcmara
      responses:
        '200':
          description: a HbfcmarasElement containing the current Annual Reconfiguration Auction Historical Bids.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Hbfcmaras'
            application/json:
              schema:
                $ref: '#/components/schemas/Hbfcmaras'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbfcmara.current.html
        harvested: '2026-07-27'
      x-xml-element: Hbfcmaras
  /hbfcmara/info:
    get:
      operationId: getHbfcmaraInfo
      summary: Get the Service Info for Annual Reconfiguration Auction Historical Bids
      description: Get the Service Info for Annual Reconfiguration Auction Historical Bids.
      tags:
      - hbfcmara
      responses:
        '200':
          description: the ServiceInfoElement for FCM Annual Reconfiguration Auction Historical Bids.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbfcmara.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    Hbfcmara:
      type: object
      properties:
        Cp:
          type: string
        AucType:
          type: string
        MaskResID:
          type: number
        MaskLPID:
          type: number
        MaskCZID:
          type: number
        ResType:
          type: string
        MaskIntfcID:
          type: number
        BidType:
          type: string
        Seg1Mw:
          type: number
        Seg1Price:
          type: number
        Seg2Mw:
          type: number
        Seg2Price:
          type: number
        Seg3Mw:
          type: number
        Seg3Price:
          type: number
        Seg4Mw:
          type: number
        Seg4Price:
          type: number
        Seg5Mw:
          type: number
        Seg5Price:
          type: number
      required:
      - Cp
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Hbfcmara
    Hbfcmaras:
      type: object
      properties:
        Hbfcmara:
          type: array
          items:
            $ref: '#/components/schemas/Hbfcmara'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Hbfcmaras
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
