openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Hourlysysload API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: hourlysysload
  description: 8 path template(s) under /hourlysysload in the published ISO New England Web Services API v1.1 documentation.
paths:
  /hourlysysload:
    get:
      operationId: getHourlysysload
      summary: Default resource
      description: Default resource. Redirects to Load Forecast Info .
      tags:
      - hourlysysload
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlysysload.html
        harvested: '2026-07-27'
  /hourlysysload/current:
    get:
      operationId: getHourlysysloadCurrent
      summary: Get the current Hourly System Load
      description: Get the current Hourly System Load .
      tags:
      - hourlysysload
      responses:
        '200':
          description: a HourlySystemLoadsElement containing the current Hourly System Loads.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlySystemLoads'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlySystemLoads'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlysysload.current.html
        harvested: '2026-07-27'
      x-xml-element: HourlySystemLoads
  /hourlysysload/current/location/{locationId}:
    get:
      operationId: getHourlysysloadCurrentLocationByLocationId
      summary: Get the current Hourly System Load for a given location
      description: Get the current Hourly System Load for a given location.
      tags:
      - hourlysysload
      responses:
        '200':
          description: a HourlySystemLoadElement containing the current Hourly System Load for the given location.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlySystemLoad'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlySystemLoad'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlysysload.current.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: HourlySystemLoad
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /hourlysysload/current/locationType/{locationType}:
    get:
      operationId: getHourlysysloadCurrentLocationTypeByLocationType
      summary: Get the current Hourly System Load for a given location type
      description: Get the current Hourly System Load for a given location type.
      tags:
      - hourlysysload
      responses:
        '200':
          description: a HourlySystemLoadsElement containing the current Hourly System Loads for the given location.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlySystemLoads'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlySystemLoads'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlysysload.current.locationType.locationType.html
        harvested: '2026-07-27'
      x-xml-element: HourlySystemLoads
      parameters:
      - name: locationType
        in: path
        required: true
        schema:
          type: string
        description: The locationType
  /hourlysysload/day/{day}:
    get:
      operationId: getHourlysysloadDayByDay
      summary: Get the current RT Hourly Sysload for a given Date
      description: Get the current RT Hourly Sysload for a given Date.
      tags:
      - hourlysysload
      responses:
        '200':
          description: a HourlyLmpsElement containing the current RT Hourly Sysload for the given date .
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlySystemLoads'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlySystemLoads'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlysysload.day.day.html
        harvested: '2026-07-27'
      x-xml-element: HourlySystemLoads
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /hourlysysload/day/{day}/hour/{sh}:
    get:
      operationId: getHourlysysloadDayByDayHourBySh
      summary: GET /hourlysysload/day/{day}/hour/{sh}
      description: (no documentation provided)
      tags:
      - hourlysysload
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlySystemLoads'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlySystemLoads'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlysysload.day.day.hour.sh.html
        harvested: '2026-07-27'
      x-xml-element: HourlySystemLoads
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
      - name: sh
        in: path
        required: true
        schema:
          type: string
  /hourlysysload/day/{day}/location/{locationId}:
    get:
      operationId: getHourlysysloadDayByDayLocationByLocationId
      summary: Get an entire days Hourly System Load forgiven location
      description: Get an entire days Hourly System Load forgiven location. Only the past [?] days are supported.
      tags:
      - hourlysysload
      responses:
        '200':
          description: a HourlySystemLoadsElement containing the Hourly System Loads.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlySystemLoads'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlySystemLoads'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlysysload.day.day.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: HourlySystemLoads
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /hourlysysload/info:
    get:
      operationId: getHourlysysloadInfo
      summary: Get the Service Info for Hourly Sys Load
      description: Get the Service Info for Hourly Sys Load.
      tags:
      - hourlysysload
      responses:
        '200':
          description: the ServiceInfoElement for Hourly Sys Load.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlysysload.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    HourlySystemLoad:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Location:
          $ref: '#/components/schemas/LocationRef'
        Load:
          type: number
        NativeLoad:
          type: number
        ArdDemand:
          type: number
      required:
      - BeginDate
      - Location
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HourlySystemLoad
    HourlySystemLoads:
      type: object
      properties:
        HourlySystemLoad:
          type: array
          items:
            $ref: '#/components/schemas/HourlySystemLoad'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HourlySystemLoads
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
