openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Whlsecost API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: whlsecost
  description: 8 path template(s) under /whlsecost in the published ISO New England Web Services API v1.1 documentation.
paths:
  /whlsecost:
    get:
      operationId: getWhlsecost
      summary: Default resource
      description: Default resource. Redirects to WhlseCost Info.
      tags:
      - whlsecost
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.whlsecost.html
        harvested: '2026-07-27'
  /whlsecost/hourly/current/location/{location}:
    get:
      operationId: getWhlsecostHourlyCurrentLocationByLocation
      summary: Get the current WhlseCosts
      description: Get the current WhlseCosts.
      tags:
      - whlsecost
      responses:
        '200':
          description: a WhlseCostsElement containing the current WhlseCosts.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WhlseCosts'
            application/json:
              schema:
                $ref: '#/components/schemas/WhlseCosts'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.whlsecost.hourly.current.location.location.html
        harvested: '2026-07-27'
      x-xml-element: WhlseCosts
      parameters:
      - name: location
        in: path
        required: true
        schema:
          type: string
        description: The location to retrieve data for
  /whlsecost/hourly/month/{month}/location/{location}:
    get:
      operationId: getWhlsecostHourlyMonthByMonthLocationByLocation
      summary: Get the current WhlseCosts
      description: Get the current WhlseCosts.
      tags:
      - whlsecost
      responses:
        '200':
          description: a WhlseCostsElement containing the current WhlseCosts.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WhlseCosts'
            application/json:
              schema:
                $ref: '#/components/schemas/WhlseCosts'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.whlsecost.hourly.month.month.location.location.html
        harvested: '2026-07-27'
      x-xml-element: WhlseCosts
      parameters:
      - name: location
        in: path
        required: true
        schema:
          type: string
        description: The location to retrieve data for
      - name: month
        in: path
        required: true
        schema:
          type: string
  /whlsecost/info:
    get:
      operationId: getWhlsecostInfo
      summary: Get the Service Info for WhlseCosts
      description: Get the Service Info for WhlseCosts.
      tags:
      - whlsecost
      responses:
        '200':
          description: the ServiceInfoElement for WhlseCosts.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.whlsecost.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /whlsecost/monthly/current/location/{location}:
    get:
      operationId: getWhlsecostMonthlyCurrentLocationByLocation
      summary: Get the current WhlseCosts
      description: Get the current WhlseCosts.
      tags:
      - whlsecost
      responses:
        '200':
          description: a WhlseCostsElement containing the current WhlseCosts.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WhlseCosts'
            application/json:
              schema:
                $ref: '#/components/schemas/WhlseCosts'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.whlsecost.monthly.current.location.location.html
        harvested: '2026-07-27'
      x-xml-element: WhlseCosts
      parameters:
      - name: location
        in: path
        required: true
        schema:
          type: string
        description: The location to retrieve data for
  /whlsecost/monthly/month/{month}/location/{location}:
    get:
      operationId: getWhlsecostMonthlyMonthByMonthLocationByLocation
      summary: Get the current WhlseCosts
      description: Get the current WhlseCosts.
      tags:
      - whlsecost
      responses:
        '200':
          description: a WhlseCostsElement containing the current WhlseCosts.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WhlseCosts'
            application/json:
              schema:
                $ref: '#/components/schemas/WhlseCosts'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.whlsecost.monthly.month.month.location.location.html
        harvested: '2026-07-27'
      x-xml-element: WhlseCosts
      parameters:
      - name: location
        in: path
        required: true
        schema:
          type: string
        description: The location to retrieve data for
      - name: month
        in: path
        required: true
        schema:
          type: string
  /whlsecost/yearly/current/location/{location}:
    get:
      operationId: getWhlsecostYearlyCurrentLocationByLocation
      summary: Get the current WhlseCosts
      description: Get the current WhlseCosts.
      tags:
      - whlsecost
      responses:
        '200':
          description: a WhlseCostsElement containing the current WhlseCosts.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WhlseCosts'
            application/json:
              schema:
                $ref: '#/components/schemas/WhlseCosts'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.whlsecost.yearly.current.location.location.html
        harvested: '2026-07-27'
      x-xml-element: WhlseCosts
      parameters:
      - name: location
        in: path
        required: true
        schema:
          type: string
        description: The location to retrieve data for
  /whlsecost/yearly/year/{year}/location/{location}:
    get:
      operationId: getWhlsecostYearlyYearByYearLocationByLocation
      summary: Get the current WhlseCosts
      description: Get the current WhlseCosts.
      tags:
      - whlsecost
      responses:
        '200':
          description: a WhlseCostsElement containing the current WhlseCosts.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WhlseCosts'
            application/json:
              schema:
                $ref: '#/components/schemas/WhlseCosts'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.whlsecost.yearly.year.year.location.location.html
        harvested: '2026-07-27'
      x-xml-element: WhlseCosts
      parameters:
      - name: location
        in: path
        required: true
        schema:
          type: string
        description: The location to retrieve data for
      - name: year
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    WhlseCosts:
      type: object
      properties:
        WhlseCost:
          type: array
          items:
            $ref: '#/components/schemas/WhlseCost'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_WhlseCosts
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    WhlseCost:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Hour:
          type: string
        OnOff:
          type: string
        Location:
          $ref: '#/components/schemas/LocationRef'
        Lmp:
          type: number
        Capacity:
          type: number
        FirstC:
          type: number
        SecondC:
          type: number
        Regulation:
          type: number
        FwdRsv:
          type: number
        RtRsv:
          type: number
        Inadv:
          type: number
        MLRF:
          type: number
        ARR:
          type: number
        DRRCost:
          type: number
        PRD:
          type: number
        Sched2:
          type: number
        Sched3:
          type: number
        NEPOOL:
          type: number
        TotalCost:
          type: number
        RTLO:
          type: number
      required:
      - BeginDate
      - Hour
      - OnOff
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_WhlseCost
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
