openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: sevendaywindpowerforecast
  description: 4 path template(s) under /sevendaywindpowerforecast in the published ISO New England Web Services API v1.1 documentation.
paths:
  /sevendaywindpowerforecast:
    get:
      operationId: getSevendaywindpowerforecast
      summary: Default resource
      description: Default resource. Redirects to SDF.
      tags:
      - sevendaywindpowerforecast
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.sevendaywindpowerforecast.html
        harvested: '2026-07-27'
  /sevendaywindpowerforecast/current:
    get:
      operationId: getSevendaywindpowerforecastCurrent
      summary: Get the current SDWPHF
      description: Get the current SDWPHF.
      tags:
      - sevendaywindpowerforecast
      responses:
        '200':
          description: a SevenDayForecastsElement containing the current SDFs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SevenDayWindForecasts'
            application/json:
              schema:
                $ref: '#/components/schemas/SevenDayWindForecasts'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.sevendaywindpowerforecast.current.html
        harvested: '2026-07-27'
      x-xml-element: SevenDayWindForecasts
  /sevendaywindpowerforecast/day/{day}:
    get:
      operationId: getSevendaywindpowerforecastDayByDay
      summary: Get most recent Day SDFs
      description: Get most recent Day SDFs.
      tags:
      - sevendaywindpowerforecast
      responses:
        '200':
          description: a SevenDayWindForecastsElement containing the SDFs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SevenDayWindForecasts'
            application/json:
              schema:
                $ref: '#/components/schemas/SevenDayWindForecasts'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.sevendaywindpowerforecast.day.day.html
        harvested: '2026-07-27'
      x-xml-element: SevenDayWindForecasts
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: Retrieve data for the day in(YYYYMMDD)
  /sevendaywindpowerforecast/info:
    get:
      operationId: getSevendaywindpowerforecastInfo
      summary: Get the Service Info for SDF
      description: Get the Service Info for SDF.
      tags:
      - sevendaywindpowerforecast
      responses:
        '200':
          description: the ServiceInfoElement for SDWPHF.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.sevendaywindpowerforecast.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    SevenDayWindForecasts:
      type: object
      properties:
        SevenDayWindForecast:
          type: array
          items:
            $ref: '#/components/schemas/SevenDayWindForecast'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_SevenDayWindForecasts
    MarketDays:
      type: object
      properties:
        MarketDate:
          type: string
          format: date-time
        MarketDateInfo:
          $ref: '#/components/schemas/MarketDateInfo'
        '@Day':
          type: integer
      required:
      - MarketDate
      - '@Day'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_MarketDays
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    MarketDateData:
      type: object
      properties:
        HourEnding:
          type: string
        WindPowerForecast:
          type: number
      required:
      - WindPowerForecast
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_MarketDateData
    MarketDateInfo:
      type: object
      properties:
        MarketDateData:
          type: array
          items:
            $ref: '#/components/schemas/MarketDateData'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_MarketDateInfo
    SevenDayWindForecast:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        MarketDays:
          type: array
          items:
            $ref: '#/components/schemas/MarketDays'
        CreationDate:
          type: string
          format: date-time
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_SevenDayWindForecast
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
