openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: hbdayaheadloadresponseoffer
  description: 4 path template(s) under /hbdayaheadloadresponseoffer in the published ISO New England Web Services API v1.1 documentation.
paths:
  /hbdayaheadloadresponseoffer:
    get:
      operationId: getHbdayaheadloadresponseoffer
      summary: Default resource
      description: Default resource. Redirects to HbDayAheadLoadResponseOffer Info.
      tags:
      - hbdayaheadloadresponseoffer
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbdayaheadloadresponseoffer.html
        harvested: '2026-07-27'
  /hbdayaheadloadresponseoffer/current:
    get:
      operationId: getHbdayaheadloadresponseofferCurrent
      summary: Get the current HbDayAheadLoadResponseOffer
      description: Get the current HbDayAheadLoadResponseOffer.
      tags:
      - hbdayaheadloadresponseoffer
      responses:
        '200':
          description: a HbDayAheadLoadResponseOfferElement containing the current HbDayAheadLoadResponseOffer.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HbDayAheadLoadResponseOffers'
            application/json:
              schema:
                $ref: '#/components/schemas/HbDayAheadLoadResponseOffers'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbdayaheadloadresponseoffer.current.html
        harvested: '2026-07-27'
      x-xml-element: HbDayAheadLoadResponseOffers
  /hbdayaheadloadresponseoffer/info:
    get:
      operationId: getHbdayaheadloadresponseofferInfo
      summary: Get the Service Info for HbDayAheadLoadResponseOfferAccessor
      description: Get the Service Info for HbDayAheadLoadResponseOfferAccessor.
      tags:
      - hbdayaheadloadresponseoffer
      responses:
        '200':
          description: the ServiceInfoElement for HbDayAheadLoadResponseOfferAccessor.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbdayaheadloadresponseoffer.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /hbdayaheadloadresponseoffer/month/{month}:
    get:
      operationId: getHbdayaheadloadresponseofferMonthByMonth
      summary: Get an entire months HbDayAheadLoadResponseOffer
      description: Get an entire months HbDayAheadLoadResponseOffer.
      tags:
      - hbdayaheadloadresponseoffer
      responses:
        '200':
          description: a containing the HbDayAheadLoadResponseOffer.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HbDayAheadLoadResponseOffers'
            application/json:
              schema:
                $ref: '#/components/schemas/HbDayAheadLoadResponseOffers'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbdayaheadloadresponseoffer.month.month.html
        harvested: '2026-07-27'
      x-xml-element: HbDayAheadLoadResponseOffers
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
        description: The month to retrieve data for (YYYYMM)
components:
  schemas:
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    HbDayAheadLoadResponseOffers:
      type: object
      properties:
        HbDayAheadLoadResponseOffer:
          type: array
          items:
            $ref: '#/components/schemas/HbDayAheadLoadResponseOffer'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HbDayAheadLoadResponseOffers
    HbDayAheadLoadResponseOffer:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        MaskedCustomerId:
          type: integer
        MaskedAssetId:
          type: integer
        OfferMw:
          type: number
        OfferPrice:
          type: number
        CurtailmentPrice:
          type: number
        MinInterruptHours:
          type: integer
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HbDayAheadLoadResponseOffer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
