openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Powersystemconditions…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: powersystemconditions
  description: 4 path template(s) under /powersystemconditions in the published ISO New England Web Services API v1.1 documentation.
paths:
  /powersystemconditions/current:
    get:
      operationId: getPowersystemconditionsCurrent
      summary: GET /powersystemconditions/current
      description: (no documentation provided)
      tags:
      - powersystemconditions
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PowerSystemConditions'
            application/json:
              schema:
                $ref: '#/components/schemas/PowerSystemConditions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.powersystemconditions.current.html
        harvested: '2026-07-27'
      x-xml-element: PowerSystemConditions
  /powersystemconditions/range:
    get:
      operationId: getPowersystemconditionsRange
      summary: GET /powersystemconditions/range
      description: (no documentation provided)
      tags:
      - powersystemconditions
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PowerSystemConditions'
            application/json:
              schema:
                $ref: '#/components/schemas/PowerSystemConditions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.powersystemconditions.range.html
        harvested: '2026-07-27'
      x-xml-element: PowerSystemConditions
      parameters:
      - name: start
        in: query
        required: false
        schema:
          type: string
      - name: end
        in: query
        required: false
        schema:
          type: string
  /powersystemconditions/year/{year}:
    get:
      operationId: getPowersystemconditionsYearByYear
      summary: GET /powersystemconditions/year/{year}
      description: (no documentation provided)
      tags:
      - powersystemconditions
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PowerSystemConditions'
            application/json:
              schema:
                $ref: '#/components/schemas/PowerSystemConditions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.powersystemconditions.year.year.html
        harvested: '2026-07-27'
      x-xml-element: PowerSystemConditions
      parameters:
      - name: year
        in: path
        required: true
        schema:
          type: string
  /powersystemconditions/years:
    get:
      operationId: getPowersystemconditionsYears
      summary: GET /powersystemconditions/years
      description: (no documentation provided)
      tags:
      - powersystemconditions
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Years'
            application/json:
              schema:
                $ref: '#/components/schemas/Years'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.powersystemconditions.years.html
        harvested: '2026-07-27'
      x-xml-element: Years
components:
  schemas:
    Years:
      type: object
      properties:
        Year:
          type: array
          items:
            type: string
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Years
    PowerSystemCondition:
      type: object
      properties:
        ReportedArea:
          type: string
        SystemCondition:
          type: string
        TimeIn:
          type: string
          format: date-time
        TimeOut:
          type: string
          format: date-time
        ActionDescription:
          type: string
        Reason:
          type: string
        SortOrder:
          type: integer
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_PowerSystemCondition
    PowerSystemConditions:
      type: object
      properties:
        PowerSystemCondition:
          type: array
          items:
            $ref: '#/components/schemas/PowerSystemCondition'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_PowerSystemConditions
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
