openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Fifteenminuteinterchange API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: fifteenminuteinterchange
  description: 6 path template(s) under /fifteenminuteinterchange in the published ISO New England Web Services API v1.1 documentation.
paths:
  /fifteenminuteinterchange:
    get:
      operationId: getFifteenminuteinterchange
      summary: Default resource
      description: Default resource. Redirects to fifteen min Actual Interchange Info.
      tags:
      - fifteenminuteinterchange
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminuteinterchange.html
        harvested: '2026-07-27'
  /fifteenminuteinterchange/current:
    get:
      operationId: getFifteenminuteinterchangeCurrent
      summary: Get the current fifteen min Actual Interchange
      description: Get the current fifteen min Actual Interchange.
      tags:
      - fifteenminuteinterchange
      responses:
        '200':
          description: a ActualFifteenMinInterchangesElement containing the current fifteen min Actual Interchange.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ActualFifteenMinInterchanges'
            application/json:
              schema:
                $ref: '#/components/schemas/ActualFifteenMinInterchanges'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminuteinterchange.current.html
        harvested: '2026-07-27'
      x-xml-element: ActualFifteenMinInterchanges
  /fifteenminuteinterchange/current/location/{locationId}:
    get:
      operationId: getFifteenminuteinterchangeCurrentLocationByLocationId
      summary: Get the current fifteen min Actual Interchange for a given location
      description: Get the current fifteen min Actual Interchange for a given location.
      tags:
      - fifteenminuteinterchange
      responses:
        '200':
          description: a ActualFifteenMinInterchangesElement containing the current fifteen min Actual Interchange for the given location.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ActualFifteenMinInterchanges'
            application/json:
              schema:
                $ref: '#/components/schemas/ActualFifteenMinInterchanges'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminuteinterchange.current.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: ActualFifteenMinInterchanges
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /fifteenminuteinterchange/day/{day}:
    get:
      operationId: getFifteenminuteinterchangeDayByDay
      summary: Get an entire days fifteen min Actaul Interchanges for a given Date
      description: Get an entire days fifteen min Actaul Interchanges for a given Date.
      tags:
      - fifteenminuteinterchange
      responses:
        '200':
          description: a ActualFifteenMinInterchangesElement containing the fifteen min Actual Interchanges.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ActualFifteenMinInterchanges'
            application/json:
              schema:
                $ref: '#/components/schemas/ActualFifteenMinInterchanges'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminuteinterchange.day.day.html
        harvested: '2026-07-27'
      x-xml-element: ActualFifteenMinInterchanges
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /fifteenminuteinterchange/day/{day}/location/{locationId}:
    get:
      operationId: getFifteenminuteinterchangeDayByDayLocationByLocationId
      summary: Get the current fifteen min Actual Interchange for a given location
      description: Get the current fifteen min Actual Interchange for a given location.
      tags:
      - fifteenminuteinterchange
      responses:
        '200':
          description: a ActualFifteenMinInterchangesElement containing the current fifteen min Actual Interchange for the given date and location.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ActualFifteenMinInterchanges'
            application/json:
              schema:
                $ref: '#/components/schemas/ActualFifteenMinInterchanges'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminuteinterchange.day.day.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: ActualFifteenMinInterchanges
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /fifteenminuteinterchange/info:
    get:
      operationId: getFifteenminuteinterchangeInfo
      summary: Get the Service Info for fifteen min Actual Interchange
      description: Get the Service Info for fifteen min Actual Interchange.
      tags:
      - fifteenminuteinterchange
      responses:
        '200':
          description: the ServiceInfoElement for fifteen min Actual Interchange.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminuteinterchange.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    ActualFifteenMinInterchange:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Location:
          $ref: '#/components/schemas/LocationRef'
        ActInterchange:
          type: number
        Purchase:
          type: number
        Sale:
          type: number
      required:
      - BeginDate
      - Location
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ActualFifteenMinInterchange
    ActualFifteenMinInterchanges:
      type: object
      properties:
        ActualFifteenMinInterchange:
          type: array
          items:
            $ref: '#/components/schemas/ActualFifteenMinInterchange'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ActualFifteenMinInterchanges
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
