openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Reliabilityregionloadforecast API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: reliabilityregionloadforecast
  description: 5 path template(s) under /reliabilityregionloadforecast in the published ISO New England Web Services API v1.1 documentation.
paths:
  /reliabilityregionloadforecast:
    get:
      operationId: getReliabilityregionloadforecast
      summary: Default resource
      description: Default resource. Redirects to RRFLS.
      tags:
      - reliabilityregionloadforecast
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.reliabilityregionloadforecast.html
        harvested: '2026-07-27'
  /reliabilityregionloadforecast/current:
    get:
      operationId: getReliabilityregionloadforecastCurrent
      summary: Get the current RRFL
      description: Get the current RRFL.
      tags:
      - reliabilityregionloadforecast
      responses:
        '200':
          description: a SevenDayForecastsElement containing the current RRFLs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReliabilityRegionLoadForecasts'
            application/json:
              schema:
                $ref: '#/components/schemas/ReliabilityRegionLoadForecasts'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.reliabilityregionloadforecast.current.html
        harvested: '2026-07-27'
      x-xml-element: ReliabilityRegionLoadForecasts
  /reliabilityregionloadforecast/day/{day}:
    get:
      operationId: getReliabilityregionloadforecastDayByDay
      summary: Get most recent Day RRFLs
      description: Get most recent Day RRFLs.
      tags:
      - reliabilityregionloadforecast
      responses:
        '200':
          description: a SevenDayWindForecastsElement containing the RRFLs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReliabilityRegionLoadForecasts'
            application/json:
              schema:
                $ref: '#/components/schemas/ReliabilityRegionLoadForecasts'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.reliabilityregionloadforecast.day.day.html
        harvested: '2026-07-27'
      x-xml-element: ReliabilityRegionLoadForecasts
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: Retrieve data for the day in(YYYYMMDD)
  /reliabilityregionloadforecast/day/{day}/all:
    get:
      operationId: getReliabilityregionloadforecastDayByDayAll
      summary: Get entire Day RRFL
      description: Get entire Day RRFL.
      tags:
      - reliabilityregionloadforecast
      responses:
        '200':
          description: a SevenDayForecastsElement containing the RRFLs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReliabilityRegionLoadForecasts'
            application/json:
              schema:
                $ref: '#/components/schemas/ReliabilityRegionLoadForecasts'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.reliabilityregionloadforecast.day.day.all.html
        harvested: '2026-07-27'
      x-xml-element: ReliabilityRegionLoadForecasts
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: Retrieve data for the day in(YYYYMMDD)
  /reliabilityregionloadforecast/info:
    get:
      operationId: getReliabilityregionloadforecastInfo
      summary: Get the Service Info for RRFL
      description: Get the Service Info for RRFL.
      tags:
      - reliabilityregionloadforecast
      responses:
        '200':
          description: the ServiceInfoElement for RRFL.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.reliabilityregionloadforecast.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    ReliabilityRegionLoadForecasts:
      type: object
      properties:
        ReliabilityRegionLoadForecast:
          type: array
          items:
            $ref: '#/components/schemas/ReliabilityRegionLoadForecast'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ReliabilityRegionLoadForecasts
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    ReliabilityRegionLoadForecast:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
        ReliabilityRegion:
          type: string
        LoadMw:
          type: number
        ReliabilityRegionLoadPercentage:
          type: number
      required:
      - BeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ReliabilityRegionLoadForecast
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
