openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Ftrauctionresults API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: ftrauctionresults
  description: 4 path template(s) under /ftrauctionresults in the published ISO New England Web Services API v1.1 documentation.
paths:
  /ftrauctionresults/{Type}/current:
    get:
      operationId: getFtrauctionresultsByTypeCurrent
      summary: Get the current FtrAuctionResults
      description: Get the current FtrAuctionResults.
      tags:
      - ftrauctionresults
      responses:
        '200':
          description: a FtrAuctionResultsElement containing the current FtrAuctionResults.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FtrAuctionResults'
            application/json:
              schema:
                $ref: '#/components/schemas/FtrAuctionResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ftrauctionresults.Type.current.html
        harvested: '2026-07-27'
      x-xml-element: FtrAuctionResults
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /ftrauctionresults/{Type}/info:
    get:
      operationId: getFtrauctionresultsByTypeInfo
      summary: Get the Service Info for FtrAuctionResults
      description: Get the Service Info for FtrAuctionResults.
      tags:
      - ftrauctionresults
      responses:
        '200':
          description: the ServiceInfoElement for FtrAuctionResults.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ftrauctionresults.Type.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /ftrauctionresults/{Type}/month/{month}:
    get:
      operationId: getFtrauctionresultsByTypeMonthByMonth
      summary: Get an entire months FtrAuctionResults
      description: Get an entire months FtrAuctionResults.
      tags:
      - ftrauctionresults
      responses:
        '200':
          description: a FtrAuctionResultsElement containing the FtrAuctionResults.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FtrAuctionResults'
            application/json:
              schema:
                $ref: '#/components/schemas/FtrAuctionResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ftrauctionresults.Type.month.month.html
        harvested: '2026-07-27'
      x-xml-element: FtrAuctionResults
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: month
        in: path
        required: true
        schema:
          type: string
        description: The month to retrieve data for (YYYYMM)
  /ftrauctionresults/{Type}/year/{year}:
    get:
      operationId: getFtrauctionresultsByTypeYearByYear
      summary: Get an entire year FtrAuctionClearingPrices
      description: Get an entire year FtrAuctionClearingPrices.
      tags:
      - ftrauctionresults
      responses:
        '200':
          description: a FtrAuctionResultsElement containing the FtrAuctionResults.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FtrAuctionResults'
            application/json:
              schema:
                $ref: '#/components/schemas/FtrAuctionResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ftrauctionresults.Type.year.year.html
        harvested: '2026-07-27'
      x-xml-element: FtrAuctionResults
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: year
        in: path
        required: true
        schema:
          type: string
        description: to retrieve data for (YYYY)
components:
  schemas:
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    FtrAuctionResult:
      type: object
      properties:
        AuctionName:
          type: string
        CustomerId:
          type: integer
        CustomerName:
          type: string
        SourceLocation:
          $ref: '#/components/schemas/LocationRef'
        SourceLocationType:
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
        SinkLocation:
          $ref: '#/components/schemas/LocationRef'
        SinkLocationType:
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
        BuySell:
          type: string
        ClassType:
          type: string
        AwardFTRMW:
          type: number
        AwardFTRPrice:
          type: number
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_FtrAuctionResult
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    FtrAuctionResults:
      type: object
      properties:
        FtrAuctionResult:
          type: array
          items:
            $ref: '#/components/schemas/FtrAuctionResult'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_FtrAuctionResults
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
