openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Genfuelmix API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: genfuelmix
  description: 6 path template(s) under /genfuelmix in the published ISO New England Web Services API v1.1 documentation.
paths:
  /genfuelmix:
    get:
      operationId: getGenfuelmix
      summary: Default resource
      description: Default resource. Redirects to Gen Fuel Mix Info .
      tags:
      - genfuelmix
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.genfuelmix.html
        harvested: '2026-07-27'
  /genfuelmix/current:
    get:
      operationId: getGenfuelmixCurrent
      summary: Get the current Gen Fuel Mixes
      description: Get the current Gen Fuel Mixes.
      tags:
      - genfuelmix
      responses:
        '200':
          description: a GenFuelMixesElement containing the current Gen Fuel Mixes.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GenFuelMixes'
            application/json:
              schema:
                $ref: '#/components/schemas/GenFuelMixes'
              example:
                GenFuelMixes:
                  GenFuelMix:
                  - MarginalFlag: N
                    GenMw: 228
                    FuelCategoryRollup: Batteries
                    FuelCategory: Batteries
                    BeginDate: '2026-07-27T17:23:19.000-04:00'
                  - MarginalFlag: Y
                    GenMw: 1841
                    FuelCategoryRollup: Hydro
                    FuelCategory: Hydro
                    BeginDate: '2026-07-27T17:23:19.000-04:00'
                  - MarginalFlag: Y
                    GenMw: 10061
                    FuelCategoryRollup: Natural Gas
                    FuelCategory: Natural Gas
                    BeginDate: '2026-07-27T17:23:19.000-04:00'
                  - MarginalFlag: N
                    GenMw: 3336
                    FuelCategoryRollup: Nuclear
                    FuelCategory: Nuclear
                    BeginDate: '2026-07-27T17:23:19.000-04:00'
                  - MarginalFlag: N
                    GenMw: 10
                    FuelCategoryRollup: Other
                    FuelCategory: Other
                    BeginDate: '2026-07-27T17:23:19.000-04:00'
                  - MarginalFlag: N
                    GenMw: 23
                    FuelCategoryRollup: Renewables
                    FuelCategory: Landfill Gas
                    BeginDate: '2026-07-27T17:23:19.000-04:00'
                  - MarginalFlag: N
                    GenMw: 306
                    FuelCategoryRollup: Renewables
                    FuelCategory: Refuse
                    BeginDate: '2026-07-27T17:23:19.000-04:00'
                  - MarginalFlag: N
                    GenMw: 473
                    FuelCategoryRollup: Renewables
                    FuelCategory: Solar
                    BeginDate: '2026-07-27T17:23:19.000-04:00'
                  - MarginalFlag: N
                    GenMw: 91
                    FuelCategoryRollup: Renewables
                    FuelCategory: Wind
                    BeginDate: '2026-07-27T17:23:19.000-04:00'
                  - MarginalFlag: N
                    GenMw: 281
                    FuelCategoryRollup: Renewables
                    FuelCategory: Wood
                    BeginDate: '2026-07-27T17:23:19.000-04:00'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.genfuelmix.current.html
        harvested: '2026-07-27'
      x-xml-element: GenFuelMixes
      x-example-evidence:
        source: https://www.iso-ne.com/ws/wsclient (public ISO Express dashboard proxy, anonymous POST)
        observed: '2026-07-27'
        note: Real response payload observed anonymously through the public dashboard proxy; the proxy envelope and its _url key were removed.
  /genfuelmix/current/fuelCategoryRollup/{fuelCategoryRollup}:
    get:
      operationId: getGenfuelmixCurrentFuelCategoryRollupByFuelCategoryRollup
      summary: Get the current Gen Fuel Mixes for a given fuelCategoryRollup
      description: Get the current Gen Fuel Mixes for a given fuelCategoryRollup.
      tags:
      - genfuelmix
      responses:
        '200':
          description: a GenFuelMixesElement containing the current Gen Fuel Mixes for the given fuel category.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GenFuelMixes'
            application/json:
              schema:
                $ref: '#/components/schemas/GenFuelMixes'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.genfuelmix.current.fuelCategoryRollup.fuelCategoryRollup.html
        harvested: '2026-07-27'
      x-xml-element: GenFuelMixes
      parameters:
      - name: fuelCategoryRollup
        in: path
        required: true
        schema:
          type: string
        description: The fuel category
  /genfuelmix/day/{day}:
    get:
      operationId: getGenfuelmixDayByDay
      summary: Get an entire days Gen Fuel Mix for given day
      description: Get an entire days Gen Fuel Mix for given day. Only the past [?] days are supported.
      tags:
      - genfuelmix
      responses:
        '200':
          description: a GenFuelMixesElement containing the Gen Fuel Mix.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GenFuelMixes'
            application/json:
              schema:
                $ref: '#/components/schemas/GenFuelMixes'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.genfuelmix.day.day.html
        harvested: '2026-07-27'
      x-xml-element: GenFuelMixes
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /genfuelmix/day/{day}/fuelCategoryRollup/{fuelCategoryRollup}:
    get:
      operationId: getGenfuelmixDayByDayFuelCategoryRollupByFuelCategoryRollup
      summary: Get an entire days Gen Fuel Mix for given fuelCategoryRollup
      description: Get an entire days Gen Fuel Mix for given fuelCategoryRollup. Only the past [?] days are supported.
      tags:
      - genfuelmix
      responses:
        '200':
          description: a GenFuelMixesElement containing the Gen Fuel Mix.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GenFuelMixes'
            application/json:
              schema:
                $ref: '#/components/schemas/GenFuelMixes'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.genfuelmix.day.day.fuelCategoryRollup.fuelCategoryRollup.html
        harvested: '2026-07-27'
      x-xml-element: GenFuelMixes
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: fuelCategoryRollup
        in: path
        required: true
        schema:
          type: string
        description: The fuel category
  /genfuelmix/info:
    get:
      operationId: getGenfuelmixInfo
      summary: Get the Service Info for Gen Fuel Mix
      description: Get the Service Info for Gen Fuel Mix.
      tags:
      - genfuelmix
      responses:
        '200':
          description: the ServiceInfoElement for Gen Fuel Mix.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
              example:
                ServiceInfo:
                  CreationDate: '2026-07-27T17:23:21.000-04:00'
                  LatestBeginDate: '2026-07-27T17:23:19.000-04:00'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.genfuelmix.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      x-example-evidence:
        source: https://www.iso-ne.com/ws/wsclient (public ISO Express dashboard proxy, anonymous POST)
        observed: '2026-07-27'
        note: Real response payload observed anonymously through the public dashboard proxy; the proxy envelope and its _url key were removed.
components:
  schemas:
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    GenFuelMixes:
      type: object
      properties:
        GenFuelMix:
          type: array
          items:
            $ref: '#/components/schemas/GenFuelMix'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_GenFuelMixes
    GenFuelMix:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        GenMw:
          type: number
        FuelCategoryRollup:
          type: string
        FuelCategory:
          type: string
        MarginalFlag:
          type: string
          enum:
          - Y
          - N
          - '-'
      required:
      - BeginDate
      - GenMw
      - FuelCategoryRollup
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_GenFuelMix
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
