openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Dailyofferthreshprice…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: dailyofferthreshprice
  description: 5 path template(s) under /dailyofferthreshprice in the published ISO New England Web Services API v1.1 documentation.
paths:
  /dailyofferthreshprice:
    get:
      operationId: getDailyofferthreshprice
      summary: Default resource
      description: Default resource. Redirects to DailyOfferThreshPrice Info.
      tags:
      - dailyofferthreshprice
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dailyofferthreshprice.html
        harvested: '2026-07-27'
  /dailyofferthreshprice/current:
    get:
      operationId: getDailyofferthreshpriceCurrent
      summary: Get the current DailyOfferThreshPrices for Hub, Load Zones, and External Nodes
      description: Get the current DailyOfferThreshPrices for Hub, Load Zones, and External Nodes.
      tags:
      - dailyofferthreshprice
      responses:
        '200':
          description: a DailyOfferThreshPricesElement containing the current DailyOfferThreshPrices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DailyOfferThreshPrices'
            application/json:
              schema:
                $ref: '#/components/schemas/DailyOfferThreshPrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dailyofferthreshprice.current.html
        harvested: '2026-07-27'
      x-xml-element: DailyOfferThreshPrices
  /dailyofferthreshprice/day/{day}:
    get:
      operationId: getDailyofferthreshpriceDayByDay
      summary: Get an entire days DailyOfferThreshPrices
      description: Get an entire days DailyOfferThreshPrices. Only the past [?] days are supported.
      tags:
      - dailyofferthreshprice
      responses:
        '200':
          description: a DailyOfferThreshPricesElement containing the DailyOfferThreshPrices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DailyOfferThreshPrices'
            application/json:
              schema:
                $ref: '#/components/schemas/DailyOfferThreshPrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dailyofferthreshprice.day.day.html
        harvested: '2026-07-27'
      x-xml-element: DailyOfferThreshPrices
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /dailyofferthreshprice/info:
    get:
      operationId: getDailyofferthreshpriceInfo
      summary: Get the Service Info for DailyOfferThreshPrices
      description: Get the Service Info for DailyOfferThreshPrices.
      tags:
      - dailyofferthreshprice
      responses:
        '200':
          description: the ServiceInfoElement for DailyOfferThreshPrices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dailyofferthreshprice.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /dailyofferthreshprice/month/{month}:
    get:
      operationId: getDailyofferthreshpriceMonthByMonth
      summary: Get an entire months DailyOfferThreshPrices
      description: Get an entire months DailyOfferThreshPrices. Only the past 30 days are supported.
      tags:
      - dailyofferthreshprice
      responses:
        '200':
          description: a DailyOfferThreshPricesElement containing the DailyOfferThreshPrices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DailyOfferThreshPrices'
            application/json:
              schema:
                $ref: '#/components/schemas/DailyOfferThreshPrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dailyofferthreshprice.month.month.html
        harvested: '2026-07-27'
      x-xml-element: DailyOfferThreshPrices
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
        description: The month to retrieve data for (YYYYMM)
components:
  schemas:
    DailyOfferThreshPrice:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        OfferThreshPrice:
          type: number
      required:
      - BeginDate
      - OfferThreshPrice
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_DailyOfferThreshPrice
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    DailyOfferThreshPrices:
      type: object
      properties:
        DailyOfferThreshPrice:
          type: array
          items:
            $ref: '#/components/schemas/DailyOfferThreshPrice'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_DailyOfferThreshPrices
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
