openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Frmdtp API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: frmdtp
  description: 5 path template(s) under /frmdtp in the published ISO New England Web Services API v1.1 documentation.
paths:
  /frmdtp:
    get:
      operationId: getFrmdtp
      summary: Default resource
      description: Default resource. Redirects to Daily FRMDTP Info .
      tags:
      - frmdtp
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.frmdtp.html
        harvested: '2026-07-27'
  /frmdtp/current:
    get:
      operationId: getFrmdtpCurrent
      summary: Get the current Daily FRMTP
      description: Get the current Daily FRMTP.
      tags:
      - frmdtp
      responses:
        '200':
          description: a DailyFrmThresholdPricesElement containing the current Forward Reserved Market Daily Threshold Price.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DailyFrmThresholdPrices'
            application/json:
              schema:
                $ref: '#/components/schemas/DailyFrmThresholdPrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.frmdtp.current.html
        harvested: '2026-07-27'
      x-xml-element: DailyFrmThresholdPrices
  /frmdtp/day/{day}:
    get:
      operationId: getFrmdtpDayByDay
      summary: Get an entire day FRMDTP for given day
      description: Get an entire day FRMDTP for given day. Only the past [?] days are supported.
      tags:
      - frmdtp
      responses:
        '200':
          description: a DailyFrmThresholdPricesElement containing the Forward Reserve Marked Daily Threshold Price.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DailyFrmThresholdPrices'
            application/json:
              schema:
                $ref: '#/components/schemas/DailyFrmThresholdPrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.frmdtp.day.day.html
        harvested: '2026-07-27'
      x-xml-element: DailyFrmThresholdPrices
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /frmdtp/info:
    get:
      operationId: getFrmdtpInfo
      summary: Get the Service Info for Daily Forward Reserved Marked Threshold Price
      description: Get the Service Info for Daily Forward Reserved Marked Threshold Price .
      tags:
      - frmdtp
      responses:
        '200':
          description: the ServiceInfoElement for Daily FRMTP.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.frmdtp.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /frmdtp/month/{month}:
    get:
      operationId: getFrmdtpMonthByMonth
      summary: Get an entire month FRMDTP for given day
      description: Get an entire month FRMDTP for given day. Only the past [?] days are supported.
      tags:
      - frmdtp
      responses:
        '200':
          description: a DailyFrmThresholdPricesElement containing the Forward Reserve Marked Daily Threshold Price.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DailyFrmThresholdPrices'
            application/json:
              schema:
                $ref: '#/components/schemas/DailyFrmThresholdPrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.frmdtp.month.month.html
        harvested: '2026-07-27'
      x-xml-element: DailyFrmThresholdPrices
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    DailyFrmThresholdPrice:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        ForwardReservedHeatRate:
          type: number
        FuelIndex:
          type: number
        ForwardReserveThresholdPrice:
          type: number
      required:
      - BeginDate
      - ForwardReservedHeatRate
      - FuelIndex
      - ForwardReserveThresholdPrice
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_DailyFrmThresholdPrice
    DailyFrmThresholdPrices:
      type: object
      properties:
        DailyFrmThresholdPrice:
          type: array
          items:
            $ref: '#/components/schemas/DailyFrmThresholdPrice'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_DailyFrmThresholdPrices
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
