openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Hourlyloadgeninterchange API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: hourlyloadgeninterchange
  description: 4 path template(s) under /hourlyloadgeninterchange in the published ISO New England Web Services API v1.1 documentation.
paths:
  /hourlyloadgeninterchange:
    get:
      operationId: getHourlyloadgeninterchange
      summary: Default resource
      description: Default resource. Redirects to Load Forecast Info .
      tags:
      - hourlyloadgeninterchange
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyloadgeninterchange.html
        harvested: '2026-07-27'
  /hourlyloadgeninterchange/current:
    get:
      operationId: getHourlyloadgeninterchangeCurrent
      summary: 'Get the current Hourly System Load '
      description: Get the current Hourly System Load .
      tags:
      - hourlyloadgeninterchange
      responses:
        '200':
          description: a HourlySystemLoadsElement containing the current Hourly System Loads.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyLoadGenInterchanges'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyLoadGenInterchanges'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyloadgeninterchange.current.html
        harvested: '2026-07-27'
      x-xml-element: HourlyLoadGenInterchanges
  /hourlyloadgeninterchange/day/{day}:
    get:
      operationId: getHourlyloadgeninterchangeDayByDay
      summary: Get an entire days Hourly System Load forgiven location
      description: Get an entire days Hourly System Load forgiven location. Only the past [?] days are supported.
      tags:
      - hourlyloadgeninterchange
      responses:
        '200':
          description: a HourlySystemLoadsElement containing the Hourly System Loads.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyLoadGenInterchanges'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyLoadGenInterchanges'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyloadgeninterchange.day.day.html
        harvested: '2026-07-27'
      x-xml-element: HourlyLoadGenInterchanges
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /hourlyloadgeninterchange/info:
    get:
      operationId: getHourlyloadgeninterchangeInfo
      summary: Get the Service Info for Hourly Sys Load
      description: Get the Service Info for Hourly Sys Load.
      tags:
      - hourlyloadgeninterchange
      responses:
        '200':
          description: the ServiceInfoElement for Hourly Sys Load.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyloadgeninterchange.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    HourlyLoadGenInterchange:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Load:
          type: number
        NativeLoad:
          type: number
        ArdDemand:
          type: number
        TotalGeneration:
          type: number
        TotalInterchange:
          type: number
      required:
      - BeginDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HourlyLoadGenInterchange
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    HourlyLoadGenInterchanges:
      type: object
      properties:
        HourlyLoadGenInterchange:
          type: array
          items:
            $ref: '#/components/schemas/HourlyLoadGenInterchange'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HourlyLoadGenInterchanges
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
