openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: dayaheadlmpavgcongestion
  description: 5 path template(s) under /dayaheadlmpavgcongestion in the published ISO New England Web Services API v1.1 documentation.
paths:
  /dayaheadlmpavgcongestion:
    get:
      operationId: getDayaheadlmpavgcongestion
      summary: Default resource
      description: Default resource. Redirects to DayAheadLmpAvgCongestion.
      tags:
      - dayaheadlmpavgcongestion
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadlmpavgcongestion.html
        harvested: '2026-07-27'
  /dayaheadlmpavgcongestion/current:
    get:
      operationId: getDayaheadlmpavgcongestionCurrent
      summary: Get the current DayAheadLmpAvgCongestion
      tags:
      - dayaheadlmpavgcongestion
      responses:
        '200':
          description: a DayAheadLmpAvgCongestion containing the current DayAheadLmpAvgCongestion.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadLmpAvgCongestions'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadLmpAvgCongestions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadlmpavgcongestion.current.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadLmpAvgCongestions
  /dayaheadlmpavgcongestion/info:
    get:
      operationId: getDayaheadlmpavgcongestionInfo
      summary: Get the Service Info for DayAheadLmpAvgCongestion
      description: Get the Service Info for DayAheadLmpAvgCongestion..
      tags:
      - dayaheadlmpavgcongestion
      responses:
        '200':
          description: the ServiceInfoElement for DayAheadLmpAvgCongestion.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadlmpavgcongestion.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /dayaheadlmpavgcongestion/month/{month}:
    get:
      operationId: getDayaheadlmpavgcongestionMonthByMonth
      summary: Get the DayAheadLmpAvgCongestion
      tags:
      - dayaheadlmpavgcongestion
      responses:
        '200':
          description: a DayAheadLmpAvgCongestion for the requested month DayAheadLmpAvgCongestion.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadLmpAvgCongestions'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadLmpAvgCongestions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadlmpavgcongestion.month.month.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadLmpAvgCongestions
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
  /dayaheadlmpavgcongestion/month/{month}/location/{locationId}:
    get:
      operationId: getDayaheadlmpavgcongestionMonthByMonthLocationByLocationId
      summary: Get the DayAheadLmpAvgCongestion
      tags:
      - dayaheadlmpavgcongestion
      responses:
        '200':
          description: a DayAheadLmpAvgCongestion for the requested month and Location DayAheadLmpAvgCongestion.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadLmpAvgCongestions'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadLmpAvgCongestions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadlmpavgcongestion.month.month.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadLmpAvgCongestions
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
      - name: locationId
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    DayAheadLmpAvgCongestions:
      type: object
      properties:
        DayAheadLmpAvgCongestion:
          type: array
          items:
            $ref: '#/components/schemas/DayAheadLmpAvgCongestion'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_DayAheadLmpAvgCongestions
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    DayAheadLmpAvgCongestion:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Location:
          $ref: '#/components/schemas/LocationRef'
        AvgOnPeakDaCongestion:
          type: number
        AvgOffPeakDaCongestion:
          type: number
      required:
      - BeginDate
      - Location
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_DayAheadLmpAvgCongestion
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
