openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Hourlyper API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: hourlyper
  description: 5 path template(s) under /hourlyper in the published ISO New England Web Services API v1.1 documentation.
paths:
  /hourlyper:
    get:
      operationId: getHourlyper
      summary: Default resource
      description: Default resource. Redirects to HourlyPER Info.
      tags:
      - hourlyper
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyper.html
        harvested: '2026-07-27'
  /hourlyper/current:
    get:
      operationId: getHourlyperCurrent
      summary: Get the current HourlyPER
      description: Get the current HourlyPER.
      tags:
      - hourlyper
      responses:
        '200':
          description: a HourlyPERElement containing the current HourlyPER.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyPeakEnergyRents'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyPeakEnergyRents'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyper.current.html
        harvested: '2026-07-27'
      x-xml-element: HourlyPeakEnergyRents
  /hourlyper/info:
    get:
      operationId: getHourlyperInfo
      summary: Get the Service Info for HourlyPER
      description: Get the Service Info for HourlyPER.
      tags:
      - hourlyper
      responses:
        '200':
          description: the ServiceInfoElement for HourlyPER.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyper.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /hourlyper/month/{month}:
    get:
      operationId: getHourlyperMonthByMonth
      summary: Get an entire months HourlyPERs
      description: Get an entire months HourlyPERs.Only the past 30 days
      tags:
      - hourlyper
      responses:
        '200':
          description: a HourlyPERsElement containing the HourlyPERs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyPeakEnergyRents'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyPeakEnergyRents'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyper.month.month.html
        harvested: '2026-07-27'
      x-xml-element: HourlyPeakEnergyRents
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
        description: The month to retrieve data for (YYYYMM)
  /hourlyper/month/{month}/capacityZone/{capacityZoneId}:
    get:
      operationId: getHourlyperMonthByMonthCapacityZoneByCapacityZoneId
      summary: Get an entire months HourlyPERs
      description: Get an entire months HourlyPERs.Only the past 30 days
      tags:
      - hourlyper
      responses:
        '200':
          description: a HourlyPERsElement containing the HourlyPERs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyPeakEnergyRents'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyPeakEnergyRents'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlyper.month.month.capacityZone.capacityZoneId.html
        harvested: '2026-07-27'
      x-xml-element: HourlyPeakEnergyRents
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
        description: The month to retrieve data for (YYYYMM)
      - name: capacityZoneId
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    CapacityRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@CapacityZoneId':
          type: integer
      required:
      - '@CapacityZoneId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_CapacityRef
    HourlyPeakEnergyRents:
      type: object
      properties:
        HourlyPeakEnergyRent:
          type: array
          items:
            $ref: '#/components/schemas/HourlyPeakEnergyRent'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HourlyPeakEnergyRents
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    HourlyPeakEnergyRent:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Location:
          $ref: '#/components/schemas/CapacityRef'
        RTLMPLocation:
          type: string
        RTLMP:
          type: number
        PERFuelType:
          type: string
        StrikePrice:
          type: number
        SystemLoad:
          type: number
        ScaleFactor:
          type: number
        HourlyPER:
          type: number
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HourlyPeakEnergyRent
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
