openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Dayaheadconstraints…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: dayaheadconstraints
  description: 4 path template(s) under /dayaheadconstraints in the published ISO New England Web Services API v1.1 documentation.
paths:
  /dayaheadconstraints:
    get:
      operationId: getDayaheadconstraints
      summary: Default resource
      description: Default resource. Redirects to Day Ahead Constraints Info.
      tags:
      - dayaheadconstraints
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadconstraints.html
        harvested: '2026-07-27'
  /dayaheadconstraints/current:
    get:
      operationId: getDayaheadconstraintsCurrent
      summary: Get the current Day Ahead Constraints
      description: Get the current Day Ahead Constraints .
      tags:
      - dayaheadconstraints
      responses:
        '200':
          description: a DayAheadConstraintsElement containing the current Day Ahead Constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadConstraints'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadConstraints'
              example:
                DayAheadConstraints:
                  DayAheadConstraint:
                  - ConstraintName: MIS
                    ContingencyName: Interface
                    MarginalValue: -8.69
                    BeginDate: '2026-07-27T17:00:00.000-04:00'
                    InterfaceFlag: Y
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadconstraints.current.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadConstraints
      x-example-evidence:
        source: https://www.iso-ne.com/ws/wsclient (public ISO Express dashboard proxy, anonymous POST)
        observed: '2026-07-27'
        note: Real response payload observed anonymously through the public dashboard proxy; the proxy envelope and its _url key were removed.
  /dayaheadconstraints/day/{day}:
    get:
      operationId: getDayaheadconstraintsDayByDay
      summary: Get Day Ahead Constrains for the day
      description: Get Day Ahead Constrains for the day.
      tags:
      - dayaheadconstraints
      responses:
        '200':
          description: a DayAheadConstraintsElement containing the Day Ahead Constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadConstraints'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadConstraints'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadconstraints.day.day.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadConstraints
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /dayaheadconstraints/info:
    get:
      operationId: getDayaheadconstraintsInfo
      summary: Get the Service Info for Day Ahead Constraints
      description: Get the Service Info for Day Ahead Constraints.
      tags:
      - dayaheadconstraints
      responses:
        '200':
          description: the ServiceInfoElement for Day Ahead Constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadconstraints.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    DayAheadConstraint:
      $ref: '#/components/schemas/Constraint'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_DayAheadConstraint
    Constraint:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        ConstraintName:
          type: string
        ContingencyName:
          type: string
        InterfaceFlag:
          type: string
          enum:
          - Y
          - N
          - '-'
        MarginalValue:
          type: number
      required:
      - BeginDate
      - ConstraintName
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Constraint
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    DayAheadConstraints:
      type: object
      properties:
        DayAheadConstraint:
          type: array
          items:
            $ref: '#/components/schemas/DayAheadConstraint'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_DayAheadConstraints
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
