openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Hbrealtimeenergyoffer…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: hbrealtimeenergyoffer
  description: 4 path template(s) under /hbrealtimeenergyoffer in the published ISO New England Web Services API v1.1 documentation.
paths:
  /hbrealtimeenergyoffer:
    get:
      operationId: getHbrealtimeenergyoffer
      summary: Default resource
      description: Default resource. Redirects to HbRealTimeEnergyOffer Info.
      tags:
      - hbrealtimeenergyoffer
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbrealtimeenergyoffer.html
        harvested: '2026-07-27'
  /hbrealtimeenergyoffer/current:
    get:
      operationId: getHbrealtimeenergyofferCurrent
      summary: Get the current HbRealTimeEnergyOffersElement
      tags:
      - hbrealtimeenergyoffer
      responses:
        '200':
          description: a HbRealTimeEnergyOffersElement containing the current RealTimeEnergyOffer.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HbRealTimeEnergyOffers'
            application/json:
              schema:
                $ref: '#/components/schemas/HbRealTimeEnergyOffers'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbrealtimeenergyoffer.current.html
        harvested: '2026-07-27'
      x-xml-element: HbRealTimeEnergyOffers
  /hbrealtimeenergyoffer/day/{day}:
    get:
      operationId: getHbrealtimeenergyofferDayByDay
      summary: Get an entire days HbRealTimeEnergyOffers
      description: Get an entire days HbRealTimeEnergyOffers.
      tags:
      - hbrealtimeenergyoffer
      responses:
        '200':
          description: a HbRealTimeEnergyOfferElement containing the HbRealTimeEnergyOffers.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HbRealTimeEnergyOffers'
            application/json:
              schema:
                $ref: '#/components/schemas/HbRealTimeEnergyOffers'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbrealtimeenergyoffer.day.day.html
        harvested: '2026-07-27'
      x-xml-element: HbRealTimeEnergyOffers
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /hbrealtimeenergyoffer/info:
    get:
      operationId: getHbrealtimeenergyofferInfo
      summary: Get the Service Info for HbRealTimeEnergyOffers
      description: Get the Service Info for HbRealTimeEnergyOffers.
      tags:
      - hbrealtimeenergyoffer
      responses:
        '200':
          description: the ServiceInfoElement for HbRealTimeEnergyOffers.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbrealtimeenergyoffer.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    HbRealTimeEnergyOffers:
      type: object
      properties:
        HbRealTimeEnergyOffer:
          type: array
          items:
            $ref: '#/components/schemas/HbEnergyOffer'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HbRealTimeEnergyOffers
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    HbEnergyOffer:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        MaskedParticipantId:
          type: integer
        MaskedAssetId:
          type: integer
        MustTakeEnergy:
          type: integer
        MaxDailyEnergy:
          type: number
        EconomicMax:
          type: number
        EconomicMin:
          type: number
        ColdStartPrice:
          type: number
        IntermediateStartPrice:
          type: number
        HotStartPrice:
          type: number
        NoLoadPrice:
          type: number
        Segments:
          $ref: '#/components/schemas/Segments'
        Claim10Mw:
          type: number
        Claim30Mw:
          type: number
        UnitStatus:
          type: string
          enum:
          - MUST_RUN
          - ECONOMIC
          - UNAVAILABLE
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HbEnergyOffer
    Segment:
      type: object
      properties:
        Price:
          type: number
        Mw:
          type: number
        '@Number':
          type: integer
      required:
      - '@Number'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Segment
    Segments:
      type: object
      properties:
        Segment:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Segments
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
