openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Ncpc API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: ncpc
  description: 5 path template(s) under /ncpc in the published ISO New England Web Services API v1.1 documentation.
paths:
  /ncpc/{NCPCType}:
    get:
      operationId: getNcpcByNCPCType
      summary: Get the Service Info for NCPC
      description: Get the Service Info for NCPC.
      tags:
      - ncpc
      responses:
        '200':
          description: the ServiceInfoElement for NCPC.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ncpc.NCPCType.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      parameters:
      - name: NCPCType
        in: path
        required: true
        schema:
          type: string
  /ncpc/{NCPCType}/current:
    get:
      operationId: getNcpcByNCPCTypeCurrent
      summary: Get the current NCPC
      description: Get the current NCPC.
      tags:
      - ncpc
      responses:
        '200':
          description: a NCPCElement containing the current NCPC.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/NCPCs'
            application/json:
              schema:
                $ref: '#/components/schemas/NCPCs'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ncpc.NCPCType.current.html
        harvested: '2026-07-27'
      x-xml-element: NCPCs
      parameters:
      - name: NCPCType
        in: path
        required: true
        schema:
          type: string
  /ncpc/{NCPCType}/day/{day}:
    get:
      operationId: getNcpcByNCPCTypeDayByDay
      summary: Get an entire days NCPCs
      description: Get an entire days NCPCs. Not applicable for 'highvar' and 'var'.
      tags:
      - ncpc
      responses:
        '200':
          description: a NCPCsElement containing the NCPCs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/NCPCs'
            application/json:
              schema:
                $ref: '#/components/schemas/NCPCs'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ncpc.NCPCType.day.day.html
        harvested: '2026-07-27'
      x-xml-element: NCPCs
      parameters:
      - name: NCPCType
        in: path
        required: true
        schema:
          type: string
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /ncpc/{NCPCType}/info:
    get:
      operationId: getNcpcByNCPCTypeInfo
      summary: Get the Service Info for NCPC
      description: Get the Service Info for NCPC.
      tags:
      - ncpc
      responses:
        '200':
          description: the ServiceInfoElement for NCPC.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ncpc.NCPCType.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      parameters:
      - name: NCPCType
        in: path
        required: true
        schema:
          type: string
  /ncpc/{NCPCType}/month/{month}:
    get:
      operationId: getNcpcByNCPCTypeMonthByMonth
      summary: Get an entire months NCPCs
      description: Get an entire months NCPCs. Only the past 30 days
      tags:
      - ncpc
      responses:
        '200':
          description: a NCPCsElement containing the NCPCs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/NCPCs'
            application/json:
              schema:
                $ref: '#/components/schemas/NCPCs'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ncpc.NCPCType.month.month.html
        harvested: '2026-07-27'
      x-xml-element: NCPCs
      parameters:
      - name: NCPCType
        in: path
        required: true
        schema:
          type: string
      - name: month
        in: path
        required: true
        schema:
          type: string
        description: The month to retrieve data for (YYYYMM)
components:
  schemas:
    NCPCs:
      type: object
      properties:
        NCPC:
          type: array
          items:
            $ref: '#/components/schemas/NCPC'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_NCPCs
    NCPC:
      type: object
      properties:
        NCPCType:
          type: string
          enum:
          - GPA
          - VAR
          - HIGHVAR
          - EXTLOCECONOMIC
          - LSCPR
          - ECONOMIC
          - RRP
          - DLOC
        BeginDate:
          type: string
          format: date-time
        Location:
          $ref: '#/components/schemas/LocationRef'
        CreditType:
          type: string
        DaNcpcCharge:
          type: number
        RtNcpcCharge:
          type: number
        NcpcCharge:
          type: number
        ExternalNodeCharge:
          type: number
        RelRegnNetworkLoad:
          type: number
        VarNetworkLoad:
          type: number
        GpaRtlo:
          type: number
        RtNcpcDeviations:
          type: number
        DaNcpcLoadObligation:
          type: number
        RtNcpcLoadObligation:
          type: number
        DaNcpcChargeRate:
          type: number
        RtNcpcChargeRate:
          type: number
        NcpcChargeRate:
          type: number
        ExternalNodeChargeRate:
          type: number
        DaGenObligation:
          type: number
        DaLoadObligation:
          type: number
        RtRrpLoadObligation:
          type: number
        RtDlocLoadObligation:
          type: number
      required:
      - BeginDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_NCPC
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
