openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Fiveminuteconstraints…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: fiveminuteconstraints
  description: 4 path template(s) under /fiveminuteconstraints in the published ISO New England Web Services API v1.1 documentation.
paths:
  /fiveminuteconstraints/{Type}/current:
    get:
      operationId: getFiveminuteconstraintsByTypeCurrent
      summary: Get the current Real Time Constraints
      description: Get the current Real Time Constraints .
      tags:
      - fiveminuteconstraints
      responses:
        '200':
          description: a RealTimeConstraintsElement containing the current Real Time Constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RealTimeConstraints'
            application/json:
              schema:
                $ref: '#/components/schemas/RealTimeConstraints'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminuteconstraints.Type.current.html
        harvested: '2026-07-27'
      x-xml-element: RealTimeConstraints
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /fiveminuteconstraints/{Type}/current/hour:
    get:
      operationId: getFiveminuteconstraintsByTypeCurrentHour
      summary: Get the current Hour Real Time Constraints
      description: Get the current Hour Real Time Constraints .
      tags:
      - fiveminuteconstraints
      responses:
        '200':
          description: a RealTimeConstraintsElement containing the current Hour Real Time Constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RealTimeConstraints'
            application/json:
              schema:
                $ref: '#/components/schemas/RealTimeConstraints'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminuteconstraints.Type.current.hour.html
        harvested: '2026-07-27'
      x-xml-element: RealTimeConstraints
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /fiveminuteconstraints/{Type}/day/{day}:
    get:
      operationId: getFiveminuteconstraintsByTypeDayByDay
      summary: Get Real Time Constraints for the day
      description: Get Real Time Constraints for the day.
      tags:
      - fiveminuteconstraints
      responses:
        '200':
          description: a RealTimeConstraintsElement containing the Real Time constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RealTimeConstraints'
            application/json:
              schema:
                $ref: '#/components/schemas/RealTimeConstraints'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminuteconstraints.Type.day.day.html
        harvested: '2026-07-27'
      x-xml-element: RealTimeConstraints
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /fiveminuteconstraints/{Type}/info:
    get:
      operationId: getFiveminuteconstraintsByTypeInfo
      summary: Get the Service Info for Real Time Constraints
      description: Get the Service Info for Real Time Constraints.
      tags:
      - fiveminuteconstraints
      responses:
        '200':
          description: the ServiceInfoElement for Real Time Constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminuteconstraints.Type.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    Constraint:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        ConstraintName:
          type: string
        ContingencyName:
          type: string
        InterfaceFlag:
          type: string
          enum:
          - Y
          - N
          - '-'
        MarginalValue:
          type: number
      required:
      - BeginDate
      - ConstraintName
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Constraint
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    RealTimeConstraints:
      type: object
      properties:
        RealTimeConstraint:
          type: array
          items:
            $ref: '#/components/schemas/RealTimeConstraint'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_RealTimeConstraints
    RealTimeConstraint:
      $ref: '#/components/schemas/Constraint'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_RealTimeConstraint
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
