openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Fifteenminutelmp API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: fifteenminutelmp
  description: 5 path template(s) under /fifteenminutelmp in the published ISO New England Web Services API v1.1 documentation.
paths:
  /fifteenminutelmp/{Type}:
    get:
      operationId: getFifteenminutelmpByType
      summary: Default resource
      description: Default resource. Redirects to Fifteen Minute Lmps(PRELIM/FINAL).
      tags:
      - fifteenminutelmp
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminutelmp.Type.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /fifteenminutelmp/{Type}/current:
    get:
      operationId: getFifteenminutelmpByTypeCurrent
      summary: Get the current Fifteen Minute Lmp
      description: Get the current Fifteen Minute Lmp.
      tags:
      - fifteenminutelmp
      responses:
        '200':
          description: a FifteenMinLmpsElement containing the current Fifteen Minute Lmps(PRELIM/FINAL).
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FifteenMinLmps'
            application/json:
              schema:
                $ref: '#/components/schemas/FifteenMinLmps'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminutelmp.Type.current.html
        harvested: '2026-07-27'
      x-xml-element: FifteenMinLmps
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /fifteenminutelmp/{Type}/current/location/{locationId}:
    get:
      operationId: getFifteenminutelmpByTypeCurrentLocationByLocationId
      summary: Get the current Fifteen Minute LMPs for a given location
      description: Get the current Fifteen Minute LMPs for a given location.
      tags:
      - fifteenminutelmp
      responses:
        '200':
          description: a LmpElement containing the current Fifteen Minute LMP(PRELIM/FINAL) for the given location.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FifteenMinLmps'
            application/json:
              schema:
                $ref: '#/components/schemas/FifteenMinLmps'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminutelmp.Type.current.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: FifteenMinLmps
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /fifteenminutelmp/{Type}/day/{day}/location/{locationId}:
    get:
      operationId: getFifteenminutelmpByTypeDayByDayLocationByLocationId
      summary: Get an entire days Fifteen Minute LMPs for a given location
      description: Get an entire days Fifteen Minute LMPs for a given location. Only the past [?] days are supported.
      tags:
      - fifteenminutelmp
      responses:
        '200':
          description: a FifteenMinuteLmpsElement containing the Fifteen Minute LMPs(PRELIM/FINAL).
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FifteenMinLmps'
            application/json:
              schema:
                $ref: '#/components/schemas/FifteenMinLmps'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminutelmp.Type.day.day.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: FifteenMinLmps
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /fifteenminutelmp/{Type}/info:
    get:
      operationId: getFifteenminutelmpByTypeInfo
      summary: Get the Service Info for Fifteen Minute Lmps(PRELIM/FINAL)
      description: Get the Service Info for Fifteen Minute Lmps(PRELIM/FINAL).
      tags:
      - fifteenminutelmp
      responses:
        '200':
          description: the ServiceInfoElement for Fifteen Minute Lmps(PRELIM/FINAL).
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminutelmp.Type.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    FifteenMinLmps:
      type: object
      properties:
        FifteenMinLmp:
          type: array
          items:
            $ref: '#/components/schemas/Lmp'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_FifteenMinLmps
    Lmp:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Location:
          $ref: '#/components/schemas/LocationRef'
        LmpTotal:
          type: number
        EnergyComponent:
          type: number
        CongestionComponent:
          type: number
        LossComponent:
          type: number
      required:
      - BeginDate
      - Location
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Lmp
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
