openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: ftrauctionclearingprices
  description: 4 path template(s) under /ftrauctionclearingprices in the published ISO New England Web Services API v1.1 documentation.
paths:
  /ftrauctionclearingprices/{Type}/current:
    get:
      operationId: getFtrauctionclearingpricesByTypeCurrent
      summary: Get the current FtrAuctionClearingPrices
      description: Get the current FtrAuctionClearingPrices.
      tags:
      - ftrauctionclearingprices
      responses:
        '200':
          description: a FtrAuctionClearingPricesElement containing the current FtrAuctionClearingPrices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FtrAuctionClearingPrices'
            application/json:
              schema:
                $ref: '#/components/schemas/FtrAuctionClearingPrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ftrauctionclearingprices.Type.current.html
        harvested: '2026-07-27'
      x-xml-element: FtrAuctionClearingPrices
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /ftrauctionclearingprices/{Type}/info:
    get:
      operationId: getFtrauctionclearingpricesByTypeInfo
      summary: Get the Service Info for FtrAuctionClearingPrices
      description: Get the Service Info for FtrAuctionClearingPrices.
      tags:
      - ftrauctionclearingprices
      responses:
        '200':
          description: the ServiceInfoElement for FtrAuctionClearingPrices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ftrauctionclearingprices.Type.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /ftrauctionclearingprices/{Type}/month/{month}:
    get:
      operationId: getFtrauctionclearingpricesByTypeMonthByMonth
      summary: Get an entire months FtrAuctionClearingPrices
      description: Get an entire months FtrAuctionClearingPrices.
      tags:
      - ftrauctionclearingprices
      responses:
        '200':
          description: a FtrAuctionClearingPricesElement containing the FtrAuctionClearingPrices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FtrAuctionClearingPrices'
            application/json:
              schema:
                $ref: '#/components/schemas/FtrAuctionClearingPrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ftrauctionclearingprices.Type.month.month.html
        harvested: '2026-07-27'
      x-xml-element: FtrAuctionClearingPrices
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: month
        in: path
        required: true
        schema:
          type: string
        description: The month to retrieve data for (YYYYMM)
  /ftrauctionclearingprices/{Type}/year/{year}:
    get:
      operationId: getFtrauctionclearingpricesByTypeYearByYear
      summary: Get an entire year FtrAuctionClearingPrices
      description: Get an entire year FtrAuctionClearingPrices.
      tags:
      - ftrauctionclearingprices
      responses:
        '200':
          description: a FtrAuctionClearingPricesElement containing the FtrAuctionClearingPrices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FtrAuctionClearingPrices'
            application/json:
              schema:
                $ref: '#/components/schemas/FtrAuctionClearingPrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ftrauctionclearingprices.Type.year.year.html
        harvested: '2026-07-27'
      x-xml-element: FtrAuctionClearingPrices
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: year
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    FtrAuctionClearingPrices:
      type: object
      properties:
        FtrAuctionClearingPrice:
          type: array
          items:
            $ref: '#/components/schemas/FtrAuctionClearingPrice'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_FtrAuctionClearingPrices
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    FtrAuctionClearingPrice:
      type: object
      properties:
        AuctionName:
          type: string
        ClassType:
          type: string
        LocationID:
          type: integer
        LocationName:
          type: string
        LocationType:
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
        Location:
          $ref: '#/components/schemas/LocationRef'
        ClearingPrice:
          type: number
      required:
      - LocationID
      - LocationName
      - LocationType
      - Location
      - ClearingPrice
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_FtrAuctionClearingPrice
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
