openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Realtimehourlydemand API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: realtimehourlydemand
  description: 6 path template(s) under /realtimehourlydemand in the published ISO New England Web Services API v1.1 documentation.
paths:
  /realtimehourlydemand:
    get:
      operationId: getRealtimehourlydemand
      summary: Default resource
      description: Default resource. Redirects to Load Forecast Info .
      tags:
      - realtimehourlydemand
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimehourlydemand.html
        harvested: '2026-07-27'
  /realtimehourlydemand/current:
    get:
      operationId: getRealtimehourlydemandCurrent
      summary: 'Get the current Real Time Hourly Demand '
      description: Get the current Real Time Hourly Demand .
      tags:
      - realtimehourlydemand
      responses:
        '200':
          description: a HourlyRtDemandsElement containing the current Rt Hourly Demand.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyRtDemands'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyRtDemands'
              example:
                HourlyRtDemands:
                  HourlyRtDemand:
                  - Load: 1217.883
                    BeginDate: '2026-07-22T23:00:00.000-04:00'
                    Location:
                      '@LocId': '4001'
                      $: .Z.MAINE
                  - Load: 1264.315
                    BeginDate: '2026-07-22T23:00:00.000-04:00'
                    Location:
                      '@LocId': '4002'
                      $: .Z.NEWHAMPSHIRE
                  - Load: 560.796
                    BeginDate: '2026-07-22T23:00:00.000-04:00'
                    Location:
                      '@LocId': '4003'
                      $: .Z.VERMONT
                  - Load: 3369.646
                    BeginDate: '2026-07-22T23:00:00.000-04:00'
                    Location:
                      '@LocId': '4004'
                      $: .Z.CONNECTICUT
                  - Load: 986.614
                    BeginDate: '2026-07-22T23:00:00.000-04:00'
                    Location:
                      '@LocId': '4005'
                      $: .Z.RHODEISLAND
                  - Load: 1856.469
                    BeginDate: '2026-07-22T23:00:00.000-04:00'
                    Location:
                      '@LocId': '4006'
                      $: .Z.SEMASS
                  - Load: 1783.999
                    BeginDate: '2026-07-22T23:00:00.000-04:00'
                    Location:
                      '@LocId': '4007'
                      $: .Z.WCMASS
                  - Load: 2829.463
                    BeginDate: '2026-07-22T23:00:00.000-04:00'
                    Location:
                      '@LocId': '4008'
                      $: .Z.NEMASSBOST
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimehourlydemand.current.html
        harvested: '2026-07-27'
      x-xml-element: HourlyRtDemands
      x-example-evidence:
        source: https://www.iso-ne.com/ws/wsclient (public ISO Express dashboard proxy, anonymous POST)
        observed: '2026-07-27'
        note: Real response payload observed anonymously through the public dashboard proxy; the proxy envelope and its _url key were removed.
  /realtimehourlydemand/current/location/{locationId}:
    get:
      operationId: getRealtimehourlydemandCurrentLocationByLocationId
      summary: Get the current Real Time Hourly Demand for a given location
      description: Get the current Real Time Hourly Demand for a given location.
      tags:
      - realtimehourlydemand
      responses:
        '200':
          description: a HourlyRtDemandElement containing the current Real Time Hourly Demand for the given location.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyRtDemand'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyRtDemand'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimehourlydemand.current.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: HourlyRtDemand
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /realtimehourlydemand/current/locationType/{locationType}:
    get:
      operationId: getRealtimehourlydemandCurrentLocationTypeByLocationType
      summary: Get the current Rt Hourly Demand for a given location type
      description: Get the current Rt Hourly Demand for a given location type.
      tags:
      - realtimehourlydemand
      responses:
        '200':
          description: a HourlyRtDemandsElement containing the current Real Time Hourly Demands for the given location type.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyRtDemands'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyRtDemands'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimehourlydemand.current.locationType.locationType.html
        harvested: '2026-07-27'
      x-xml-element: HourlyRtDemands
      parameters:
      - name: locationType
        in: path
        required: true
        schema:
          type: string
        description: The locationType
  /realtimehourlydemand/day/{day}/location/{locationId}:
    get:
      operationId: getRealtimehourlydemandDayByDayLocationByLocationId
      summary: Get an entire days Real Time Hourly Demand for given location
      description: Get an entire days Real Time Hourly Demand for given location. Only the past [?] days are supported.
      tags:
      - realtimehourlydemand
      responses:
        '200':
          description: a HourlyRtDemandsElement containing the Real Time Hourly Demand.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyRtDemands'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyRtDemands'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimehourlydemand.day.day.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: HourlyRtDemands
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /realtimehourlydemand/info:
    get:
      operationId: getRealtimehourlydemandInfo
      summary: Get the Service Info for Real Time Hourly Demand
      description: Get the Service Info for Real Time Hourly Demand.
      tags:
      - realtimehourlydemand
      responses:
        '200':
          description: the ServiceInfoElement for Real Time Hourly Demand.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimehourlydemand.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    HourlyRtDemands:
      type: object
      properties:
        HourlyRtDemand:
          type: array
          items:
            $ref: '#/components/schemas/HourlyRtDemand'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HourlyRtDemands
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    Demand:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Location:
          $ref: '#/components/schemas/LocationRef'
        Load:
          type: number
      required:
      - BeginDate
      - Location
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Demand
    HourlyRtDemand:
      $ref: '#/components/schemas/Demand'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HourlyRtDemand
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
