openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Monthlylmpindex API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: monthlylmpindex
  description: 4 path template(s) under /monthlylmpindex in the published ISO New England Web Services API v1.1 documentation.
paths:
  /monthlylmpindex:
    get:
      operationId: getMonthlylmpindex
      summary: Default resource
      description: Default resource. Redirects to Monthly LMP Index Info.
      tags:
      - monthlylmpindex
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.monthlylmpindex.html
        harvested: '2026-07-27'
  /monthlylmpindex/current:
    get:
      operationId: getMonthlylmpindexCurrent
      summary: Get current MonthlyLmpIndexes for Service Type
      description: Get current MonthlyLmpIndexes for Service Type.
      tags:
      - monthlylmpindex
      responses:
        '200':
          description: a WeeklyLmpIndexsElement containing the current MonthlyLmpIndexs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/MonthlyLmpIndexes'
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyLmpIndexes'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.monthlylmpindex.current.html
        harvested: '2026-07-27'
      x-xml-element: MonthlyLmpIndexes
  /monthlylmpindex/info:
    get:
      operationId: getMonthlylmpindexInfo
      summary: Get the Service Info for Monthly LMP Index
      description: Get the Service Info for Monthly LMP Index.
      tags:
      - monthlylmpindex
      responses:
        '200':
          description: the ServiceInfoElement for Monthly LMP Index.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.monthlylmpindex.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /monthlylmpindex/year/{year}:
    get:
      operationId: getMonthlylmpindexYearByYear
      summary: Get an entire Years MonthlyLmpIndexs
      description: Get an entire Years MonthlyLmpIndexs.
      tags:
      - monthlylmpindex
      responses:
        '200':
          description: a WeeklyLmpIndexsElement containing the MonthlyLmpIndexs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/MonthlyLmpIndexes'
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyLmpIndexes'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.monthlylmpindex.year.year.html
        harvested: '2026-07-27'
      x-xml-element: MonthlyLmpIndexes
      parameters:
      - name: year
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    MonthlyLmpIndex:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Location:
          $ref: '#/components/schemas/LocationRef'
        DaOnPeakLMP:
          type: number
        DaOffPeakLMP:
          type: number
        DaAverageLMP:
          type: number
        RtOnPeakLMP:
          type: number
        RtOffPeakLMP:
          type: number
        RtAverageLMP:
          type: number
      required:
      - BeginDate
      - Location
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_MonthlyLmpIndex
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    MonthlyLmpIndexes:
      type: object
      properties:
        MonthlyLmpIndex:
          type: array
          items:
            $ref: '#/components/schemas/MonthlyLmpIndex'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_MonthlyLmpIndexes
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
