openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Drtp API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: drtp
  description: 5 path template(s) under /drtp in the published ISO New England Web Services API v1.1 documentation.
paths:
  /drtp:
    get:
      operationId: getDrtp
      summary: Default resource
      description: Default resource. Redirects to DRTP.
      tags:
      - drtp
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drtp.html
        harvested: '2026-07-27'
  /drtp/current:
    get:
      operationId: getDrtpCurrent
      summary: Get the current DRTP
      description: Get the current DRTP.
      tags:
      - drtp
      responses:
        '200':
          description: a DrtpResultsElement containing the current DRTPs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DrtpResults'
            application/json:
              schema:
                $ref: '#/components/schemas/DrtpResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drtp.current.html
        harvested: '2026-07-27'
      x-xml-element: DrtpResults
  /drtp/day/{day}:
    get:
      operationId: getDrtpDayByDay
      summary: Get an entire Month DRTPs
      description: Get an entire Month DRTPs.
      tags:
      - drtp
      responses:
        '200':
          description: a DrtpResultsElement containing the DRTPs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DrtpResults'
            application/json:
              schema:
                $ref: '#/components/schemas/DrtpResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drtp.day.day.html
        harvested: '2026-07-27'
      x-xml-element: DrtpResults
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: Retrieve data for the entire month that the day is in(YYYYMMDD)
  /drtp/detail/day/{day}:
    get:
      operationId: getDrtpDetailDayByDay
      summary: Get an entire Month Supply CurvePairs
      description: Get an entire Month Supply CurvePairs.
      tags:
      - drtp
      responses:
        '200':
          description: a SupplyCurvePairsElement containing the DRTPs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SupplyCurvePairs'
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyCurvePairs'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drtp.detail.day.day.html
        harvested: '2026-07-27'
      x-xml-element: SupplyCurvePairs
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: Retrieve data for the entire month that the day is in (YYYYMMDD)
  /drtp/info:
    get:
      operationId: getDrtpInfo
      summary: Get the Service Info for Drtp
      description: Get the Service Info for Drtp.
      tags:
      - drtp
      responses:
        '200':
          description: the ServiceInfoElement for DRTP.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drtp.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    DrtpResults:
      type: object
      properties:
        DrtpResult:
          type: array
          items:
            $ref: '#/components/schemas/DrtpResult'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_DrtpResults
    SupplyCurvePairs:
      type: object
      properties:
        SupplyCurvePair:
          type: array
          items:
            $ref: '#/components/schemas/SupplyCurvePair'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_SupplyCurvePairs
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    DrtpResult:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        CaseId:
          type: integer
        HistoricalThresholdPrice:
          type: number
        DemandReductionThresholdPrice:
          type: number
        RegressionCoefficientA:
          type: number
        RegressionCoefficientB:
          type: number
        RegressionCoefficientC:
          type: number
        Rsquare:
          type: number
        TradingMonth:
          type: string
          format: date-time
        ReferenceMonth:
          type: string
          format: date-time
        FuelIndexTradingMonth:
          type: number
        FuelIndexReferenceMonth:
          type: number
        PricePointLowerThreshold:
          type: number
        PricePointUpperThreshold:
          type: number
        AdjustedOfferCapacity:
          type: number
      required:
      - BeginDate
      - CaseId
      - RegressionCoefficientA
      - RegressionCoefficientB
      - RegressionCoefficientC
      - Rsquare
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_DrtpResult
    SupplyCurvePair:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        CumulativeSupplyMw:
          type: number
        OfferPrice:
          type: number
        TradingMonth:
          type: string
          format: date-time
        ReferenceMonth:
          type: string
          format: date-time
      required:
      - BeginDate
      - CumulativeSupplyMw
      - OfferPrice
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_SupplyCurvePair
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
