openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Forecastcapacity API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: forecastcapacity
  description: 6 path template(s) under /forecastcapacity in the published ISO New England Web Services API v1.1 documentation.
paths:
  /forecastcapacity:
    get:
      operationId: getForecastcapacity
      summary: Default resource
      description: Default resource. Redirects to FCA.
      tags:
      - forecastcapacity
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.forecastcapacityanalysisreport.html
        harvested: '2026-07-27'
  /forecastcapacity/current:
    get:
      operationId: getForecastcapacityCurrent
      summary: GET /forecastcapacity/current
      description: (no documentation provided)
      tags:
      - forecastcapacity
      responses:
        '200':
          description: a ForecastCapacityAnalysisReports Element containing the FCAs.
          content:
            application/xml:
              schema:
                description: XML element ForecastCapacityAnalysisReports
            application/json:
              schema:
                description: XML element ForecastCapacityAnalysisReports
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.forecastcapacityanalysisreport.current.html
        harvested: '2026-07-27'
      x-xml-element: ForecastCapacityAnalysisReports
  /forecastcapacity/day/{day}:
    get:
      operationId: getForecastcapacityDayByDay
      summary: GET /forecastcapacity/day/{day}
      description: (no documentation provided)
      tags:
      - forecastcapacity
      responses:
        '200':
          description: a ForecastCapacityAnalysisReports Element containing the FCAs.
          content:
            application/xml:
              schema:
                description: XML element ForecastCapacityAnalysisReports
            application/json:
              schema:
                description: XML element ForecastCapacityAnalysisReports
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.forecastcapacityanalysisreport.day.day.html
        harvested: '2026-07-27'
      x-xml-element: ForecastCapacityAnalysisReports
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: Retrieve data for the day (YYYYMMDD)
  /forecastcapacity/day/{day}/all:
    get:
      operationId: getForecastcapacityDayByDayAll
      summary: GET /forecastcapacity/day/{day}/all
      description: (no documentation provided)
      tags:
      - forecastcapacity
      responses:
        '200':
          description: a ForecastCapacityAnalysisReports Element containing the FCAs.
          content:
            application/xml:
              schema:
                description: XML element ForecastCapacityAnalysisReports
            application/json:
              schema:
                description: XML element ForecastCapacityAnalysisReports
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.forecastcapacityanalysisreport.day.day.all.html
        harvested: '2026-07-27'
      x-xml-element: ForecastCapacityAnalysisReports
  /forecastcapacity/day/{day}/reportType/{reportType}:
    get:
      operationId: getForecastcapacityDayByDayReportTypeByReportType
      summary: GET /forecastcapacity/day/{day}/reportType/{reportType}
      description: (no documentation provided)
      tags:
      - forecastcapacity
      responses:
        '200':
          description: a MorningReportsElement containing the MRs.
          content:
            application/xml:
              schema:
                description: XML element ForecastCapacityAnalysisReports
            application/json:
              schema:
                description: XML element ForecastCapacityAnalysisReports
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.forecastcapacityanalysisreport.day.day.reportType.reportType.html
        harvested: '2026-07-27'
      x-xml-element: ForecastCapacityAnalysisReports
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: Retrieve data for the day (YYYYMMDD) for a type
      - name: reportType
        in: path
        required: true
        schema:
          type: string
  /forecastcapacity/info:
    get:
      operationId: getForecastcapacityInfo
      summary: Get the Service Info for FCA
      description: Get the Service Info for FCA.
      tags:
      - forecastcapacity
      responses:
        '200':
          description: the ServiceInfoElement for FCA.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.forecastcapacityanalysisreport.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
