openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Networkload API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: networkload
  description: 4 path template(s) under /networkload in the published ISO New England Web Services API v1.1 documentation.
paths:
  /networkload:
    get:
      operationId: getNetworkload
      summary: Default resource
      description: Default resource. Redirects to Regional Network Load Info .
      tags:
      - networkload
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.networkload.html
        harvested: '2026-07-27'
  /networkload/current:
    get:
      operationId: getNetworkloadCurrent
      summary: Get the current Regional Network Load
      description: Get the current Regional Network Load.
      tags:
      - networkload
      responses:
        '200':
          description: a MonthlyNetworkLoadsElement containing the current Regional Network Load.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/MonthlyNetworkLoads'
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyNetworkLoads'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.networkload.current.html
        harvested: '2026-07-27'
      x-xml-element: MonthlyNetworkLoads
  /networkload/info:
    get:
      operationId: getNetworkloadInfo
      summary: Get the Service Info for Regional Network Load
      description: Get the Service Info for Regional Network Load .
      tags:
      - networkload
      responses:
        '200':
          description: the ServiceInfoElement for Regional Network Load.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.networkload.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /networkload/month/{month}:
    get:
      operationId: getNetworkloadMonthByMonth
      summary: Get an entire month for Regional Network Load
      description: Get an entire month for Regional Network Load.
      tags:
      - networkload
      responses:
        '200':
          description: a MonthlyNetworkLoadsElement containing the Regional Network Load Data.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/MonthlyNetworkLoads'
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyNetworkLoads'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.networkload.month.month.html
        harvested: '2026-07-27'
      x-xml-element: MonthlyNetworkLoads
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    MonthlyNetworkLoad:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        NetworkLoadId:
          type: integer
        NetworkLoadName:
          type: string
        CustomerId:
          type: integer
        CustomerName:
          type: string
        DunsNumber:
          type: string
        DunsName:
          type: string
        ReliabilityRegionId:
          type: integer
        ReliabilityRegionName:
          type: string
        LocalNetwork:
          type: string
        NetworkLoadValueMw:
          type: number
        PoolNetworkLoadValueMw:
          type: number
      required:
      - BeginDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_MonthlyNetworkLoad
    MonthlyNetworkLoads:
      type: object
      properties:
        MonthlyNetworkLoad:
          type: array
          items:
            $ref: '#/components/schemas/MonthlyNetworkLoad'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_MonthlyNetworkLoads
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
