openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Performancescore API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: performancescore
  description: 4 path template(s) under /performancescore in the published ISO New England Web Services API v1.1 documentation.
paths:
  /performancescore/{Type}:
    get:
      operationId: getPerformancescoreByType
      summary: Default resource
      description: Default resource. Redirects to Performance Score.
      tags:
      - performancescore
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.performancescore.Type.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /performancescore/{Type}/current:
    get:
      operationId: getPerformancescoreByTypeCurrent
      summary: Get the current Performance Score
      description: Get the current Performance Score.
      tags:
      - performancescore
      responses:
        '200':
          description: a PerformanceScoresElement containing the current Performance Scores.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PerformanceScores'
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceScores'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.performancescore.Type.current.html
        harvested: '2026-07-27'
      x-xml-element: PerformanceScores
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /performancescore/{Type}/info:
    get:
      operationId: getPerformancescoreByTypeInfo
      summary: Get the Service Info for Performance Score
      description: Get the Service Info for Performance Score.
      tags:
      - performancescore
      responses:
        '200':
          description: the ServiceInfoElement for Performance Score.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.performancescore.Type.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /performancescore/{Type}/month/{month}:
    get:
      operationId: getPerformancescoreByTypeMonthByMonth
      summary: Get Performance Scores for a given month
      description: Get Performance Scores for a given month.
      tags:
      - performancescore
      responses:
        '200':
          description: a PerformanceScoresElement containing the Performance Scores.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PerformanceScores'
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceScores'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.performancescore.Type.month.month.html
        harvested: '2026-07-27'
      x-xml-element: PerformanceScores
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: month
        in: path
        required: true
        schema:
          type: string
        description: The month to retrieve data for (YYYYMM)
components:
  schemas:
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    PerformanceScore:
      type: object
      properties:
        Type:
          type: string
          enum:
          - PRELIM
          - FINAL
        TradingDate:
          type: string
          format: date-time
        HourEnd:
          type: string
        Location:
          $ref: '#/components/schemas/LocationRef'
        CapacityScarcityConditionType:
          type: string
        ActualCapacityProvided:
          type: number
        RealTimeReserveDesignation:
          type: number
        Load:
          type: number
        ReserveRequirement:
          type: number
        CapacitySupplyObligation:
          type: number
        BalancingRatio:
          type: number
        TradingInterval:
          type: string
          format: date-time
      required:
      - TradingDate
      - HourEnd
      - Location
      - TradingInterval
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_PerformanceScore
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    PerformanceScores:
      type: object
      properties:
        PerformanceScore:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceScore'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_PerformanceScores
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
