openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Dayaheadvirtualproxy API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: dayaheadvirtualproxy
  description: 6 path template(s) under /dayaheadvirtualproxy in the published ISO New England Web Services API v1.1 documentation.
paths:
  /dayaheadvirtualproxy:
    get:
      operationId: getDayaheadvirtualproxy
      summary: Default resource
      description: Default resource. Redirects to DayAhead Virtual Bid Financial Assurance Proxy.
      tags:
      - dayaheadvirtualproxy
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadvirtualproxy.html
        harvested: '2026-07-27'
  /dayaheadvirtualproxy/current:
    get:
      operationId: getDayaheadvirtualproxyCurrent
      summary: Get the current DayAhead Virtual Bid Financial Assurance Proxy
      description: Get the current DayAhead Virtual Bid Financial Assurance Proxy
      tags:
      - dayaheadvirtualproxy
      responses:
        '200':
          description: a Virtual Bid Financial Assurance Proxy containing the current DayAhead Virtual Bid Financial Assurance Proxy.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadvirtualproxy.current.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadVirtualProxys
  /dayaheadvirtualproxy/current/location/{locationId}:
    get:
      operationId: getDayaheadvirtualproxyCurrentLocationByLocationId
      summary: Get the current DayAhead Virtual Bid Financial Assurance Proxy for given locationId
      description: Get the current DayAhead Virtual Bid Financial Assurance Proxy for given locationId
      tags:
      - dayaheadvirtualproxy
      responses:
        '200':
          description: a Virtual Bid Financial Assurance Proxy containing DayAhead Virtual Bid Financial Assurance Proxy.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadvirtualproxy.current.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadVirtualProxys
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: string
  /dayaheadvirtualproxy/info:
    get:
      operationId: getDayaheadvirtualproxyInfo
      summary: Get the Service Info for DayAhead Virtual Bid Financial Assurance Proxy
      description: Get the Service Info for DayAhead Virtual Bid Financial Assurance Proxy..
      tags:
      - dayaheadvirtualproxy
      responses:
        '200':
          description: the ServiceInfoElement for ayAhead Virtual Bid Financial Assurance Proxy.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadvirtualproxy.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /dayaheadvirtualproxy/month/{month}:
    get:
      operationId: getDayaheadvirtualproxyMonthByMonth
      summary: Get DayAhead Virtual Bid Financial Assurance Proxy for Requested Month
      description: Get DayAhead Virtual Bid Financial Assurance Proxy for Requested Month
      tags:
      - dayaheadvirtualproxy
      responses:
        '200':
          description: a Virtual Bid Financial Assurance Proxy containing DayAhead Virtual Bid Financial Assurance Proxy.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadvirtualproxy.month.month.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadVirtualProxys
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
  /dayaheadvirtualproxy/month/{month}/location/{locationId}:
    get:
      operationId: getDayaheadvirtualproxyMonthByMonthLocationByLocationId
      summary: Get the DayAhead Virtual Bid Financial Assurance Proxy for month and given location
      description: Get the DayAhead Virtual Bid Financial Assurance Proxy for month and given location
      tags:
      - dayaheadvirtualproxy
      responses:
        '200':
          description: a Virtual Bid Financial Assurance Proxy containing DayAhead Virtual Bid Financial Assurance Proxy.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadvirtualproxy.month.month.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadVirtualProxys
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
      - name: locationId
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    DayAheadVirtualProxy:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Location:
          $ref: '#/components/schemas/LocationRef'
        OnPeakIncProxy:
          type: number
        OnPeakDecProxy:
          type: number
        OffPeakIncProxy:
          type: number
        OffPeakDecProxy:
          type: number
        ZonalLMPDate:
          type: string
          format: date-time
      required:
      - BeginDate
      - Location
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_DayAheadVirtualProxy
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    DayAheadVirtualProxys:
      type: object
      properties:
        DayAheadVirtualProxy:
          type: array
          items:
            $ref: '#/components/schemas/DayAheadVirtualProxy'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_DayAheadVirtualProxys
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
