openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: fifteenminuteconstraints
  description: 5 path template(s) under /fifteenminuteconstraints in the published ISO New England Web Services API v1.1 documentation.
paths:
  /fifteenminuteconstraints/{Type}:
    get:
      operationId: getFifteenminuteconstraintsByType
      summary: Default resource
      description: Default resource. Redirects to Fifteen Minute Binding constraints(BCs).
      tags:
      - fifteenminuteconstraints
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminuteconstraints.Type.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /fifteenminuteconstraints/{Type}/current:
    get:
      operationId: getFifteenminuteconstraintsByTypeCurrent
      summary: Get the current Fifteen Minute BC
      description: Get the current Fifteen Minute BC.
      tags:
      - fifteenminuteconstraints
      responses:
        '200':
          description: a FifteenMinBcsElement containing the current Fifteen Minute Binding constraints(BCs).
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FifteenMinBcs'
            application/json:
              schema:
                $ref: '#/components/schemas/FifteenMinBcs'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminuteconstraints.Type.current.html
        harvested: '2026-07-27'
      x-xml-element: FifteenMinBcs
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /fifteenminuteconstraints/{Type}/day/{day}:
    get:
      operationId: getFifteenminuteconstraintsByTypeDayByDay
      summary: Get an entire days Fifteen Minute BC Only the past [?] days are supported
      description: Get an entire days Fifteen Minute BC Only the past [?] days are supported.
      tags:
      - fifteenminuteconstraints
      responses:
        '200':
          description: a FifteenMinBcsElement containing the Fifteen Minute Binding constraints(BCs).
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FifteenMinBcs'
            application/json:
              schema:
                $ref: '#/components/schemas/FifteenMinBcs'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminuteconstraints.Type.day.day.html
        harvested: '2026-07-27'
      x-xml-element: FifteenMinBcs
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /fifteenminuteconstraints/{Type}/info:
    get:
      operationId: getFifteenminuteconstraintsByTypeInfo
      summary: Get the Service Info for Fifteen Minute Binding constraints(BCs)
      description: Get the Service Info for Fifteen Minute Binding constraints(BCs).
      tags:
      - fifteenminuteconstraints
      responses:
        '200':
          description: the ServiceInfoElement for Fifteen Minute Binding Constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminuteconstraints.Type.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /fifteenminuteconstraints/{Type}/month/{month}:
    get:
      operationId: getFifteenminuteconstraintsByTypeMonthByMonth
      summary: Get fifteen min binding constraints for a given month
      description: Get fifteen min binding constraints for a given month.
      tags:
      - fifteenminuteconstraints
      responses:
        '200':
          description: a FifteenMinBcsElement containing the fifteen minute binding constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FifteenMinBcs'
            application/json:
              schema:
                $ref: '#/components/schemas/FifteenMinBcs'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fifteenminuteconstraints.Type.month.month.html
        harvested: '2026-07-27'
      x-xml-element: FifteenMinBcs
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: month
        in: path
        required: true
        schema:
          type: string
        description: The month to retrieve data for (YYYYMM)
components:
  schemas:
    FifteenMinBcs:
      type: object
      properties:
        FifteenMinBc:
          type: array
          items:
            $ref: '#/components/schemas/FifteenMinBc'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_FifteenMinBcs
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    FifteenMinBc:
      type: object
      properties:
        Type:
          type: string
          enum:
          - PRELIM
          - FINAL
        BeginDate:
          type: string
          format: date-time
        ConstraintName:
          type: string
        MarginalValueInterval:
          type: string
          format: date-time
        MarginalValue:
          type: number
        HourEnd:
          type: string
      required:
      - BeginDate
      - ConstraintName
      - MarginalValueInterval
      - HourEnd
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_FifteenMinBc
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
