openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Fiveminutereserveprice API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: fiveminutereserveprice
  description: 13 path template(s) under /fiveminutereserveprice in the published ISO New England Web Services API v1.1 documentation.
paths:
  /fiveminutereserveprice:
    get:
      operationId: getFiveminutereserveprice
      summary: Default resource
      description: Default resource. Redirects to Five Minute Reserve Price. This endpoint has been deprecated.
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.html
        harvested: '2026-07-27'
  /fiveminutereserveprice/current:
    get:
      operationId: getFiveminutereservepriceCurrent
      summary: Get the current Five Minute Reserve Prices for all locations
      description: Get the current Five Minute Reserve Prices for all locations. This endpoint has been deprecated.
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: a FiveMinReservePricesElement containing the current Five Minute Reserve Prices.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.current.html
        harvested: '2026-07-27'
  /fiveminutereserveprice/current/locationType/{locationType}:
    get:
      operationId: getFiveminutereservepriceCurrentLocationTypeByLocationType
      summary: Get the current Five Minute Reserve Prices for a given location type
      description: Get the current Five Minute Reserve Prices for a given location type. This endpoint has been deprecated.
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: a FiveMinReservePricesElement containing the current Five Minute Reserve Prices for the given location.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.current.locationType.locationType.html
        harvested: '2026-07-27'
      parameters:
      - name: locationType
        in: path
        required: true
        schema:
          type: string
        description: The locationType
  /fiveminutereserveprice/current/reserveZone/{reserveZoneId}:
    get:
      operationId: getFiveminutereservepriceCurrentReserveZoneByReserveZoneId
      summary: Get the current Five Minute Reserve Prices for a given location
      description: Get the current Five Minute Reserve Prices for a given location. This endpoint has been deprecated.
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: a FiveMinReservePriceElement containing the current Five Minute Reserve Price for the given ReserveZoneId.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.current.reserveZone.reserveZoneId.html
        harvested: '2026-07-27'
      parameters:
      - name: reserveZoneId
        in: path
        required: true
        schema:
          type: string
  /fiveminutereserveprice/day/{day}:
    get:
      operationId: getFiveminutereservepriceDayByDay
      summary: Get an entire days Five Minute Reserve Prices for a given date
      description: Get an entire days Five Minute Reserve Prices for a given date. Only the past [?] days are supported. This endpoint has been deprecated.
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: a FiveMinReservePricesElement containing the Five Minute Reserve Prices.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.day.day.html
        harvested: '2026-07-27'
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /fiveminutereserveprice/day/{day}/reserveZone/{reserveZoneId}:
    get:
      operationId: getFiveminutereservepriceDayByDayReserveZoneByReserveZoneId
      summary: Get an entire days Five Minute Reserve Prices for a given Reserve Zone
      description: Get an entire days Five Minute Reserve Prices for a given Reserve Zone. Only the past [?] days are supported. This endpoint has been deprecated.
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: a FiveMinReservePricesElement containing the Five Minute Reserve Prices.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.day.day.reserveZone.reserveZoneId.html
        harvested: '2026-07-27'
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: reserveZoneId
        in: path
        required: true
        schema:
          type: string
        description: The reserve Zone Id
  /fiveminutereserveprice/info:
    get:
      operationId: getFiveminutereservepriceInfo
      summary: Get the Service Info for Five Minute Reserve Price
      description: Get the Service Info for Five Minute Reserve Price. This endpoint has been deprecated.
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: the ServiceInfoElement for Five Minute Reserve Price.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.info.html
        harvested: '2026-07-27'
  /fiveminutereserveprice/{Type}/current:
    get:
      operationId: getFiveminutereservepriceByTypeCurrent
      summary: GET /fiveminutereserveprice/{Type}/current
      description: (no documentation provided)
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FiveMinReservePrices'
            application/json:
              schema:
                $ref: '#/components/schemas/FiveMinReservePrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.Type.current.html
        harvested: '2026-07-27'
      x-xml-element: FiveMinReservePrices
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
  /fiveminutereserveprice/{Type}/current/locationType/{locationType}:
    get:
      operationId: getFiveminutereservepriceByTypeCurrentLocationTypeByLocationType
      summary: Get the current Five Minute Reserve Prices for a given location type
      description: Get the current Five Minute Reserve Prices for a given location type.
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: a FiveMinReservePricesElement containing the current Five Minute Reserve Prices for the given location.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FiveMinReservePrices'
            application/json:
              schema:
                $ref: '#/components/schemas/FiveMinReservePrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.Type.current.locationType.locationType.html
        harvested: '2026-07-27'
      x-xml-element: FiveMinReservePrices
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: locationType
        in: path
        required: true
        schema:
          type: string
        description: The locationType
  /fiveminutereserveprice/{Type}/current/reserveZone/{reserveZoneId}:
    get:
      operationId: getFiveminutereservepriceByTypeCurrentReserveZoneByReserveZoneId
      summary: Get the current Five Minute Reserve Prices for a given location
      description: Get the current Five Minute Reserve Prices for a given location.
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: a FiveMinReservePriceElement containing the current Five Minute Reserve Price for the given ReserveZoneId.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FiveMinReservePrices'
            application/json:
              schema:
                $ref: '#/components/schemas/FiveMinReservePrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.Type.current.reserveZone.reserveZoneId.html
        harvested: '2026-07-27'
      x-xml-element: FiveMinReservePrices
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: reserveZoneId
        in: path
        required: true
        schema:
          type: string
  /fiveminutereserveprice/{Type}/day/{day}:
    get:
      operationId: getFiveminutereservepriceByTypeDayByDay
      summary: Get an entire days Five Minute Reserve Prices for a given date
      description: Get an entire days Five Minute Reserve Prices for a given date. Only the past [?] days are supported.
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: a FiveMinReservePricesElement containing the Five Minute Reserve Prices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FiveMinReservePrices'
            application/json:
              schema:
                $ref: '#/components/schemas/FiveMinReservePrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.Type.day.day.html
        harvested: '2026-07-27'
      x-xml-element: FiveMinReservePrices
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /fiveminutereserveprice/{Type}/day/{day}/reserveZone/{reserveZoneId}:
    get:
      operationId: getFiveminutereservepriceByTypeDayByDayReserveZoneByReserveZoneId
      summary: Get an entire days Five Minute Reserve Prices for a given Reserve Zone
      description: Get an entire days Five Minute Reserve Prices for a given Reserve Zone. Only the past [?] days are supported.
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: a FiveMinReservePricesElement containing the Five Minute Reserve Prices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FiveMinReservePrices'
            application/json:
              schema:
                $ref: '#/components/schemas/FiveMinReservePrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.Type.day.day.reserveZone.reserveZoneId.html
        harvested: '2026-07-27'
      x-xml-element: FiveMinReservePrices
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: reserveZoneId
        in: path
        required: true
        schema:
          type: string
        description: The reserve Zone Id
  /fiveminutereserveprice/{Type}/info:
    get:
      operationId: getFiveminutereservepriceByTypeInfo
      summary: GET /fiveminutereserveprice/{Type}/info
      description: (no documentation provided)
      tags:
      - fiveminutereserveprice
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminutereserveprice.Type.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    ReservePrice:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        ReserveZoneId:
          type: integer
        ReserveZoneName:
          type: string
        TenMinSpinRequirement:
          type: number
        Total10MinRequirement:
          type: number
        Total30MinRequirement:
          type: number
        TmsrDesignatedMw:
          type: number
        TmnsrDesignatedMw:
          type: number
        TmorDesignatedMw:
          type: number
        TmsrClearingPrice:
          type: number
        TmnsrClearingPrice:
          type: number
        TmorClearingPrice:
          type: number
        IntervalBeginDate:
          type: string
          format: date-time
      required:
      - BeginDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ReservePrice
    FiveMinReservePrices:
      type: object
      properties:
        FiveMinReservePrice:
          type: array
          items:
            $ref: '#/components/schemas/FiveMinReservePrice'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_FiveMinReservePrices
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    FiveMinReservePrice:
      $ref: '#/components/schemas/ReservePrice'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_FiveMinReservePrice
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
