openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Fcmabp API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: fcmabp
  description: 4 path template(s) under /fcmabp in the published ISO New England Web Services API v1.1 documentation.
paths:
  /fcmabp/cp/{cp}:
    get:
      operationId: getFcmabpCpByCp
      summary: GET /fcmabp/cp/{cp}
      description: (no documentation provided)
      tags:
      - fcmabp
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FCMBilateralResults'
            application/json:
              schema:
                $ref: '#/components/schemas/FCMBilateralResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fcmabp.cp.cp.html
        harvested: '2026-07-27'
      x-xml-element: FCMBilateralResults
      parameters:
      - name: cp
        in: path
        required: true
        schema:
          type: string
  /fcmabp/cp/{cp}/arabp/{arabp}:
    get:
      operationId: getFcmabpCpByCpArabpByArabp
      summary: GET /fcmabp/cp/{cp}/arabp/{arabp}
      description: (no documentation provided)
      tags:
      - fcmabp
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FCMBilateralResults'
            application/json:
              schema:
                $ref: '#/components/schemas/FCMBilateralResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fcmabp.cp.cp.arabp.arabp.html
        harvested: '2026-07-27'
      x-xml-element: FCMBilateralResults
      parameters:
      - name: cp
        in: path
        required: true
        schema:
          type: string
      - name: arabp
        in: path
        required: true
        schema:
          type: string
  /fcmabp/current:
    get:
      operationId: getFcmabpCurrent
      summary: GET /fcmabp/current
      description: (no documentation provided)
      tags:
      - fcmabp
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FCMBilateralResults'
            application/json:
              schema:
                $ref: '#/components/schemas/FCMBilateralResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fcmabp.current.html
        harvested: '2026-07-27'
      x-xml-element: FCMBilateralResults
  /fcmabp/info:
    get:
      operationId: getFcmabpInfo
      summary: Get the Service Info for Five Minute Five Minute Regulation Clearing Prices(RCPs)
      description: Get the Service Info for Five Minute Five Minute Regulation Clearing Prices(RCPs).
      tags:
      - fcmabp
      responses:
        '200':
          description: the ServiceInfoElement for Five Minute Reserve Price.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fcmabp.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    BilatClearedCapacityZones:
      type: object
      properties:
        ClearedCapacityZone:
          type: array
          items:
            $ref: '#/components/schemas/BilatClearedCapacityZone'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_BilatClearedCapacityZones
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    Period:
      type: object
      properties:
        Id:
          type: integer
        Description:
          type: string
        Type:
          type: string
        BeginDate:
          type: string
          format: date-time
        EndDate:
          type: string
          format: date-time
        ParentId:
          type: integer
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Period
    MonthlyResults:
      type: object
      properties:
        MonthlyResult:
          type: array
          items:
            $ref: '#/components/schemas/MonthlyResult'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_MonthlyResults
    BilatClearedCapacityZone:
      type: object
      properties:
        CapacityZoneID:
          type: integer
        CapacityZoneType:
          type: string
        CapacityZoneName:
          type: string
        TransferringApproved:
          type: number
        AcquiringApproved:
          type: number
        NetCapacityApproved:
          type: number
        ClearedExternalInterfaces:
          $ref: '#/components/schemas/BilatClearedInterfaces'
      required:
      - CapacityZoneID
      - CapacityZoneName
      - TransferringApproved
      - AcquiringApproved
      - NetCapacityApproved
      - ClearedExternalInterfaces
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_BilatClearedCapacityZone
    BilatClearedInterfaces:
      type: object
      properties:
        ClearedExternalInterface:
          type: array
          items:
            $ref: '#/components/schemas/BilatClearedInterface'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_BilatClearedInterfaces
    Auction:
      type: object
      properties:
        Id:
          type: integer
        Description:
          type: string
        ApprovalDate:
          type: string
          format: date-time
        AuctionBeginDate:
          type: string
          format: date-time
        Type:
          type: string
        CommitmentPeriod:
          $ref: '#/components/schemas/Period'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Auction
    BilatClearedInterface:
      type: object
      properties:
        ExternalInterfaceId:
          type: integer
        ExternalInterfaceName:
          type: string
        TransferringApproved:
          type: number
        AcquiringApproved:
          type: number
        NetCapacityApproved:
          type: number
        ClearedInterfaces:
          $ref: '#/components/schemas/BilatClearedInterfaces'
      required:
      - ExternalInterfaceId
      - ExternalInterfaceName
      - TransferringApproved
      - AcquiringApproved
      - NetCapacityApproved
      - ClearedInterfaces
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_BilatClearedInterface
    BilatSystemResult:
      type: object
      properties:
        TransferringApproved:
          type: number
        AcquiringApproved:
          type: number
        NetCapacityApproved:
          type: number
        ClearedExternalInterfaces:
          $ref: '#/components/schemas/BilatClearedInterfaces'
      required:
      - TransferringApproved
      - AcquiringApproved
      - NetCapacityApproved
      - ClearedExternalInterfaces
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_BilatSystemResult
    FCMBilateralResult:
      type: object
      properties:
        Auction:
          $ref: '#/components/schemas/Auction'
        MonthlyResults:
          $ref: '#/components/schemas/MonthlyResults'
      required:
      - Auction
      - MonthlyResults
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_FCMBilateralResult
    FCMBilateralResults:
      type: object
      properties:
        FCMBilateralResult:
          type: array
          items:
            $ref: '#/components/schemas/FCMBilateralResult'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_FCMBilateralResults
    MonthlyResult:
      type: object
      properties:
        Month:
          type: string
          format: date-time
        ClearedCapacityZones:
          $ref: '#/components/schemas/BilatClearedCapacityZones'
        SystemResult:
          $ref: '#/components/schemas/BilatSystemResult'
      required:
      - Month
      - ClearedCapacityZones
      - SystemResult
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_MonthlyResult
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
