openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Hourlybainterchange…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: hourlybainterchange
  description: 4 path template(s) under /hourlybainterchange in the published ISO New England Web Services API v1.1 documentation.
paths:
  /hourlybainterchange:
    get:
      operationId: getHourlybainterchange
      summary: Default resource
      description: Default resource. Redirects to Actual BA Interchange Info.
      tags:
      - hourlybainterchange
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlybainterchange.html
        harvested: '2026-07-27'
  /hourlybainterchange/current:
    get:
      operationId: getHourlybainterchangeCurrent
      summary: GET /hourlybainterchange/current
      description: (no documentation provided)
      tags:
      - hourlybainterchange
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyBAInterchanges'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyBAInterchanges'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlybainterchange.current.html
        harvested: '2026-07-27'
      x-xml-element: HourlyBAInterchanges
  /hourlybainterchange/day/{day}:
    get:
      operationId: getHourlybainterchangeDayByDay
      summary: Get an entire days Actual Interchanges for a given Date
      description: Get an entire days Actual Interchanges for a given Date.
      tags:
      - hourlybainterchange
      responses:
        '200':
          description: a HourlyBAInterchangesElement containing the Actual BA Interchanges.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyBAInterchanges'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyBAInterchanges'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlybainterchange.day.day.html
        harvested: '2026-07-27'
      x-xml-element: HourlyBAInterchanges
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /hourlybainterchange/info:
    get:
      operationId: getHourlybainterchangeInfo
      summary: Get the Service Info for Actual Interchange
      description: Get the Service Info for Actual Interchange.
      tags:
      - hourlybainterchange
      responses:
        '200':
          description: the ServiceInfoElement for Actual BA Interchange.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hourlybainterchange.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    InterfaceFlow:
      type: object
      properties:
        BalancingAuthority:
          type: string
        ActInterchange:
          type: number
      required:
      - BalancingAuthority
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_InterfaceFlow
    HourlyBAInterchange:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        InterfaceFlow:
          type: array
          items:
            $ref: '#/components/schemas/InterfaceFlow'
      required:
      - BeginDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HourlyBAInterchange
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    HourlyBAInterchanges:
      type: object
      properties:
        HourlyBAInterchange:
          type: array
          items:
            $ref: '#/components/schemas/HourlyBAInterchange'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HourlyBAInterchanges
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
