openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: totaltransfercapability
  description: 5 path template(s) under /totaltransfercapability in the published ISO New England Web Services API v1.1 documentation.
paths:
  /totaltransfercapability:
    get:
      operationId: getTotaltransfercapability
      summary: Default resource
      description: Default resource. Redirects to TTC.
      tags:
      - totaltransfercapability
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.totaltransfercapability.html
        harvested: '2026-07-27'
  /totaltransfercapability/current:
    get:
      operationId: getTotaltransfercapabilityCurrent
      summary: Get the current TTC
      description: Get the current TTC.
      tags:
      - totaltransfercapability
      responses:
        '200':
          description: a TtcsElement containing the current TTCs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Ttcs'
            application/json:
              schema:
                $ref: '#/components/schemas/Ttcs'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.totaltransfercapability.current.html
        harvested: '2026-07-27'
      x-xml-element: Ttcs
  /totaltransfercapability/day/{day}:
    get:
      operationId: getTotaltransfercapabilityDayByDay
      summary: Get an entire Month TTCs
      description: Get an entire Month TTCs.
      tags:
      - totaltransfercapability
      responses:
        '200':
          description: a TtcsElement containing the DRTPs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Ttcs'
            application/json:
              schema:
                $ref: '#/components/schemas/Ttcs'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.totaltransfercapability.day.day.html
        harvested: '2026-07-27'
      x-xml-element: Ttcs
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: Retrieve data for the entire month that the day is in(YYYYMMDD)
  /totaltransfercapability/forecast:
    get:
      operationId: getTotaltransfercapabilityForecast
      summary: Get the forecast TTC
      description: Get the forecast TTC.
      tags:
      - totaltransfercapability
      responses:
        '200':
          description: a TtcsElement containing the current TTCs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Ttcs'
            application/json:
              schema:
                $ref: '#/components/schemas/Ttcs'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.totaltransfercapability.forecast.html
        harvested: '2026-07-27'
      x-xml-element: Ttcs
  /totaltransfercapability/info:
    get:
      operationId: getTotaltransfercapabilityInfo
      summary: Get the Service Info for Ttc
      description: Get the Service Info for Ttc.
      tags:
      - totaltransfercapability
      responses:
        '200':
          description: the ServiceInfoElement for TTC.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.totaltransfercapability.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    Ttcs:
      type: object
      properties:
        Ttc:
          type: array
          items:
            $ref: '#/components/schemas/Ttc'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Ttcs
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    TtcLocations:
      type: object
      properties:
        TtcLocation:
          type: array
          items:
            $ref: '#/components/schemas/TtcLocation'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_TtcLocations
    TtcLocation:
      type: object
      properties:
        Location:
          $ref: '#/components/schemas/LocationRef'
        ImportLimitMw:
          type: number
        ExportLimitMw:
          type: number
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_TtcLocation
    Ttc:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        TtcLocations:
          type: array
          items:
            $ref: '#/components/schemas/TtcLocations'
      required:
      - BeginDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Ttc
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
