openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Hbmonthlyftrauction…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: hbmonthlyftrauction
  description: 4 path template(s) under /hbmonthlyftrauction in the published ISO New England Web Services API v1.1 documentation.
paths:
  /hbmonthlyftrauction:
    get:
      operationId: getHbmonthlyftrauction
      summary: Default resource
      description: Default resource. Redirects to HbMonthlyFTRAuction Info.
      tags:
      - hbmonthlyftrauction
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbmonthlyftrauction.html
        harvested: '2026-07-27'
  /hbmonthlyftrauction/current:
    get:
      operationId: getHbmonthlyftrauctionCurrent
      summary: Get the current HbMonthlyFTRAuction
      description: Get the current HbMonthlyFTRAuction.
      tags:
      - hbmonthlyftrauction
      responses:
        '200':
          description: a HbMonthlyFTRAuctionsElement containing the current HbMonthlyFTRAuction.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HbFTRAuctions'
            application/json:
              schema:
                $ref: '#/components/schemas/HbFTRAuctions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbmonthlyftrauction.current.html
        harvested: '2026-07-27'
      x-xml-element: HbFTRAuctions
  /hbmonthlyftrauction/info:
    get:
      operationId: getHbmonthlyftrauctionInfo
      summary: Get the Service Info for HbMonthlyFTRAuction
      description: Get the Service Info for HbMonthlyFTRAuction.
      tags:
      - hbmonthlyftrauction
      responses:
        '200':
          description: the ServiceInfoElement for HbMonthlyFTRAuction.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbmonthlyftrauction.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /hbmonthlyftrauction/month/{month}:
    get:
      operationId: getHbmonthlyftrauctionMonthByMonth
      summary: Get an entire months HbMonthlyFTRAuction
      description: Get an entire months HbMonthlyFTRAuction.
      tags:
      - hbmonthlyftrauction
      responses:
        '200':
          description: a HbMonthlyFTRAuctionsElement containing the HbMonthlyFTRAuctions.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HbFTRAuctions'
            application/json:
              schema:
                $ref: '#/components/schemas/HbFTRAuctions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.hbmonthlyftrauction.month.month.html
        harvested: '2026-07-27'
      x-xml-element: HbFTRAuctions
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
        description: The month to retrieve data for (YYYYMM)
components:
  schemas:
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    HbFTRAuction:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        SourceLocation:
          $ref: '#/components/schemas/LocationRef'
        SourceLocationType:
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
        SinkLocation:
          $ref: '#/components/schemas/LocationRef'
        SinkLocationType:
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
        BuySell:
          type: string
        ClassType:
          type: string
        BidMW:
          type: number
        BidPrice:
          type: number
        BidStatus:
          type: string
        AuctionName:
          type: string
        MaskedCustomerId:
          type: integer
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HbFTRAuction
    HbFTRAuctions:
      type: object
      properties:
        HbFTRAuction:
          type: array
          items:
            $ref: '#/components/schemas/HbFTRAuction'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_HbFTRAuctions
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
