openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Combinedhourlydemand…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: combinedhourlydemand
  description: 3 path template(s) under /combinedhourlydemand in the published ISO New England Web Services API v1.1 documentation.
paths:
  /combinedhourlydemand:
    get:
      operationId: getCombinedhourlydemand
      summary: Default resource
      description: Default resource. Redirects to Load Forecast Info .
      tags:
      - combinedhourlydemand
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.combinedhourlydemand.html
        harvested: '2026-07-27'
  /combinedhourlydemand/day/{day}/location/{locationId}:
    get:
      operationId: getCombinedhourlydemandDayByDayLocationByLocationId
      summary: Get an entire days Hourly Demand for given location
      description: Get an entire days Hourly Demand for given location. Only the past [?] days are supported.
      tags:
      - combinedhourlydemand
      responses:
        '200':
          description: a CombinedHourlyDemandsElement containing the Hourly Demand.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CombinedHourlyDemands'
            application/json:
              schema:
                $ref: '#/components/schemas/CombinedHourlyDemands'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.combinedhourlydemand.day.day.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: CombinedHourlyDemands
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /combinedhourlydemand/info:
    get:
      operationId: getCombinedhourlydemandInfo
      summary: Get the Service Info for Day Ahead Hourly Demand
      description: Get the Service Info for Day Ahead Hourly Demand.
      tags:
      - combinedhourlydemand
      responses:
        '200':
          description: the ServiceInfoElement for Day Ahead Hourly Demand.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.combinedhourlydemand.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    CombinedHourlyDemands:
      type: object
      properties:
        CombinedHourlyDemand:
          type: array
          items:
            $ref: '#/components/schemas/CombinedHourlyDemand'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_CombinedHourlyDemands
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    CombinedHourlyDemand:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Location:
          $ref: '#/components/schemas/LocationRef'
        DaLoad:
          type: number
        RtLoad:
          type: number
      required:
      - BeginDate
      - Location
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_CombinedHourlyDemand
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
