openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: fiveminuteexternalflow
  description: 7 path template(s) under /fiveminuteexternalflow in the published ISO New England Web Services API v1.1 documentation.
paths:
  /fiveminuteexternalflow:
    get:
      operationId: getFiveminuteexternalflow
      summary: Default resource
      description: Default resource. Redirects to Five Minute External Flow Info.
      tags:
      - fiveminuteexternalflow
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminuteexternalflow.html
        harvested: '2026-07-27'
  /fiveminuteexternalflow/current:
    get:
      operationId: getFiveminuteexternalflowCurrent
      summary: Get the current Five Minute ExternalFlows for all locations
      description: Get the current Five Minute ExternalFlows for all locations.
      tags:
      - fiveminuteexternalflow
      responses:
        '200':
          description: a FiveMinuteExternalFlowElement containing the current Five Minute External Flow.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalFlows'
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalFlows'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminuteexternalflow.current.html
        harvested: '2026-07-27'
      x-xml-element: ExternalFlows
  /fiveminuteexternalflow/current/location/{locationId}:
    get:
      operationId: getFiveminuteexternalflowCurrentLocationByLocationId
      summary: Get the current Five Minute External Flows for a given location
      description: Get the current Five Minute External Flows for a given location.
      tags:
      - fiveminuteexternalflow
      responses:
        '200':
          description: a ExternalFlowElement containing the current Five Minute LMP for the given location.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalFlow'
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalFlow'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminuteexternalflow.current.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: ExternalFlow
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /fiveminuteexternalflow/current/locationType/{locationType}:
    get:
      operationId: getFiveminuteexternalflowCurrentLocationTypeByLocationType
      summary: Get the current Five Minute External Flow for a given location type
      description: Get the current Five Minute External Flow for a given location type.
      tags:
      - fiveminuteexternalflow
      responses:
        '200':
          description: a ExternalFlowsElement containing the current Five Minute LMP for the given location.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalFlows'
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalFlows'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminuteexternalflow.current.locationType.locationType.html
        harvested: '2026-07-27'
      x-xml-element: ExternalFlows
      parameters:
      - name: locationType
        in: path
        required: true
        schema:
          type: string
        description: The locationType
  /fiveminuteexternalflow/day/{day}:
    get:
      operationId: getFiveminuteexternalflowDayByDay
      summary: Get an entire day Five Minute External Flows for a given date
      description: Get an entire day Five Minute External Flows for a given date.
      tags:
      - fiveminuteexternalflow
      responses:
        '200':
          description: a FiveMinuteExternalFlowsElement containing the Five Minute ExternalFlows.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalFlows'
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalFlows'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminuteexternalflow.day.day.html
        harvested: '2026-07-27'
      x-xml-element: ExternalFlows
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /fiveminuteexternalflow/day/{day}/location/{locationId}:
    get:
      operationId: getFiveminuteexternalflowDayByDayLocationByLocationId
      summary: Get an entire days Five Minute External Flows for a given location
      description: Get an entire days Five Minute External Flows for a given location. Only the past [?] days are supported.
      tags:
      - fiveminuteexternalflow
      responses:
        '200':
          description: a FiveMinuteExternalFlowsElement containing the Five Minute ExternalFlows.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExternalFlows'
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalFlows'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminuteexternalflow.day.day.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: ExternalFlows
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /fiveminuteexternalflow/info:
    get:
      operationId: getFiveminuteexternalflowInfo
      summary: Get the Service Info for Five Minute External Flows
      description: Get the Service Info for Five Minute External Flows.
      tags:
      - fiveminuteexternalflow
      responses:
        '200':
          description: the ServiceInfoElement for Five Minute LMPs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fiveminuteexternalflow.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    LocationRef:
      type: object
      properties:
        $:
          type: string
          description: Element text value (serialized as "$" in the JSON representation, per observed API responses).
        '@LocId':
          type: integer
        '@LocType':
          type: string
          enum:
          - NETWORK AREA
          - LOAD ZONE
          - NETWORK NODE
          - HUB
          - HUB NODE
          - RELIABILITY REGION
          - EXT. NODE
          - RESERVE ZONE
          - SYSTEM
          - INT. AREA
          - EXT. AREA
          - DISPATCH ZONE
          - CAPACITY ZONE
          - DRRAZ
          - DRR AGGREGATION ZONE
      required:
      - '@LocId'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_LocationRef
    ExternalFlow:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        Location:
          $ref: '#/components/schemas/LocationRef'
        ActualFlow:
          type: number
        ImportLimit:
          type: number
        ExportLimit:
          type: number
        CurrentSchedule:
          type: number
        Purchase:
          type: number
        Sale:
          type: number
        TotalExports:
          type: number
        TotalImports:
          type: number
      required:
      - BeginDate
      - Location
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ExternalFlow
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    ExternalFlows:
      type: object
      properties:
        ExternalFlow:
          type: array
          items:
            $ref: '#/components/schemas/ExternalFlow'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ExternalFlows
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
