openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Powersystem API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: powersystem
  description: 2 path template(s) under /powersystem in the published ISO New England Web Services API v1.1 documentation.
paths:
  /powersystem:
    get:
      operationId: getPowersystem
      summary: Default resource
      description: Default resource. Redirects to status.
      tags:
      - powersystem
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.powersystem.html
        harvested: '2026-07-27'
  /powersystem/status:
    get:
      operationId: getPowersystemStatus
      summary: Get the current Power System Regional Status and any current OP4 Alerts
      description: Get the current Power System Regional Status and any current OP4 Alerts.
      tags:
      - powersystem
      responses:
        '200':
          description: a PowerSystemStatusElement containing the status and OP4 Alerts
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PowerSystemStatus'
            application/json:
              schema:
                $ref: '#/components/schemas/PowerSystemStatus'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.powersystem.status.html
        harvested: '2026-07-27'
      x-xml-element: PowerSystemStatus
components:
  schemas:
    Op4Alerts:
      type: object
      properties:
        Op4Alert:
          type: array
          items:
            $ref: '#/components/schemas/Op4Alert'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Op4Alerts
    PowerSystemRegion:
      type: object
      properties:
        RegionId:
          type: integer
        RegionName:
          type: string
        Status:
          type: string
          enum:
          - Normal
          - Power Caution
          - Power Watch
          - Power Warning
          - Cold Weather Watch Conditions
          - Cold Weather Warning Conditions
          - Cold Weather Event Conditions
          - Master/Local Control Center 2 Alert
          - Energy Emergency
        StatusDescription:
          type: string
        DateUpdated:
          type: string
          format: date-time
      required:
      - RegionId
      - RegionName
      - Status
      - StatusDescription
      - DateUpdated
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_PowerSystemRegion
    PowerSystemStatus:
      type: object
      properties:
        Op4Alerts:
          $ref: '#/components/schemas/Op4Alerts'
        PowerSystemRegions:
          $ref: '#/components/schemas/PowerSystemRegions'
      required:
      - PowerSystemRegions
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_PowerSystemStatus
    Op4Alert:
      type: object
      properties:
        AlertId:
          type: integer
        Status:
          type: string
          enum:
          - Caution
          - Watch
          - Warning
        Action:
          type: string
          enum:
          - Action 1
          - Action 2
          - Action 3
          - Action 4
          - Action 5
          - Action 6
          - Action 7
          - Action 8
          - Action 9
          - Action 10
          - Action 11
        ActionDescription:
          type: string
        DateInEffect:
          type: string
          format: date-time
        TimeIn:
          type: string
        TimeOut:
          type: string
      required:
      - AlertId
      - Status
      - Action
      - ActionDescription
      - DateInEffect
      - TimeIn
      - TimeOut
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_Op4Alert
    PowerSystemRegions:
      type: object
      properties:
        PowerSystemRegion:
          type: array
          items:
            $ref: '#/components/schemas/PowerSystemRegion'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_PowerSystemRegions
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
