openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Realtimeconstraints…
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: realtimeconstraints
  description: 9 path template(s) under /realtimeconstraints in the published ISO New England Web Services API v1.1 documentation.
paths:
  /realtimeconstraints:
    get:
      operationId: getRealtimeconstraints
      summary: Default resource
      description: Default resource. Redirects to Real Time Constraints Info.
      tags:
      - realtimeconstraints
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimeconstraints.html
        harvested: '2026-07-27'
  /realtimeconstraints/current:
    get:
      operationId: getRealtimeconstraintsCurrent
      summary: Get the current Real Time Constraints
      description: Get the current Real Time Constraints .
      tags:
      - realtimeconstraints
      responses:
        '200':
          description: a RealTimeConstraintsElement containing the current Real Time Constraints.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimeconstraints.current.html
        harvested: '2026-07-27'
  /realtimeconstraints/current/hour:
    get:
      operationId: getRealtimeconstraintsCurrentHour
      summary: Get the current Hour Real Time Constraints
      description: Get the current Hour Real Time Constraints .
      tags:
      - realtimeconstraints
      responses:
        '200':
          description: a RealTimeConstraintsElement containing the current Hour Real Time Constraints.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimeconstraints.current.hour.html
        harvested: '2026-07-27'
  /realtimeconstraints/day/{day}:
    get:
      operationId: getRealtimeconstraintsDayByDay
      summary: Get Real Time Constraints for the day
      description: Get Real Time Constraints for the day.
      tags:
      - realtimeconstraints
      responses:
        '200':
          description: a RealTimeConstraintsElement containing the Real Time constraints.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimeconstraints.day.day.html
        harvested: '2026-07-27'
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /realtimeconstraints/final:
    get:
      operationId: getRealtimeconstraintsFinal
      summary: Get the Service Info for Final Real Time Constraints
      description: Get the Service Info for Final Real Time Constraints.
      tags:
      - realtimeconstraints
      responses:
        '200':
          description: the ServiceInfoElement for Final Real Time Constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimeconstraints.final.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /realtimeconstraints/final/current:
    get:
      operationId: getRealtimeconstraintsFinalCurrent
      summary: Get the current Final Real Time Constraints
      description: Get the current Final Real Time Constraints .
      tags:
      - realtimeconstraints
      responses:
        '200':
          description: a RealTimeConstraintsElement containing the current Final Real Time Constraints.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimeconstraints.final.current.html
        harvested: '2026-07-27'
  /realtimeconstraints/final/day/{day}:
    get:
      operationId: getRealtimeconstraintsFinalDayByDay
      summary: Get Final Real Time Constraints for the day
      description: Get Final Real Time Constraints for the day.
      tags:
      - realtimeconstraints
      responses:
        '200':
          description: a RealTimeConstraintsElement containing the Final Real Time constraints.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimeconstraints.final.day.day.html
        harvested: '2026-07-27'
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /realtimeconstraints/final/info:
    get:
      operationId: getRealtimeconstraintsFinalInfo
      summary: Get the Service Info for Final Real Time Constraints
      description: Get the Service Info for Final Real Time Constraints.
      tags:
      - realtimeconstraints
      responses:
        '200':
          description: the ServiceInfoElement for Final Real Time Constraints.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimeconstraints.final.info.html
        harvested: '2026-07-27'
  /realtimeconstraints/info:
    get:
      operationId: getRealtimeconstraintsInfo
      summary: Get the Service Info for Real Time Constraints
      description: Get the Service Info for Real Time Constraints.
      tags:
      - realtimeconstraints
      responses:
        '200':
          description: the ServiceInfoElement for Real Time Constraints.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.realtimeconstraints.info.html
        harvested: '2026-07-27'
components:
  schemas:
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
