openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Singlesrccontingencylimits API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: singlesrccontingencylimits
  description: 6 path template(s) under /singlesrccontingencylimits in the published ISO New England Web Services API v1.1 documentation.
paths:
  /singlesrccontingencylimits:
    get:
      operationId: getSinglesrccontingencylimits
      summary: Default resource
      description: Default resource. Redirects to Single Source Contingency Limits Info .
      tags:
      - singlesrccontingencylimits
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.singlesrccontingencylimits.html
        harvested: '2026-07-27'
  /singlesrccontingencylimits/current:
    get:
      operationId: getSinglesrccontingencylimitsCurrent
      summary: Get the current Single Source Contingency Limits
      description: Get the current Single Source Contingency Limits.
      tags:
      - singlesrccontingencylimits
      responses:
        '200':
          description: a SingleSrcContingencyLimitsElement containing the current Single Source Contingency Limits.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SingleSrcContingencyLimits'
            application/json:
              schema:
                $ref: '#/components/schemas/SingleSrcContingencyLimits'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.singlesrccontingencylimits.current.html
        harvested: '2026-07-27'
      x-xml-element: SingleSrcContingencyLimits
  /singlesrccontingencylimits/current/interface/{interfaceName}:
    get:
      operationId: getSinglesrccontingencylimitsCurrentInterfaceByInterfaceName
      summary: Get the current Single Source Contingency Limits for a given interface name
      description: Get the current Single Source Contingency Limits for a given interface name.
      tags:
      - singlesrccontingencylimits
      responses:
        '200':
          description: a SingleSrcContingencyLimitElement containing the current Single Source Contingency Limit for the given interface.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SingleSrcContingencyLimit'
            application/json:
              schema:
                $ref: '#/components/schemas/SingleSrcContingencyLimit'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.singlesrccontingencylimits.current.interface.interfaceName.html
        harvested: '2026-07-27'
      x-xml-element: SingleSrcContingencyLimit
      parameters:
      - name: interfaceName
        in: path
        required: true
        schema:
          type: string
  /singlesrccontingencylimits/day/{day}:
    get:
      operationId: getSinglesrccontingencylimitsDayByDay
      summary: Get an entire days Single Source for days
      description: Get an entire days Single Source for days. Only the past [?] days are supported.
      tags:
      - singlesrccontingencylimits
      responses:
        '200':
          description: a SingleSrcContingencyLimitsElement containing the Single Source Contingency Limits for given day.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SingleSrcContingencyLimits'
            application/json:
              schema:
                $ref: '#/components/schemas/SingleSrcContingencyLimits'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.singlesrccontingencylimits.day.day.html
        harvested: '2026-07-27'
      x-xml-element: SingleSrcContingencyLimits
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /singlesrccontingencylimits/day/{day}/interface/{interfaceName}:
    get:
      operationId: getSinglesrccontingencylimitsDayByDayInterfaceByInterfaceName
      summary: Get an entire days Single Source for given interface
      description: Get an entire days Single Source for given interface. Only the past [?] days are supported.
      tags:
      - singlesrccontingencylimits
      responses:
        '200':
          description: a SingleSrcContingencyLimitsElement containing the Single Source Contingency Limits for given day, given interface.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SingleSrcContingencyLimits'
            application/json:
              schema:
                $ref: '#/components/schemas/SingleSrcContingencyLimits'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.singlesrccontingencylimits.day.day.interface.interfaceName.html
        harvested: '2026-07-27'
      x-xml-element: SingleSrcContingencyLimits
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: interfaceName
        in: path
        required: true
        schema:
          type: string
  /singlesrccontingencylimits/info:
    get:
      operationId: getSinglesrccontingencylimitsInfo
      summary: Get the Service Info for Single Source Contingency Limits
      description: Get the Service Info for Single Source Contingency Limits.
      tags:
      - singlesrccontingencylimits
      responses:
        '200':
          description: the ServiceInfoElement for Single Source Contingency Limits.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.singlesrccontingencylimits.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
components:
  schemas:
    SingleSrcContingencyLimits:
      type: object
      properties:
        SingleSrcContingencyLimit:
          type: array
          items:
            $ref: '#/components/schemas/SingleSrcContingencyLimit'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_SingleSrcContingencyLimits
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    SingleSrcContingencyLimit:
      type: object
      properties:
        BeginDate:
          type: string
          format: date-time
        RtFlowMw:
          type: number
        LowestLimitMw:
          type: number
        DistributionFactor:
          type: number
        InterfaceName:
          type: string
        ActMarginMw:
          type: number
        AuthorizedMarginMw:
          type: number
        BaseLimitMw:
          type: number
        SingleSrcContingencyMw:
          type: number
      required:
      - BeginDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_SingleSrcContingencyLimit
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
