openapi: 3.2.0
info:
  title: ISO New England Web Services API v1.1 Capacityscarcitycondition API
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path, method, parameter, description, media type and schema in this document is copied from the provider's published sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: capacityscarcitycondition
  description: 6 path template(s) under /capacityscarcitycondition in the published ISO New England Web Services API v1.1 documentation.
paths:
  /capacityscarcitycondition:
    get:
      operationId: getCapacityscarcitycondition
      summary: Default resource
      description: Default resource. Redirects to Capacity Scarcity Condition Info .
      tags:
      - capacityscarcitycondition
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.capacityscarcitycondition.html
        harvested: '2026-07-27'
  /capacityscarcitycondition/current:
    get:
      operationId: getCapacityscarcityconditionCurrent
      summary: Get the current Capacity Scarcity Condition Report
      description: Get the current Capacity Scarcity Condition Report.
      tags:
      - capacityscarcitycondition
      responses:
        '200':
          description: a CapacityScarcityConditionsElement containing the current Capacity Scarcity Conditions.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.capacityscarcitycondition.current.html
        harvested: '2026-07-27'
      x-xml-element: CapacityScarcityConditions
  /capacityscarcitycondition/day/{day}:
    get:
      operationId: getCapacityscarcityconditionDayByDay
      summary: Get an entire day of Capacity Scarcity Conditions for given day
      description: Get an entire day of Capacity Scarcity Conditions for given day.
      tags:
      - capacityscarcitycondition
      responses:
        '200':
          description: a CapacityScarcityConditionsElement containing the Capacity Scarcity Conditions.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.capacityscarcitycondition.day.day.html
        harvested: '2026-07-27'
      x-xml-element: CapacityScarcityConditions
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /capacityscarcitycondition/info:
    get:
      operationId: getCapacityscarcityconditionInfo
      summary: Get the Service Info for Capacity Scarcity Condition Report
      description: Get the Service Info for Capacity Scarcity Condition Report.
      tags:
      - capacityscarcitycondition
      responses:
        '200':
          description: the ServiceInfoElement for Capacity Scarcity Condition.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.capacityscarcitycondition.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /capacityscarcitycondition/month/{month}:
    get:
      operationId: getCapacityscarcityconditionMonthByMonth
      summary: Get an entire month Capacity Scarcity Conditions for given month
      description: Get an entire month Capacity Scarcity Conditions for given month.
      tags:
      - capacityscarcitycondition
      responses:
        '200':
          description: a CapacityScarcityConditionsElement containing the Capacity Scarcity Conditions.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.capacityscarcitycondition.month.month.html
        harvested: '2026-07-27'
      x-xml-element: CapacityScarcityConditions
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
  /capacityscarcitycondition/year/{year}:
    get:
      operationId: getCapacityscarcityconditionYearByYear
      summary: Get an entire Years Capacity Scarcity Conditions
      description: Get an entire Years Capacity Scarcity Conditions.
      tags:
      - capacityscarcitycondition
      responses:
        '200':
          description: a CapacityScarcityConditionsElement containing the Capacity Scarcity Conditions.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.capacityscarcitycondition.year.year.html
        harvested: '2026-07-27'
      x-xml-element: CapacityScarcityConditions
      parameters:
      - name: year
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    CapacityScarcityConditions:
      type: object
      properties:
        CapacityScarcityCondition:
          type: array
          items:
            $ref: '#/components/schemas/CapacityScarcityCondition'
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_CapacityScarcityConditions
    ServiceInfo:
      type: object
      properties:
        LatestBeginDate:
          type: string
          format: date-time
        CreationDate:
          type: string
          format: date-time
      required:
      - LatestBeginDate
      - CreationDate
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_ServiceInfo
    CapacityScarcityCondition:
      type: object
      properties:
        TradingIntervalBegin:
          type: string
          format: date-time
        LocationId:
          type: integer
        LocationName:
          type: string
        SystemCondition:
          type: string
      required:
      - TradingIntervalBegin
      x-xsd-source: schemas/iso-new-england-web-services-ns0.xsd#type_CapacityScarcityCondition
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication over SSL. Credentials come from a free, self-serve ISO Express account; ISO New England states that ISO Express account holders are automatically granted access to the public data feeds. See https://www.iso-ne.com/participate/applications-status-changes/access-software-systems
