openapi: 3.1.0
info:
  title: ISO New England Web Services API v1.1
  version: '1.1'
  description: RESTful interface to ISO New England energy and market data. This OpenAPI document was DERIVED by
    API Evangelist from ISO New England's own published, machine-generated Enunciate technical documentation at
    https://webservices.iso-ne.com/docs/v1.1/ and the two XML Schemas it publishes (ns0.xsd, ns1.xsd, saved verbatim
    under schemas/). ISO New England does not publish an OpenAPI definition; the only provider-published machine-readable
    description of the interface is a WADL at https://webservices.iso-ne.com/api/v1.1?_wadl&_type=xml, which sits
    behind the same HTTP Basic authentication as the API and returned HTTP 401 to anonymous probes. Every path,
    method, parameter, description, media type and schema in this document is copied from the provider's published
    sources; nothing was invented. Each operation carries x-evidence naming the exact documentation page it came
    from. All feeds are available in XML and JSON, selected by adding a .xml or .json extension to the request URL
    or by sending an Accept header of application/xml or application/json.
  contact:
    name: ISO New England Ask ISO
    url: https://askiso.iso-ne.com/s/
  x-provenance:
    method: derived
    derived_by: API Evangelist enrichment pipeline
    derived_on: '2026-07-27'
    sources:
    - https://webservices.iso-ne.com/docs/v1.1/
    - https://webservices.iso-ne.com/docs/v1.1/ns0.xsd
    - https://webservices.iso-ne.com/docs/v1.1/ns1.xsd
    - https://www.iso-ne.com/participate/support/web-services-data
    not_provider_published: true
    note: Derived from provider-published HTML documentation and XSDs. Not an ISO New England artifact.
servers:
- url: https://webservices.iso-ne.com/api/v1.1
  description: Production base path (HTTP Basic over SSL)
security:
- basicAuth: []
tags:
- name: actualinterchange
  description: 4 path template(s) under /actualinterchange in the published ISO New England Web Services API v1.1
    documentation.
- name: ams
  description: 4 path template(s) under /ams in the published ISO New England Web Services API v1.1 documentation.
- name: capacityscarcitycondition
  description: 6 path template(s) under /capacityscarcitycondition in the published ISO New England Web Services
    API v1.1 documentation.
- name: combinedhourlydemand
  description: 3 path template(s) under /combinedhourlydemand in the published ISO New England Web Services API
    v1.1 documentation.
- name: daasreservedata
  description: 3 path template(s) under /daasreservedata in the published ISO New England Web Services API v1.1
    documentation.
- name: daasstrikeprices
  description: 3 path template(s) under /daasstrikeprices in the published ISO New England Web Services API v1.1
    documentation.
- name: dailyofferthreshprice
  description: 5 path template(s) under /dailyofferthreshprice in the published ISO New England Web Services API
    v1.1 documentation.
- name: dayaheadconstraints
  description: 4 path template(s) under /dayaheadconstraints in the published ISO New England Web Services API v1.1
    documentation.
- name: dayaheadhourlydemand
  description: 6 path template(s) under /dayaheadhourlydemand in the published ISO New England Web Services API
    v1.1 documentation.
- name: dayaheadhourlyoperatingreserve
  description: 6 path template(s) under /dayaheadhourlyoperatingreserve in the published ISO New England Web Services
    API v1.1 documentation.
- name: dayaheadlmpavgcongestion
  description: 5 path template(s) under /dayaheadlmpavgcongestion in the published ISO New England Web Services
    API v1.1 documentation.
- name: dayaheadprdclearing
  description: 5 path template(s) under /dayaheadprdclearing in the published ISO New England Web Services API v1.1
    documentation.
- name: dayaheadvirtualproxy
  description: 6 path template(s) under /dayaheadvirtualproxy in the published ISO New England Web Services API
    v1.1 documentation.
- name: drdispatch
  description: 6 path template(s) under /drdispatch in the published ISO New England Web Services API v1.1 documentation.
- name: drtp
  description: 5 path template(s) under /drtp in the published ISO New England Web Services API v1.1 documentation.
- name: fcmabp
  description: 4 path template(s) under /fcmabp in the published ISO New England Web Services API v1.1 documentation.
- name: fcmara
  description: 4 path template(s) under /fcmara in the published ISO New England Web Services API v1.1 documentation.
- name: fcmmbp
  description: 4 path template(s) under /fcmmbp in the published ISO New England Web Services API v1.1 documentation.
- name: fcmmra
  description: 4 path template(s) under /fcmmra in the published ISO New England Web Services API v1.1 documentation.
- name: fifteenminuteconstraints
  description: 5 path template(s) under /fifteenminuteconstraints in the published ISO New England Web Services
    API v1.1 documentation.
- name: fifteenminuteinterchange
  description: 6 path template(s) under /fifteenminuteinterchange in the published ISO New England Web Services
    API v1.1 documentation.
- name: fifteenminutelmp
  description: 5 path template(s) under /fifteenminutelmp in the published ISO New England Web Services API v1.1
    documentation.
- name: fiveminuteconstraints
  description: 4 path template(s) under /fiveminuteconstraints in the published ISO New England Web Services API
    v1.1 documentation.
- name: fiveminuteestimatedzonalload
  description: 5 path template(s) under /fiveminuteestimatedzonalload in the published ISO New England Web Services
    API v1.1 documentation.
- name: fiveminuteexternalflow
  description: 7 path template(s) under /fiveminuteexternalflow in the published ISO New England Web Services API
    v1.1 documentation.
- name: fiveminutelmp
  description: 14 path template(s) under /fiveminutelmp in the published ISO New England Web Services API v1.1 documentation.
- name: fiveminutercp
  description: 7 path template(s) under /fiveminutercp in the published ISO New England Web Services API v1.1 documentation.
- name: fiveminutereserveprice
  description: 13 path template(s) under /fiveminutereserveprice in the published ISO New England Web Services API
    v1.1 documentation.
- name: fiveminutesystemload
  description: 4 path template(s) under /fiveminutesystemload in the published ISO New England Web Services API
    v1.1 documentation.
- name: fiveminutezonalloadforecast
  description: 3 path template(s) under /fiveminutezonalloadforecast in the published ISO New England Web Services
    API v1.1 documentation.
- name: forecastcapacity
  description: 6 path template(s) under /forecastcapacity in the published ISO New England Web Services API v1.1
    documentation.
- name: frmdtp
  description: 5 path template(s) under /frmdtp in the published ISO New England Web Services API v1.1 documentation.
- name: ftrauctionclearingprices
  description: 4 path template(s) under /ftrauctionclearingprices in the published ISO New England Web Services
    API v1.1 documentation.
- name: ftrauctionresults
  description: 4 path template(s) under /ftrauctionresults in the published ISO New England Web Services API v1.1
    documentation.
- name: genfuelmix
  description: 6 path template(s) under /genfuelmix in the published ISO New England Web Services API v1.1 documentation.
- name: hbannualftrauction
  description: 4 path template(s) under /hbannualftrauction in the published ISO New England Web Services API v1.1
    documentation.
- name: hbdaasardoffer
  description: 3 path template(s) under /hbdaasardoffer in the published ISO New England Web Services API v1.1 documentation.
- name: hbdaasdrroffer
  description: 3 path template(s) under /hbdaasdrroffer in the published ISO New England Web Services API v1.1 documentation.
- name: hbdaasenergyoffer
  description: 3 path template(s) under /hbdaasenergyoffer in the published ISO New England Web Services API v1.1
    documentation.
- name: hbdayaheadardbid
  description: 4 path template(s) under /hbdayaheadardbid in the published ISO New England Web Services API v1.1
    documentation.
- name: hbdayaheaddemandbid
  description: 6 path template(s) under /hbdayaheaddemandbid in the published ISO New England Web Services API v1.1
    documentation.
- name: hbdayaheaddrrbid
  description: 3 path template(s) under /hbdayaheaddrrbid in the published ISO New England Web Services API v1.1
    documentation.
- name: hbdayaheadenergyoffer
  description: 4 path template(s) under /hbdayaheadenergyoffer in the published ISO New England Web Services API
    v1.1 documentation.
- name: hbdayaheadloadresponseoffer
  description: 4 path template(s) under /hbdayaheadloadresponseoffer in the published ISO New England Web Services
    API v1.1 documentation.
- name: hbfcmara
  description: 5 path template(s) under /hbfcmara in the published ISO New England Web Services API v1.1 documentation.
- name: hbfcmmra
  description: 4 path template(s) under /hbfcmmra in the published ISO New England Web Services API v1.1 documentation.
- name: hbforwardreserveauctionoffer
  description: 3 path template(s) under /hbforwardreserveauctionoffer in the published ISO New England Web Services
    API v1.1 documentation.
- name: hbimportexport
  description: 4 path template(s) under /hbimportexport in the published ISO New England Web Services API v1.1 documentation.
- name: hbmonthlyftrauction
  description: 4 path template(s) under /hbmonthlyftrauction in the published ISO New England Web Services API v1.1
    documentation.
- name: hbrealtimeardbid
  description: 4 path template(s) under /hbrealtimeardbid in the published ISO New England Web Services API v1.1
    documentation.
- name: hbrealtimedrrbid
  description: 3 path template(s) under /hbrealtimedrrbid in the published ISO New England Web Services API v1.1
    documentation.
- name: hbrealtimeenergyoffer
  description: 4 path template(s) under /hbrealtimeenergyoffer in the published ISO New England Web Services API
    v1.1 documentation.
- name: hbregulationoffer
  description: 4 path template(s) under /hbregulationoffer in the published ISO New England Web Services API v1.1
    documentation.
- name: hourlybainterchange
  description: 4 path template(s) under /hourlybainterchange in the published ISO New England Web Services API v1.1
    documentation.
- name: hourlyfinalreserveprice
  description: 7 path template(s) under /hourlyfinalreserveprice in the published ISO New England Web Services API
    v1.1 documentation.
- name: hourlylmp
  description: 24 path template(s) under /hourlylmp in the published ISO New England Web Services API v1.1 documentation.
- name: hourlyloadforecast
  description: 5 path template(s) under /hourlyloadforecast in the published ISO New England Web Services API v1.1
    documentation.
- name: hourlyloadgeninterchange
  description: 4 path template(s) under /hourlyloadgeninterchange in the published ISO New England Web Services
    API v1.1 documentation.
- name: hourlyper
  description: 5 path template(s) under /hourlyper in the published ISO New England Web Services API v1.1 documentation.
- name: hourlyprelimreserveprice
  description: 7 path template(s) under /hourlyprelimreserveprice in the published ISO New England Web Services
    API v1.1 documentation.
- name: hourlyrcp
  description: 8 path template(s) under /hourlyrcp in the published ISO New England Web Services API v1.1 documentation.
- name: hourlysysload
  description: 8 path template(s) under /hourlysysload in the published ISO New England Web Services API v1.1 documentation.
- name: lmpIndex
  description: 12 path template(s) under /lmpIndex in the published ISO New England Web Services API v1.1 documentation.
- name: loadzonencpc
  description: 6 path template(s) under /loadzonencpc in the published ISO New England Web Services API v1.1 documentation.
- name: locations
  description: 3 path template(s) under /locations in the published ISO New England Web Services API v1.1 documentation.
- name: monthlyassetncpc
  description: 4 path template(s) under /monthlyassetncpc in the published ISO New England Web Services API v1.1
    documentation.
- name: monthlylmpindex
  description: 4 path template(s) under /monthlylmpindex in the published ISO New England Web Services API v1.1
    documentation.
- name: monthlyper
  description: 5 path template(s) under /monthlyper in the published ISO New England Web Services API v1.1 documentation.
- name: morningreport
  description: 6 path template(s) under /morningreport in the published ISO New England Web Services API v1.1 documentation.
- name: ncpc
  description: 5 path template(s) under /ncpc in the published ISO New England Web Services API v1.1 documentation.
- name: networkload
  description: 4 path template(s) under /networkload in the published ISO New England Web Services API v1.1 documentation.
- name: nextdayoperationalcapacityreport
  description: 4 path template(s) under /nextdayoperationalcapacityreport in the published ISO New England Web Services
    API v1.1 documentation.
- name: nodalloadstat
  description: 3 path template(s) under /nodalloadstat in the published ISO New England Web Services API v1.1 documentation.
- name: nodalloadweight
  description: 6 path template(s) under /nodalloadweight in the published ISO New England Web Services API v1.1
    documentation.
- name: outages
  description: 20 path template(s) under /outages in the published ISO New England Web Services API v1.1 documentation.
- name: performancescore
  description: 4 path template(s) under /performancescore in the published ISO New England Web Services API v1.1
    documentation.
- name: powersystem
  description: 2 path template(s) under /powersystem in the published ISO New England Web Services API v1.1 documentation.
- name: powersystemconditions
  description: 4 path template(s) under /powersystemconditions in the published ISO New England Web Services API
    v1.1 documentation.
- name: pricerespevent
  description: 5 path template(s) under /pricerespevent in the published ISO New England Web Services API v1.1 documentation.
- name: realtimeconstraints
  description: 9 path template(s) under /realtimeconstraints in the published ISO New England Web Services API v1.1
    documentation.
- name: realtimehourlydemand
  description: 6 path template(s) under /realtimehourlydemand in the published ISO New England Web Services API
    v1.1 documentation.
- name: realtimehourlyoperatingreserve
  description: 6 path template(s) under /realtimehourlyoperatingreserve in the published ISO New England Web Services
    API v1.1 documentation.
- name: reliabilityregionloadforecast
  description: 5 path template(s) under /reliabilityregionloadforecast in the published ISO New England Web Services
    API v1.1 documentation.
- name: schedule2varstatus
  description: 4 path template(s) under /schedule2varstatus in the published ISO New England Web Services API v1.1
    documentation.
- name: seasonalpeakhourdata
  description: 4 path template(s) under /seasonalpeakhourdata in the published ISO New England Web Services API
    v1.1 documentation.
- name: sevendayforecast
  description: 5 path template(s) under /sevendayforecast in the published ISO New England Web Services API v1.1
    documentation.
- name: sevendaywindpowerforecast
  description: 4 path template(s) under /sevendaywindpowerforecast in the published ISO New England Web Services
    API v1.1 documentation.
- name: singlesrccontingencylimits
  description: 6 path template(s) under /singlesrccontingencylimits in the published ISO New England Web Services
    API v1.1 documentation.
- name: totaltransfercapability
  description: 5 path template(s) under /totaltransfercapability in the published ISO New England Web Services API
    v1.1 documentation.
- name: weeklylmpindex
  description: 4 path template(s) under /weeklylmpindex in the published ISO New England Web Services API v1.1 documentation.
- name: whlsecost
  description: 8 path template(s) under /whlsecost in the published ISO New England Web Services API v1.1 documentation.
paths:
  /actualinterchange:
    get:
      operationId: getActualinterchange
      summary: Default resource
      description: Default resource. Redirects to Actual Interchange Info.
      tags:
      - actualinterchange
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.actualinterchange.html
        harvested: '2026-07-27'
  /actualinterchange/current:
    get:
      operationId: getActualinterchangeCurrent
      summary: Get the current Actual Interchange for all locations
      description: Get the current Actual Interchange for all locations.
      tags:
      - actualinterchange
      responses:
        '200':
          description: a ActualInterchangesElement containing the current Actual Interchange.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ActualInterchanges'
            application/json:
              schema:
                $ref: '#/components/schemas/ActualInterchanges'
              example:
                ActualInterchanges:
                  ActualInterchange:
                  - Sale: 70
                    Purchase: -2
                    ActInterchange: 68
                    BeginDate: '2026-07-27T15:00:00.000-04:00'
                    Location:
                      '@LocId': '4010'
                      $: .I.SALBRYNB345 1
                  - Sale: 1718.75
                    Purchase: -938.25
                    ActInterchange: 780.5
                    BeginDate: '2026-07-27T15:00:00.000-04:00'
                    Location:
                      '@LocId': '4011'
                      $: .I.ROSETON 345 1
                  - Sale: 0
                    Purchase: 0
                    ActInterchange: 0
                    BeginDate: '2026-07-27T15:00:00.000-04:00'
                    Location:
                      '@LocId': '4012'
                      $: .I.HQ_P1_P2345 5
                  - Sale: 0
                    Purchase: 0
                    ActInterchange: 0
                    BeginDate: '2026-07-27T15:00:00.000-04:00'
                    Location:
                      '@LocId': '4013'
                      $: .I.HQHIGATE120 2
                  - Sale: 300
                    Purchase: 0
                    ActInterchange: 300
                    BeginDate: '2026-07-27T15:00:00.000-04:00'
                    Location:
                      '@LocId': '4014'
                      $: .I.SHOREHAM138 99
                  - Sale: 200
                    Purchase: 0
                    ActInterchange: 200
                    BeginDate: '2026-07-27T15:00:00.000-04:00'
                    Location:
                      '@LocId': '4017'
                      $: .I.NRTHPORT138 5
                  - Sale: 0
                    Purchase: -1120
                    ActInterchange: -1120
                    BeginDate: '2026-07-27T15:00:00.000-04:00'
                    Location:
                      '@LocId': '4018'
                      $: .I.HQMRL_RD345 1
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.actualinterchange.current.html
        harvested: '2026-07-27'
      x-xml-element: ActualInterchanges
      x-example-evidence:
        source: https://www.iso-ne.com/ws/wsclient (public ISO Express dashboard proxy, anonymous POST)
        observed: '2026-07-27'
        note: Real response payload observed anonymously through the public dashboard proxy; the proxy envelope
          and its _url key were removed.
  /actualinterchange/day/{day}:
    get:
      operationId: getActualinterchangeDayByDay
      summary: Get an entire days Actaul Interchanges for a given Date
      description: Get an entire days Actaul Interchanges for a given Date.
      tags:
      - actualinterchange
      responses:
        '200':
          description: a ActualInterchangesElement containing the Actual Interchanges.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ActualInterchanges'
            application/json:
              schema:
                $ref: '#/components/schemas/ActualInterchanges'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.actualinterchange.day.day.html
        harvested: '2026-07-27'
      x-xml-element: ActualInterchanges
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /actualinterchange/info:
    get:
      operationId: getActualinterchangeInfo
      summary: Get the Service Info for Actual Interchange
      description: Get the Service Info for Actual Interchange.
      tags:
      - actualinterchange
      responses:
        '200':
          description: the ServiceInfoElement for Actual Interchange.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.actualinterchange.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /ams:
    get:
      operationId: getAms
      summary: Default resource
      description: Default resource. Redirects to AMS Info.
      tags:
      - ams
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ams.html
        harvested: '2026-07-27'
  /ams/current:
    get:
      operationId: getAmsCurrent
      summary: GET /ams/current
      description: (no documentation provided)
      tags:
      - ams
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ams.current.html
        harvested: '2026-07-27'
  /ams/day/{day}:
    get:
      operationId: getAmsDayByDay
      summary: Get an entire days HbDayAheadRegulationOffers
      description: Get an entire days HbDayAheadRegulationOffers.
      tags:
      - ams
      responses:
        '200':
          description: a HbRegulationOfferElement containing the HbRegulationOffers.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ams.day.day.html
        harvested: '2026-07-27'
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /ams/info:
    get:
      operationId: getAmsInfo
      summary: Get the Service Info for AMS
      description: Get the Service Info for AMS.
      tags:
      - ams
      responses:
        '200':
          description: the ServiceInfoElement for AMS.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.ams.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /capacityscarcitycondition:
    get:
      operationId: getCapacityscarcitycondition
      summary: Default resource
      description: Default resource. Redirects to Capacity Scarcity Condition Info .
      tags:
      - capacityscarcitycondition
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.capacityscarcitycondition.html
        harvested: '2026-07-27'
  /capacityscarcitycondition/current:
    get:
      operationId: getCapacityscarcityconditionCurrent
      summary: Get the current Capacity Scarcity Condition Report
      description: Get the current Capacity Scarcity Condition Report.
      tags:
      - capacityscarcitycondition
      responses:
        '200':
          description: a CapacityScarcityConditionsElement containing the current Capacity Scarcity Conditions.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.capacityscarcitycondition.current.html
        harvested: '2026-07-27'
      x-xml-element: CapacityScarcityConditions
  /capacityscarcitycondition/day/{day}:
    get:
      operationId: getCapacityscarcityconditionDayByDay
      summary: Get an entire day of Capacity Scarcity Conditions for given day
      description: Get an entire day of Capacity Scarcity Conditions for given day.
      tags:
      - capacityscarcitycondition
      responses:
        '200':
          description: a CapacityScarcityConditionsElement containing the Capacity Scarcity Conditions.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.capacityscarcitycondition.day.day.html
        harvested: '2026-07-27'
      x-xml-element: CapacityScarcityConditions
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /capacityscarcitycondition/info:
    get:
      operationId: getCapacityscarcityconditionInfo
      summary: Get the Service Info for Capacity Scarcity Condition Report
      description: Get the Service Info for Capacity Scarcity Condition Report.
      tags:
      - capacityscarcitycondition
      responses:
        '200':
          description: the ServiceInfoElement for Capacity Scarcity Condition.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.capacityscarcitycondition.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /capacityscarcitycondition/month/{month}:
    get:
      operationId: getCapacityscarcityconditionMonthByMonth
      summary: Get an entire month Capacity Scarcity Conditions for given month
      description: Get an entire month Capacity Scarcity Conditions for given month.
      tags:
      - capacityscarcitycondition
      responses:
        '200':
          description: a CapacityScarcityConditionsElement containing the Capacity Scarcity Conditions.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.capacityscarcitycondition.month.month.html
        harvested: '2026-07-27'
      x-xml-element: CapacityScarcityConditions
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
  /capacityscarcitycondition/year/{year}:
    get:
      operationId: getCapacityscarcityconditionYearByYear
      summary: Get an entire Years Capacity Scarcity Conditions
      description: Get an entire Years Capacity Scarcity Conditions.
      tags:
      - capacityscarcitycondition
      responses:
        '200':
          description: a CapacityScarcityConditionsElement containing the Capacity Scarcity Conditions.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityScarcityConditions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.capacityscarcitycondition.year.year.html
        harvested: '2026-07-27'
      x-xml-element: CapacityScarcityConditions
      parameters:
      - name: year
        in: path
        required: true
        schema:
          type: string
  /combinedhourlydemand:
    get:
      operationId: getCombinedhourlydemand
      summary: Default resource
      description: Default resource. Redirects to Load Forecast Info .
      tags:
      - combinedhourlydemand
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.combinedhourlydemand.html
        harvested: '2026-07-27'
  /combinedhourlydemand/day/{day}/location/{locationId}:
    get:
      operationId: getCombinedhourlydemandDayByDayLocationByLocationId
      summary: Get an entire days Hourly Demand for given location
      description: Get an entire days Hourly Demand for given location. Only the past [?] days are supported.
      tags:
      - combinedhourlydemand
      responses:
        '200':
          description: a CombinedHourlyDemandsElement containing the Hourly Demand.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CombinedHourlyDemands'
            application/json:
              schema:
                $ref: '#/components/schemas/CombinedHourlyDemands'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.combinedhourlydemand.day.day.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: CombinedHourlyDemands
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /combinedhourlydemand/info:
    get:
      operationId: getCombinedhourlydemandInfo
      summary: Get the Service Info for Day Ahead Hourly Demand
      description: Get the Service Info for Day Ahead Hourly Demand.
      tags:
      - combinedhourlydemand
      responses:
        '200':
          description: the ServiceInfoElement for Day Ahead Hourly Demand.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.combinedhourlydemand.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /daasreservedata/current:
    get:
      operationId: getDaasreservedataCurrent
      summary: Get the current Five Min Estimated Zonal Load
      description: Get the current Five Min Estimated Zonal Load.
      tags:
      - daasreservedata
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.daasreservedata.current.html
        harvested: '2026-07-27'
  /daasreservedata/day/{day}:
    get:
      operationId: getDaasreservedataDayByDay
      summary: GET /daasreservedata/day/{day}
      description: (no documentation provided)
      tags:
      - daasreservedata
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.daasreservedata.day.day.html
        harvested: '2026-07-27'
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
  /daasreservedata/info:
    get:
      operationId: getDaasreservedataInfo
      summary: GET /daasreservedata/info
      description: (no documentation provided)
      tags:
      - daasreservedata
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.daasreservedata.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /daasstrikeprices/current:
    get:
      operationId: getDaasstrikepricesCurrent
      summary: Get the current DAAS Striking Prices
      description: Get the current DAAS Striking Prices.
      tags:
      - daasstrikeprices
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.daasstrikeprices.current.html
        harvested: '2026-07-27'
  /daasstrikeprices/day/{day}:
    get:
      operationId: getDaasstrikepricesDayByDay
      summary: GET /daasstrikeprices/day/{day}
      description: (no documentation provided)
      tags:
      - daasstrikeprices
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.daasstrikeprices.day.day.html
        harvested: '2026-07-27'
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
  /daasstrikeprices/info:
    get:
      operationId: getDaasstrikepricesInfo
      summary: GET /daasstrikeprices/info
      description: (no documentation provided)
      tags:
      - daasstrikeprices
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.daasstrikeprices.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /dailyofferthreshprice:
    get:
      operationId: getDailyofferthreshprice
      summary: Default resource
      description: Default resource. Redirects to DailyOfferThreshPrice Info.
      tags:
      - dailyofferthreshprice
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dailyofferthreshprice.html
        harvested: '2026-07-27'
  /dailyofferthreshprice/current:
    get:
      operationId: getDailyofferthreshpriceCurrent
      summary: Get the current DailyOfferThreshPrices for Hub, Load Zones, and External Nodes
      description: Get the current DailyOfferThreshPrices for Hub, Load Zones, and External Nodes.
      tags:
      - dailyofferthreshprice
      responses:
        '200':
          description: a DailyOfferThreshPricesElement containing the current DailyOfferThreshPrices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DailyOfferThreshPrices'
            application/json:
              schema:
                $ref: '#/components/schemas/DailyOfferThreshPrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dailyofferthreshprice.current.html
        harvested: '2026-07-27'
      x-xml-element: DailyOfferThreshPrices
  /dailyofferthreshprice/day/{day}:
    get:
      operationId: getDailyofferthreshpriceDayByDay
      summary: Get an entire days DailyOfferThreshPrices
      description: Get an entire days DailyOfferThreshPrices. Only the past [?] days are supported.
      tags:
      - dailyofferthreshprice
      responses:
        '200':
          description: a DailyOfferThreshPricesElement containing the DailyOfferThreshPrices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DailyOfferThreshPrices'
            application/json:
              schema:
                $ref: '#/components/schemas/DailyOfferThreshPrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dailyofferthreshprice.day.day.html
        harvested: '2026-07-27'
      x-xml-element: DailyOfferThreshPrices
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /dailyofferthreshprice/info:
    get:
      operationId: getDailyofferthreshpriceInfo
      summary: Get the Service Info for DailyOfferThreshPrices
      description: Get the Service Info for DailyOfferThreshPrices.
      tags:
      - dailyofferthreshprice
      responses:
        '200':
          description: the ServiceInfoElement for DailyOfferThreshPrices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dailyofferthreshprice.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /dailyofferthreshprice/month/{month}:
    get:
      operationId: getDailyofferthreshpriceMonthByMonth
      summary: Get an entire months DailyOfferThreshPrices
      description: Get an entire months DailyOfferThreshPrices. Only the past 30 days are supported.
      tags:
      - dailyofferthreshprice
      responses:
        '200':
          description: a DailyOfferThreshPricesElement containing the DailyOfferThreshPrices.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DailyOfferThreshPrices'
            application/json:
              schema:
                $ref: '#/components/schemas/DailyOfferThreshPrices'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dailyofferthreshprice.month.month.html
        harvested: '2026-07-27'
      x-xml-element: DailyOfferThreshPrices
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
        description: The month to retrieve data for (YYYYMM)
  /dayaheadconstraints:
    get:
      operationId: getDayaheadconstraints
      summary: Default resource
      description: Default resource. Redirects to Day Ahead Constraints Info.
      tags:
      - dayaheadconstraints
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadconstraints.html
        harvested: '2026-07-27'
  /dayaheadconstraints/current:
    get:
      operationId: getDayaheadconstraintsCurrent
      summary: 'Get the current Day Ahead Constraints '
      description: Get the current Day Ahead Constraints .
      tags:
      - dayaheadconstraints
      responses:
        '200':
          description: a DayAheadConstraintsElement containing the current Day Ahead Constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadConstraints'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadConstraints'
              example:
                DayAheadConstraints:
                  DayAheadConstraint:
                  - ConstraintName: MIS
                    ContingencyName: Interface
                    MarginalValue: -8.69
                    BeginDate: '2026-07-27T17:00:00.000-04:00'
                    InterfaceFlag: Y
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadconstraints.current.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadConstraints
      x-example-evidence:
        source: https://www.iso-ne.com/ws/wsclient (public ISO Express dashboard proxy, anonymous POST)
        observed: '2026-07-27'
        note: Real response payload observed anonymously through the public dashboard proxy; the proxy envelope
          and its _url key were removed.
  /dayaheadconstraints/day/{day}:
    get:
      operationId: getDayaheadconstraintsDayByDay
      summary: Get Day Ahead Constrains for the day
      description: Get Day Ahead Constrains for the day.
      tags:
      - dayaheadconstraints
      responses:
        '200':
          description: a DayAheadConstraintsElement containing the Day Ahead Constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadConstraints'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadConstraints'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadconstraints.day.day.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadConstraints
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /dayaheadconstraints/info:
    get:
      operationId: getDayaheadconstraintsInfo
      summary: Get the Service Info for Day Ahead Constraints
      description: Get the Service Info for Day Ahead Constraints.
      tags:
      - dayaheadconstraints
      responses:
        '200':
          description: the ServiceInfoElement for Day Ahead Constraints.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadconstraints.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /dayaheadhourlydemand:
    get:
      operationId: getDayaheadhourlydemand
      summary: Default resource
      description: Default resource. Redirects to Load Forecast Info .
      tags:
      - dayaheadhourlydemand
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadhourlydemand.html
        harvested: '2026-07-27'
  /dayaheadhourlydemand/current:
    get:
      operationId: getDayaheadhourlydemandCurrent
      summary: 'Get the current Day Ahead Hourly Demand '
      description: Get the current Day Ahead Hourly Demand .
      tags:
      - dayaheadhourlydemand
      responses:
        '200':
          description: a HourlyDaDemandsElement containing the current Day Ahead Hourly Demand.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyDaDemands'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyDaDemands'
              example:
                HourlyDaDemands:
                  HourlyDaDemand:
                  - Load: 17276
                    BeginDate: '2026-07-27T17:00:00.000-04:00'
                    Location:
                      '@LocId': '32'
                      $: NEPOOL AREA
                  - Load: -107.8
                    BeginDate: '2026-07-27T17:00:00.000-04:00'
                    Location:
                      '@LocId': '4000'
                      $: .H.INTERNAL_HUB
                  - Load: 1228.4
                    BeginDate: '2026-07-27T17:00:00.000-04:00'
                    Location:
                      '@LocId': '4001'
                      $: .Z.MAINE
                  - Load: 1726.2
                    BeginDate: '2026-07-27T17:00:00.000-04:00'
                    Location:
                      '@LocId': '4002'
                      $: .Z.NEWHAMPSHIRE
                  - Load: 680.5
                    BeginDate: '2026-07-27T17:00:00.000-04:00'
                    Location:
                      '@LocId': '4003'
                      $: .Z.VERMONT
                  - Load: 4401.1
                    BeginDate: '2026-07-27T17:00:00.000-04:00'
                    Location:
                      '@LocId': '4004'
                      $: .Z.CONNECTICUT
                  - Load: 1172
                    BeginDate: '2026-07-27T17:00:00.000-04:00'
                    Location:
                      '@LocId': '4005'
                      $: .Z.RHODEISLAND
                  - Load: 2100.9
                    BeginDate: '2026-07-27T17:00:00.000-04:00'
                    Location:
                      '@LocId': '4006'
                      $: .Z.SEMASS
                  - Load: 2304.4
                    BeginDate: '2026-07-27T17:00:00.000-04:00'
                    Location:
                      '@LocId': '4007'
                      $: .Z.WCMASS
                  - Load: 3526.2
                    BeginDate: '2026-07-27T17:00:00.000-04:00'
                    Location:
                      '@LocId': '4008'
                      $: .Z.NEMASSBOST
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadhourlydemand.current.html
        harvested: '2026-07-27'
      x-xml-element: HourlyDaDemands
      x-example-evidence:
        source: https://www.iso-ne.com/ws/wsclient (public ISO Express dashboard proxy, anonymous POST)
        observed: '2026-07-27'
        note: Real response payload observed anonymously through the public dashboard proxy; the proxy envelope
          and its _url key were removed.
  /dayaheadhourlydemand/current/location/{locationId}:
    get:
      operationId: getDayaheadhourlydemandCurrentLocationByLocationId
      summary: Get the current Day Ahead Hourly Demand for a given location
      description: Get the current Day Ahead Hourly Demand for a given location.
      tags:
      - dayaheadhourlydemand
      responses:
        '200':
          description: a HourlyDaDemandElement containing the current Real Time Hourly Demand for the given location.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyDaDemand'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyDaDemand'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadhourlydemand.current.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: HourlyDaDemand
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /dayaheadhourlydemand/current/locationType/{locationType}:
    get:
      operationId: getDayaheadhourlydemandCurrentLocationTypeByLocationType
      summary: Get the current Day Ahead Hourly Demand for a given location type
      description: Get the current Day Ahead Hourly Demand for a given location type.
      tags:
      - dayaheadhourlydemand
      responses:
        '200':
          description: a HourlyDaDemandsElement containing the current Day Ahead Hourly Demands for the given location
            type.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyDaDemands'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyDaDemands'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadhourlydemand.current.locationType.locationType.html
        harvested: '2026-07-27'
      x-xml-element: HourlyDaDemands
      parameters:
      - name: locationType
        in: path
        required: true
        schema:
          type: string
        description: The locationType
  /dayaheadhourlydemand/day/{day}/location/{locationId}:
    get:
      operationId: getDayaheadhourlydemandDayByDayLocationByLocationId
      summary: Get an entire days Day Ahead Hourly Demand for given location
      description: Get an entire days Day Ahead Hourly Demand for given location. Only the past [?] days are supported.
      tags:
      - dayaheadhourlydemand
      responses:
        '200':
          description: a HourlyDaDemandsElement containing the Day Ahead Hourly Demand.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyDaDemands'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyDaDemands'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadhourlydemand.day.day.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: HourlyDaDemands
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /dayaheadhourlydemand/info:
    get:
      operationId: getDayaheadhourlydemandInfo
      summary: Get the Service Info for Day Ahead Hourly Demand
      description: Get the Service Info for Day Ahead Hourly Demand.
      tags:
      - dayaheadhourlydemand
      responses:
        '200':
          description: the ServiceInfoElement for Day Ahead Hourly Demand.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadhourlydemand.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /dayaheadhourlyoperatingreserve:
    get:
      operationId: getDayaheadhourlyoperatingreserve
      summary: Default resource
      description: Default resource. Redirects to Load Forecast Info .
      tags:
      - dayaheadhourlyoperatingreserve
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadhourlyoperatingreserve.html
        harvested: '2026-07-27'
  /dayaheadhourlyoperatingreserve/current/all:
    get:
      operationId: getDayaheadhourlyoperatingreserveCurrentAll
      summary: 'Get the current Day Ahead Hourly Operating Reserves '
      description: Get the current Day Ahead Hourly Operating Reserves .
      tags:
      - dayaheadhourlyoperatingreserve
      responses:
        '200':
          description: a HourlyDaOperatingReservesElement containing the current Day Ahead Hourly Operating Reserves.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyDaOperatingReserves'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyDaOperatingReserves'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadhourlyoperatingreserve.current.all.html
        harvested: '2026-07-27'
      x-xml-element: HourlyDaOperatingReserves
  /dayaheadhourlyoperatingreserve/current/location/{locationId}:
    get:
      operationId: getDayaheadhourlyoperatingreserveCurrentLocationByLocationId
      summary: Get the current Day Ahead Hourly Operating Reserve for a given location
      description: Get the current Day Ahead Hourly Operating Reserve for a given location.
      tags:
      - dayaheadhourlyoperatingreserve
      responses:
        '200':
          description: a HourlyDaOperatingReserveElement containing the current Real Time Hourly Operating Reserve
            for the given location.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyDaOperatingReserve'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyDaOperatingReserve'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadhourlyoperatingreserve.current.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: HourlyDaOperatingReserve
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /dayaheadhourlyoperatingreserve/current/locationType/{locationType}:
    get:
      operationId: getDayaheadhourlyoperatingreserveCurrentLocationTypeByLocationType
      summary: Get the current Day Ahead Hourly Operating Reserve for a given location type
      description: Get the current Day Ahead Hourly Operating Reserve for a given location type.
      tags:
      - dayaheadhourlyoperatingreserve
      responses:
        '200':
          description: a HourlyDaOperatingReservesElement containing the current Day Ahead Hourly Operating Reserve
            for the given location type.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyDaOperatingReserves'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyDaOperatingReserves'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadhourlyoperatingreserve.current.locationType.locationType.html
        harvested: '2026-07-27'
      x-xml-element: HourlyDaOperatingReserves
      parameters:
      - name: locationType
        in: path
        required: true
        schema:
          type: string
        description: The locationType
  /dayaheadhourlyoperatingreserve/day/{day}/location/{locationId}:
    get:
      operationId: getDayaheadhourlyoperatingreserveDayByDayLocationByLocationId
      summary: Get an entire days Day Ahead Hourly Operating Reserve for given location
      description: Get an entire days Day Ahead Hourly Operating Reserve for given location. Only the past [?] days
        are supported.
      tags:
      - dayaheadhourlyoperatingreserve
      responses:
        '200':
          description: a HourlyDaOperatingReservesElement containing the Day Ahead Hourly Operating Reserve.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/HourlyDaOperatingReserves'
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyDaOperatingReserves'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadhourlyoperatingreserve.day.day.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: HourlyDaOperatingReserves
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The location id
  /dayaheadhourlyoperatingreserve/info:
    get:
      operationId: getDayaheadhourlyoperatingreserveInfo
      summary: Get the Service Info for Day Ahead Hourly Operating Reserve
      description: Get the Service Info for Day Ahead Hourly Operating Reserve.
      tags:
      - dayaheadhourlyoperatingreserve
      responses:
        '200':
          description: the ServiceInfoElement for Day Ahead Hourly OperatingReserve.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadhourlyoperatingreserve.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /dayaheadlmpavgcongestion:
    get:
      operationId: getDayaheadlmpavgcongestion
      summary: Default resource
      description: Default resource. Redirects to DayAheadLmpAvgCongestion.
      tags:
      - dayaheadlmpavgcongestion
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadlmpavgcongestion.html
        harvested: '2026-07-27'
  /dayaheadlmpavgcongestion/current:
    get:
      operationId: getDayaheadlmpavgcongestionCurrent
      summary: Get the current DayAheadLmpAvgCongestion
      description: Get the current DayAheadLmpAvgCongestion
      tags:
      - dayaheadlmpavgcongestion
      responses:
        '200':
          description: a DayAheadLmpAvgCongestion containing the current DayAheadLmpAvgCongestion.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadLmpAvgCongestions'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadLmpAvgCongestions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadlmpavgcongestion.current.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadLmpAvgCongestions
  /dayaheadlmpavgcongestion/info:
    get:
      operationId: getDayaheadlmpavgcongestionInfo
      summary: Get the Service Info for DayAheadLmpAvgCongestion
      description: Get the Service Info for DayAheadLmpAvgCongestion..
      tags:
      - dayaheadlmpavgcongestion
      responses:
        '200':
          description: the ServiceInfoElement for DayAheadLmpAvgCongestion.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadlmpavgcongestion.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /dayaheadlmpavgcongestion/month/{month}:
    get:
      operationId: getDayaheadlmpavgcongestionMonthByMonth
      summary: Get the DayAheadLmpAvgCongestion
      description: Get the DayAheadLmpAvgCongestion
      tags:
      - dayaheadlmpavgcongestion
      responses:
        '200':
          description: a DayAheadLmpAvgCongestion for the requested month DayAheadLmpAvgCongestion.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadLmpAvgCongestions'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadLmpAvgCongestions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadlmpavgcongestion.month.month.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadLmpAvgCongestions
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
  /dayaheadlmpavgcongestion/month/{month}/location/{locationId}:
    get:
      operationId: getDayaheadlmpavgcongestionMonthByMonthLocationByLocationId
      summary: Get the DayAheadLmpAvgCongestion
      description: Get the DayAheadLmpAvgCongestion
      tags:
      - dayaheadlmpavgcongestion
      responses:
        '200':
          description: a DayAheadLmpAvgCongestion for the requested month and Location DayAheadLmpAvgCongestion.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadLmpAvgCongestions'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadLmpAvgCongestions'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadlmpavgcongestion.month.month.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadLmpAvgCongestions
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
      - name: locationId
        in: path
        required: true
        schema:
          type: string
  /dayaheadprdclearing:
    get:
      operationId: getDayaheadprdclearing
      summary: Default resource
      description: Default resource. Redirects to DayAhead PRD clearing.
      tags:
      - dayaheadprdclearing
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadprdclearing.html
        harvested: '2026-07-27'
  /dayaheadprdclearing/current:
    get:
      operationId: getDayaheadprdclearingCurrent
      summary: Get the current DayAhead PRD clearing
      description: Get the current DayAhead PRD clearing
      tags:
      - dayaheadprdclearing
      responses:
        '200':
          description: a Ahead DayAhead PRD clearing containing the current DayAhead PRD clearing.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadPrdClearings'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadPrdClearings'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadprdclearing.current.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadPrdClearings
  /dayaheadprdclearing/info:
    get:
      operationId: getDayaheadprdclearingInfo
      summary: Get the Service Info for DayAhead PRD clearing
      description: Get the Service Info for DayAhead PRD clearing..
      tags:
      - dayaheadprdclearing
      responses:
        '200':
          description: the ServiceInfoElement for DayAhead PRD clearing.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadprdclearing.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /dayaheadprdclearing/month/{month}:
    get:
      operationId: getDayaheadprdclearingMonthByMonth
      summary: GET /dayaheadprdclearing/month/{month}
      description: (no documentation provided)
      tags:
      - dayaheadprdclearing
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadPrdClearings'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadPrdClearings'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadprdclearing.month.month.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadPrdClearings
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
  /dayaheadprdclearing/month/{month}/location/{locationId}:
    get:
      operationId: getDayaheadprdclearingMonthByMonthLocationByLocationId
      summary: GET /dayaheadprdclearing/month/{month}/location/{locationId}
      description: (no documentation provided)
      tags:
      - dayaheadprdclearing
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadPrdClearings'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadPrdClearings'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadprdclearing.month.month.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadPrdClearings
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
      - name: locationId
        in: path
        required: true
        schema:
          type: string
  /dayaheadvirtualproxy:
    get:
      operationId: getDayaheadvirtualproxy
      summary: Default resource
      description: Default resource. Redirects to DayAhead Virtual Bid Financial Assurance Proxy.
      tags:
      - dayaheadvirtualproxy
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadvirtualproxy.html
        harvested: '2026-07-27'
  /dayaheadvirtualproxy/current:
    get:
      operationId: getDayaheadvirtualproxyCurrent
      summary: Get the current DayAhead Virtual Bid Financial Assurance Proxy
      description: Get the current DayAhead Virtual Bid Financial Assurance Proxy
      tags:
      - dayaheadvirtualproxy
      responses:
        '200':
          description: a Virtual Bid Financial Assurance Proxy containing the current DayAhead Virtual Bid Financial
            Assurance Proxy.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadvirtualproxy.current.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadVirtualProxys
  /dayaheadvirtualproxy/current/location/{locationId}:
    get:
      operationId: getDayaheadvirtualproxyCurrentLocationByLocationId
      summary: Get the current DayAhead Virtual Bid Financial Assurance Proxy for given locationId
      description: Get the current DayAhead Virtual Bid Financial Assurance Proxy for given locationId
      tags:
      - dayaheadvirtualproxy
      responses:
        '200':
          description: a Virtual Bid Financial Assurance Proxy containing DayAhead Virtual Bid Financial Assurance
            Proxy.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadvirtualproxy.current.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadVirtualProxys
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: string
  /dayaheadvirtualproxy/info:
    get:
      operationId: getDayaheadvirtualproxyInfo
      summary: Get the Service Info for DayAhead Virtual Bid Financial Assurance Proxy
      description: Get the Service Info for DayAhead Virtual Bid Financial Assurance Proxy..
      tags:
      - dayaheadvirtualproxy
      responses:
        '200':
          description: the ServiceInfoElement for ayAhead Virtual Bid Financial Assurance Proxy.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadvirtualproxy.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /dayaheadvirtualproxy/month/{month}:
    get:
      operationId: getDayaheadvirtualproxyMonthByMonth
      summary: Get DayAhead Virtual Bid Financial Assurance Proxy for Requested Month
      description: Get DayAhead Virtual Bid Financial Assurance Proxy for Requested Month
      tags:
      - dayaheadvirtualproxy
      responses:
        '200':
          description: a Virtual Bid Financial Assurance Proxy containing DayAhead Virtual Bid Financial Assurance
            Proxy.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadvirtualproxy.month.month.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadVirtualProxys
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
  /dayaheadvirtualproxy/month/{month}/location/{locationId}:
    get:
      operationId: getDayaheadvirtualproxyMonthByMonthLocationByLocationId
      summary: Get the DayAhead Virtual Bid Financial Assurance Proxy for month and given location
      description: Get the DayAhead Virtual Bid Financial Assurance Proxy for month and given location
      tags:
      - dayaheadvirtualproxy
      responses:
        '200':
          description: a Virtual Bid Financial Assurance Proxy containing DayAhead Virtual Bid Financial Assurance
            Proxy.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadVirtualProxys'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.dayaheadvirtualproxy.month.month.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: DayAheadVirtualProxys
      parameters:
      - name: month
        in: path
        required: true
        schema:
          type: string
      - name: locationId
        in: path
        required: true
        schema:
          type: string
  /drdispatch:
    get:
      operationId: getDrdispatch
      summary: Default resource
      description: Default resource. Redirects to DR Dispatch Info .
      tags:
      - drdispatch
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drdispatch.html
        harvested: '2026-07-27'
  /drdispatch/current:
    get:
      operationId: getDrdispatchCurrent
      summary: Get the current DR Dispatches
      description: Get the current DR Dispatches.
      tags:
      - drdispatch
      responses:
        '200':
          description: a DrDispatchElement containing the current DR Dispatches.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DrDispatches'
            application/json:
              schema:
                $ref: '#/components/schemas/DrDispatches'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drdispatch.current.html
        harvested: '2026-07-27'
      x-xml-element: DrDispatches
  /drdispatch/current/location/{locationId}:
    get:
      operationId: getDrdispatchCurrentLocationByLocationId
      summary: Get the current DR Dispatches for a given dispatch zone
      description: Get the current DR Dispatches for a given dispatch zone.
      tags:
      - drdispatch
      responses:
        '200':
          description: a DrDispatchElement containing the current DR Dispatches for the given dispatch zone.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DrDispatches'
            application/json:
              schema:
                $ref: '#/components/schemas/DrDispatches'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drdispatch.current.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: DrDispatches
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The dispatch zone id
  /drdispatch/day/{day}:
    get:
      operationId: getDrdispatchDayByDay
      summary: Get an entire days DR Dispatch for given dispatch zone
      description: Get an entire days DR Dispatch for given dispatch zone. Only the past [?] days are supported.
      tags:
      - drdispatch
      responses:
        '200':
          description: a DrDispatchElement containing the DR Dispatch.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DrDispatches'
            application/json:
              schema:
                $ref: '#/components/schemas/DrDispatches'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drdispatch.day.day.html
        harvested: '2026-07-27'
      x-xml-element: DrDispatches
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
  /drdispatch/day/{day}/location/{locationId}:
    get:
      operationId: getDrdispatchDayByDayLocationByLocationId
      summary: Get an entire days DR Dispatch for given dispatch zone
      description: Get an entire days DR Dispatch for given dispatch zone. Only the past [?] days are supported.
      tags:
      - drdispatch
      responses:
        '200':
          description: a DrDispatchElement containing the DR Dispatch.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DrDispatches'
            application/json:
              schema:
                $ref: '#/components/schemas/DrDispatches'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drdispatch.day.day.location.locationId.html
        harvested: '2026-07-27'
      x-xml-element: DrDispatches
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: The day to retrieve data for (YYYYMMDD)
      - name: locationId
        in: path
        required: true
        schema:
          type: string
        description: The dispatch zone id
  /drdispatch/info:
    get:
      operationId: getDrdispatchInfo
      summary: Get the Service Info for DR Dispatch
      description: Get the Service Info for DR Dispatch.
      tags:
      - drdispatch
      responses:
        '200':
          description: the ServiceInfoElement for DR Dispatch.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drdispatch.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /drtp:
    get:
      operationId: getDrtp
      summary: Default resource
      description: Default resource. Redirects to DRTP.
      tags:
      - drtp
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                description: Response payload is not described in the published documentation.
            application/json:
              schema:
                description: Response payload is not described in the published documentation.
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drtp.html
        harvested: '2026-07-27'
  /drtp/current:
    get:
      operationId: getDrtpCurrent
      summary: Get the current DRTP
      description: Get the current DRTP.
      tags:
      - drtp
      responses:
        '200':
          description: a DrtpResultsElement containing the current DRTPs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DrtpResults'
            application/json:
              schema:
                $ref: '#/components/schemas/DrtpResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drtp.current.html
        harvested: '2026-07-27'
      x-xml-element: DrtpResults
  /drtp/day/{day}:
    get:
      operationId: getDrtpDayByDay
      summary: Get an entire Month DRTPs
      description: Get an entire Month DRTPs.
      tags:
      - drtp
      responses:
        '200':
          description: a DrtpResultsElement containing the DRTPs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DrtpResults'
            application/json:
              schema:
                $ref: '#/components/schemas/DrtpResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drtp.day.day.html
        harvested: '2026-07-27'
      x-xml-element: DrtpResults
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: Retrieve data for the entire month that the day is in(YYYYMMDD)
  /drtp/detail/day/{day}:
    get:
      operationId: getDrtpDetailDayByDay
      summary: Get an entire Month Supply CurvePairs
      description: Get an entire Month Supply CurvePairs.
      tags:
      - drtp
      responses:
        '200':
          description: a SupplyCurvePairsElement containing the DRTPs.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SupplyCurvePairs'
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyCurvePairs'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drtp.detail.day.day.html
        harvested: '2026-07-27'
      x-xml-element: SupplyCurvePairs
      parameters:
      - name: day
        in: path
        required: true
        schema:
          type: string
        description: Retrieve data for the entire month that the day is in (YYYYMMDD)
  /drtp/info:
    get:
      operationId: getDrtpInfo
      summary: Get the Service Info for Drtp
      description: Get the Service Info for Drtp.
      tags:
      - drtp
      responses:
        '200':
          description: the ServiceInfoElement for DRTP.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.drtp.info.html
        harvested: '2026-07-27'
      x-xml-element: ServiceInfo
  /fcmabp/cp/{cp}:
    get:
      operationId: getFcmabpCpByCp
      summary: GET /fcmabp/cp/{cp}
      description: (no documentation provided)
      tags:
      - fcmabp
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FCMBilateralResults'
            application/json:
              schema:
                $ref: '#/components/schemas/FCMBilateralResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fcmabp.cp.cp.html
        harvested: '2026-07-27'
      x-xml-element: FCMBilateralResults
      parameters:
      - name: cp
        in: path
        required: true
        schema:
          type: string
  /fcmabp/cp/{cp}/arabp/{arabp}:
    get:
      operationId: getFcmabpCpByCpArabpByArabp
      summary: GET /fcmabp/cp/{cp}/arabp/{arabp}
      description: (no documentation provided)
      tags:
      - fcmabp
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FCMBilateralResults'
            application/json:
              schema:
                $ref: '#/components/schemas/FCMBilateralResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
        source: https://webservices.iso-ne.com/docs/v1.1/rest.fcmabp.cp.cp.arabp.arabp.html
        harvested: '2026-07-27'
      x-xml-element: FCMBilateralResults
      parameters:
      - name: cp
        in: path
        required: true
        schema:
          type: string
      - name: arabp
        in: path
        required: true
        schema:
          type: string
  /fcmabp/current:
    get:
      operationId: getFcmabpCurrent
      summary: GET /fcmabp/current
      description: (no documentation provided)
      tags:
      - fcmabp
      responses:
        '200':
          description: Successful response.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FCMBilateralResults'
            application/json:
              schema:
                $ref: '#/components/schemas/FCMBilateralResults'
        '401':
          description: Unauthorized - HTTP Basic credentials from an ISO Express account are required. Verified
            by anonymous probe on 2026-07-27.
      x-evidence:
[...]
